.btn {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box
}

.btn::-moz-focus-inner {
    padding: 0;
    border: 0
}

.btn-group {
    letter-spacing: -.31em;
    text-rendering: optimizespeed
}

.opera-only :-o-prefocus, .btn-group {
    word-spacing: -.43em
}

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #f5f8fa;
    border: 1px solid #999;
    border: transparent;
    // background-color: #E6E6E6;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat #3f464f;
    text-decoration: none;
    border-radius: 2px
}

.btn-hover, .btn:focus, .btn:hover {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

.btn:focus {
    outline: 0
}

.btn-active, .btn:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
    border-color: #000\9
}

.btn-disabled, .btn-disabled:active, .btn-disabled:focus, .btn-disabled:hover, .btn[disabled] {
    border: none;
    background-image: none;
    filter: alpha(opacity=40);
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none
}

.btn-hidden {
    display: none
}

.btn-primary, .btn-selected, a.btn-primary, a.btn-selected {
    background-color: #0078e7;
    color: #fff
}

.btn-group .btn {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;
    border-right: 1px solid rgba(0, 0, 0, .2)
}

.btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none
}
