$header: 65px;
$sidebar: 250px;
$mobileNav: 400px;
$footer: 100px;

$blue: #0085BF;
$darkbackground: #212831;
$l-darkbackground: #272f38;
$l2-darkbackground: #3f464f;
$l3-darkbackground: #535a63;
$l4-darkbackground: #5c656f;
$lightbackground: #d1d2d4;
$black: #333;
$green: #3b9343;

$darklinkcolor: #5083b5;
$lightlinkcolor: #99BCD1;
$brightlinkcolor: #6297cb;
$l-brightlinkcolor: #54a6f2;

$pri-w-highlight: #a4b500;
$sec-w-highlight: #f9a17a;
$pri-c-highlight: #20a898;

$darkbordercolor: #63737f;
$medbordercolor: #81919d;
$lightbordercolor: #bbbdc0;

$shadow: 0 2px 2px rgba(0,0,0,0.5);

$montserrat: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $open-sans: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$source-sans: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* download Lato */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:300,400,700);
