$nav: 250px;
$header: 150px;
$color: #0085BF;

$shadow: 0 2px 2px rgba(0,0,0,0.5);

$sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif: "Lora", "Times", serif;

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url('./fonts/Lora-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url('./fonts/Lora-Bold.ttf') format('opentype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url('./fonts/Lora-Italic.ttf') format('opentype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url('./fonts/Lora-BoldItalic.ttf') format('opentype');
}
