.home #main #content {
	border-radius: 10px;
	margin: 10px 0 0 0;
	width: 1000px;
}
.home #main #content .text{
	float: left;
	margin: 0 20px 0 0;
	width: 340px;
}
.home #main #content .text h3{
	line-height: 32px;
	margin: 0 0 10px 0;
	font-size: 32px;
	font-weight: 100;
}
.home #main #content .text p{
	font-size: 22px;
}
.home #main #content .text ul{
	font-size: 18px;
	list-style: circle;
	line-height: 26px;
}
.home #main #content .headline{
	float: left;
	width: 640px;
}
.home #main #content .headline .overlay {
	border-bottom: solid 1px #ccc;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	width: 640px;
}
.home #main #content .headline .overlay img.pin{
	float: left;
	margin: 0 25px 0 0;
	width: 100px;
}
.home #main #content .headline .overlay h2{
	font-size: 65px;
	font-weight: 100;
	float: left;
	margin: 0;
	width: 400px;
	text-transform: uppercase;
}
.home #main #content .other_apps h3{
	font-size: 28px;
	font-weight: normal;
	margin: 20px 0 10px 0;
	text-align: center;
}
.home #main #content .other_apps div{
	float: left;
	margin: 0 30px 0 0;
	width: 310px;
}
.home #main #content .other_apps div img{
	width: 310px;
}
.home #main #content .other_apps div:last-child{
	margin: 0;
}