/*
 * Basic stuff
 */
body {
  font-family: 'PT Sans Narrow', sans-serif, 'Arial';
  font-size: 14px;
  background: #fafafa url('/media/img/all/containers.png') bottom right no-repeat;
  color: #343434;
  margin: 0;
  padding: 0;
}

a:active, a:focus { outline-style: none; -moz-outline-style:none; }
a, a:active, a:visited { color: #4f4f4f; }
a:hover { text-decoration: underline; }

p {
  font-family:'PT Sans Narrow',Helvetica,Arial;
  font-size: 14px;
  color:#343434;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 {font-size: 26px;}
h2 {font-size: 22px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}

dl dt {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}
dl dd {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.4;
  color: #666;
}

.disabled {
  color: #bbb !important;
  cursor: default;
  pointer-events: none;
}

button {
  font-family: 'PT Sans Narrow',Helvetica,Arial;
  text-decoration: none;
  display: block;
  padding: 5px;
  border: 1px solid #DDD;
  text-align: center;

  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;

  background:#FFFFFF;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
  background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
button:hover {
  border-color:#999;
  background:#aaa;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#aaa));
  background:-moz-linear-gradient(0% 90% 90deg, #bbb, #aaa);
}
button:active {
  background:#888;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#999));
  background:-moz-linear-gradient(0% 90% 90deg, #888, #999);
}


/*
 * Page container
 */
#container {
  margin: 0 auto;
  width: 960px;
  margin: 0 auto;
  width: 1020px;
}

/*
 * Warning top of page
 */
.alert {
  border: solid 1px #EED3D7;
  background: #F2DEDE;
  color: #B94A48;
  font-size: 16px;
  padding: 10px 0;
}
.warning {
  border: solid 1px #f0c36d;
  background: #f9edbe;
  color: #a07631;
  font-size: 16px;
  padding: 10px 0;
}
.alert a,
.warning a {
  color: inherit;
}
.alert div,
.warning div{
  margin: auto;
  width: 1000px;
}
.alert h4,
.warning h4 {
  font-weight: bold;
  margin: 0;
}

/*
 * Header
 */
header {
  margin: 0 0 0 0;
}
header .logo {
  float: left;
  width: 30%;
}
header nav {
  float: right;
  width: 448px;
  text-align: center;
}
header nav ul {
  background: white;
  border: solid 1px #ccc;
  float: right;
  display: inline;
  height: 26px;
  margin: -2px 0px 0px 0px;
  padding: 11px 0px 10px 0px;
  
  -moz-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
header nav ul li{
  display: inline;
  margin: 0;
}
header nav ul li a{
  color: grey;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  font-size: 18px;
  line-height: 25px;
  padding: 2px 15px 2px 15px;
  text-decoration: none;
}
header nav ul li a:hover{
  color: black;
  text-decoration: none;
}
header nav ul li a.current{
  color: black;
  text-decoration: underline;
}
header .language_select{
  display: inline;
  float: right;
  margin-right: 10px;
  text-align: center;
  margin-top: 9px;
}
header .language_select select{
  width: 120px;
  float: left;
}
header .language_select .text{
  margin: 5px;
  float: left;
}
header .language_select .chzn-container{
  float: left;
}
header h1 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
header h1 a img {
  margin: -5px 0px 0px 0px;
  height: 57px;
}


/*
 * Center of page, the content
 */
#main {
  border: 0px solid black;
  margin: 0;
  margin-bottom: 10px;
  overflow: hidden; /* to clear floats */
  width: 100%; /* to clear floats */
}


/*
 * Title of page
 */
.app_title{
  float: left;
  height: 50px;
}
.app_title h2 {
  font-family: 'Cardo', serif, 'Times';
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin: 6px 0 0 10px;
  width: 815px;
/*  width: 828px;*/
}
.app_title#icons{
  width: 188px;
}
.app_title#icons .left{
  float: left;
}
.app_title#icons h2{
  font-size: 20px;
  line-height: 20px;
  width: 60px;
  text-align: center;
  margin: 6px 0px 0px 0px;
}
.app_title#icons h2.small{
  margin-top: 15px;
}
.app_title#icons h2.larger{
  font-size: 30px;
  line-height: 34px;
}
.app_title#icons img{
  width: 50px;
}
.app_title#icons img.community{
  margin: 10px 0 0 0;
  width: 40px;
}
  
  
  
  
  #main .app_title_img {
    float: left;
    margin: 0 0 0 186px;
    min-height: 45px;
    width: 50px;
  }
    .app #main .app_title_img img {
      border: 0;
      padding: 0 10px 0 0;
      vertical-align: bottom;
      width: 48px;
    }
    .app #main .app_title_img.community_icon {
      margin-top: 8px;
      width: 40px;
    }
    .app #main .app_title_img.community_icon img {
      width: 26px;
    }
  .app #main .app_title_title {
    float: left;
    margin: 7px 0 0 7px;
    width: 415px;
  }
  .app #main .app_title_year {
    float: right;
    margin: 3px 195px 0 0;
    text-align: right;
    width: 160px;
  }
    .app #main .app_title_title h2,
    .app #main .app_title_year h2 {
      font-size: 30px;
      display: inline;
      line-height: 1.4em;
      margin: 0;
      font-weight: normal;
    }
    .app #main .app_title_title.product_name {
      margin: 8px 0 0 0;
    }
    .app #main .app_title_title.product_name h2{
      font-size: 24px;
    }
  .app #main .app_title_desc {
    margin: 0 0 5px 186px;
    text-align: left;
  }
  .app #main .app_title_desc h3 {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }
  .app #main .app_title_desc img {
    width: 22px;
    vertical-align: top;
  }
	
	#dataviz svg {
		width:100%;
		height: 100%;
	}


/*
 * Left hand side the app selection pane
 */  
.app #main #app_pane {
  background-color: #fff;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-radius: 10px 0 0 10px;
  font-size: 90%;
  float: left;
/*  padding: 10px;*/
  margin-left: 0px;
  padding-bottom: 0px;
  min-height: 440px;
  width: 185px;
  z-index: 1;
}
.app #main #app_pane > *{
  padding: 10px;
}
.app #main #app_pane a{
text-decoration: none;
}
.app #main #app_pane .accordion {
  width: 165px;
  font-size: 95%;
}
.app #main #app_pane .accordion > div > div,
.app #main #app_pane .accordion > div > ul {
  display: none;
}
.app #main #app_pane .accordion div a {
  font-family:'PT Sans Narrow',Helvetica,Arial;
  font-size:90%;
  padding-top: 2px;
  padding-bottom: 2px;
}
.app #main #app_pane .accordion h3 {
  font-family:'PT Sans Narrow',Helvetica,Arial;
  font-size:120%;
  font-weight:500;
}
.app #main #app_pane .accordion div div{
/*  display: none;*/
  padding: 0 10px 5px 10px;
}
.app #main #app_pane .accordion div div h4 {
  border-bottom: solid 1px #999;
  font-family:'PT Sans Narrow',Helvetica,Arial;
  font-size:95%;
  font-weight:500;
  margin: 0;
  padding: 0 0 2px 0;
}
.app #main #app_pane .accordion div ul {
  font-size: 10pt;
  line-height:1.1;
  margin: 0 0 5px 0;
  overflow: hidden;
  padding: 5px 10px 10px 10px;
  text-align: left;
}
.app #main #app_pane .accordion div ul li a,
.app #main #app_pane .accordion div div ul li a {
  background: url("/media/img/app/minieye.png") left 4px no-repeat;
  padding-left: 18px;
}
.app #main #app_pane .accordion div ul li a.disabled,
.app #main #app_pane .accordion div div ul li a.disabled {
  background: url("/media/img/app/minieye_disabled.png") left 4px no-repeat;
}
.app #main #app_pane .accordion div div ul {
  font-size: 10pt;
  line-height:1.1;
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
  text-align: left;
}


/*
 * Right hand side the app specific tool pane
 */
.app #main #tool_pane {
  background: #fff;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-radius: 0 10px 10px 0;
  font-size:90%;
  float: left;
  z-index: 0;
  width:185px;
}
.app #main #tool_pane > *{
  padding: 0 10px;
}
.app #main #tool_pane h3 {
  font-weight: normal;
  margin: 0 0 2px 0;
}
.app #main .ui-buttonset,
.app #main .ui-button {
  font-family: 'PT Sans Narrow',Helvetica,Arial;
}
.app #main .ui-button-text{
  padding: 2px 6px
}
.app #main #tool_pane .dropdown_container {
  clear: both;
}
.app #main #tool_pane .dropdown_container select {
  margin: 0 0 14px 0;
  width: 163px;
}
.app #main #tool_pane .dropdown_container#year_start {
  float: left;
  padding-right: 5px;
  clear: none;
}
.app #main #tool_pane .dropdown_container#year_end {
  float: left;
  padding-left: 5px;
  clear: none;
}
.app #main #tool_pane .dropdown_container#year_start select,
.app #main #tool_pane .dropdown_container#year_end select {
  width: 75px;
}
.app #main #tool_pane .chzn-container {
  cursor: pointer;
  margin: 0 0 5px 0;
}
.app #main #tool_pane button {
  background:#888;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#999));
  background:-moz-linear-gradient(0% 90% 90deg, #999, #888);
  color: #fff;
  margin: 25px 10px 0 10px;
  padding: 5px 0;
  width: 165px;
}
.app #main #tool_pane hr {
  background: #cccccc;
  clear: both;
  margin: 12px 0;
  height: 0.5px;
}
.app #main #tool_pane .control_container {
  margin: 10px 0;
}
.app #main #tool_pane .control_container a {
  margin: 0 5px 0 0;
}

.app #main #tool_pane .control_container h3 {
  font-size: 14px;
  margin: 0;
}
.app #main #tool_pane .control_container img {
  width: 10px;
}
.app #main #tool_pane .embed_code {
  border: solid 1px #ccc;
  font-family: monospace;
  font-size: 10px;
/*  height: 75px;*/
  overflow: hidden;
  width: 160px;
}
/* change product classification */
.product_class select {
  width: 52px
}
.product_class .chzn-container-single .chzn-single {
  height: 18px;
  line-height: 18px;
  padding: 0 0 0 3px;
}
.product_class .chzn-container-single .chzn-single div {
  width: 15px;
}
.product_class .chzn-container-single .chzn-single div b {
  background-position: -1px -3px;
}
.product_class .chzn-container-single .chzn-single span {
  margin-right: 15px;
}
.product_class .chzn-container-single .chzn-search {
  display: none;
}
.product_class .chzn-container .chzn-results li {
  padding: 3px 7px 4px;
}
.app #main .pane_title{
  background: url('/media/img/all/containers_trans.png') no-repeat;
  background-position: -43px -104px;
  margin: 0;
  text-align: center;
  padding: 10px !important;
}


/*
 * Center of the page, app canvas
 */  
.app #main #content {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 0 0 10px 10px !important;
  float: left;
  overflow: hidden;
  padding: 0 !important;
  width: 640px;
  z-index: 10;
}
.app #main #content #dataviz {
  height: 380px;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.app #main #content #text_data{
  display: none;
  height: 500px;
  overflow-y: scroll;
}
.app #main #content #text_data table{
  width: 100%;
}
.app #main #content #text_data table tr.odd{
  background: #eee;
}
.app #main #content #text_data table td,
.app #main #content #text_data table th{
  padding: 2px 6px;
  vertical-align: top;
}
.app #main #content #text_data table td:nth-child(4),
.app #main #content #text_data table td:nth-child(5),
.app #main #content #text_data table td:nth-child(6){
  text-align: right;
}
.app #main #content #text_data table tbody tr:nth-child(even) {
  background: white;
}
.app #main #content #text_data table tbody tr:nth-child(odd) {
  background: #F4F5F7;
}
/* key */
.app #main #content .key {
  padding: 3px;
  text-align: center;
}
.app #main #content .key img {
  width: 15px;
}
.app #main #content .key#hs4 img {
  width: 25px;
}
.app #main #content .key#hs4 a {
  padding: 2px 10px 2px 0;
}
.app #main #content .key a {
  cursor: pointer;
  margin: 1px;
}
.app #main #content .key a.country {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  margin: 3px 2px;
  padding: 2px;
  text-decoration: none;
}

/*
 * Timeline
 */
.app #main #content #timeline {
  padding: 10px;
  overflow: hidden;
}
.app #main #content #timeline button{
  float: left;
  height: 30px;
  width: 60px;
  padding: 0px;
  margin: 0px 160px;
}
.app #main #content #timeline button#stop{
  display: none;
}
.app #main #content #timeline .slider{
  margin: 0 10px 10px 10px;
  width: 590px;
}
.app #main #content #timeline .slider .ui-slider-handle{
  font-size: 10px;
  padding: 4px;
  text-decoration: none;
  width: auto;
}
.app #main #content #timeline .slider#interval {
/*  height: 4px;*/
  margin: auto;
  width: 100px;
}
.app #main #content #timeline a.prev{
  float: left;
  width: 100px;
  margin-left: 20px;
}
.app #main #content #timeline a.next{
  float: right;
  width: 100px;
  margin-right: 20px;
  text-align: right;
}
.app #main #content #timeline #stacked_controls {
  display: none;
  margin: auto;
  width: 515px;
}
.app #main #content #timeline #stacked_controls > div {
  display: inline-block;
  margin: 0 35px 0 0;
  vertical-align: top;
}
.app #main #content #timeline #stacked_controls > div:last-child {
  margin: 0;
}
.app #main #content #timeline #stacked_controls p {
  margin: 0;
}

.app #loader {
  clear: both;
  display: none;
  height: 0;
  width: 640px;
  text-align: center;
  position: relative;
  top: 150px;
  z-index: 99999;
}
.app #no_data {
  display: none;
  left: 250px;
  height: 0px;
  position: relative;
  top: 40px;
  width: 600px;
  z-index: 99999;
}
.app #no_data h3 {
  display: inline;
  font-size: 36px;
  margin: 0;
}
.app #no_data p {
  display: inline;
  text-align: left;
}  


/*
 * Bottom of page footer
 */
footer p {
  font-size: 80%;
  padding-bottom: 10px;
  text-align: center;
}

footer p img{
	margin: 0 20px;
}

/*
 * Fix for FF
 */
@-moz-document url-prefix() {
  #app_pane {
    /*padding-bottom:15px;*/
    height:492px;
  }
  
  #tool_pane {
    top:-413px;
  }
}
/*
 * Fix for iPad
 */
@media screen and (max-device-width: 1024px) {
  #app_pane {
    padding-bottom:17px;
  }
  
  #tool_pane {
    top:-415px;
  }
}
/*
 * Buttons for social sites
 */
#social {
  font-family:'PT Sans Narrow',Helvetica,Arial;
  font-size: 12px;
  color:#343434;
  margin: 35px 0;
  padding:0;
  text-align:center;
}


/*
 * Tooltip styling for apps
 */
.tooltip{
  color:#fff;
  font:15px/1.1 Arial,Georgia,sans-serif;
  font-weight: bold;
  text-shadow: 0 -1px 1px #222;
  position:absolute; 
  padding:5px 10px; 
  top:20px; 
  margin:1em 0 3em;
  background:#075698; 
  left:20px;
  border: solid 1px #ddd;

  -moz-border-radius:4px; 
  -webkit-border-radius:4px; 
  border-radius:4px;   
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(10,10,10,1)), to(rgba(25,25,25,.65)));
  background:-moz-linear-gradient(top,rgba(10,10,10,1),rgba(80,80,80,.9));
  background:-o-linear-gradient(top,rgba(10,10,10,1),rgba(80,80,80,.9));
  background:linear-gradient(top,rgba(10,10,10,1),rgba(80,80,80,.9));

  -moz-box-shadow: 0px 0px 4px #000; /* FF3.5+ */ 
  -webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */ 
  box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE 9.0 */ 
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000'); /* IE6,IE7 */ 
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000')"; /* IE8 */
  width: 200px;
  z-index: 9999;
}
.tooltip img {
  float: left;
/*  margin: 0 10px 0 0;*/
  margin: 2px 0 0 0;
  width: 20px;
}
.tooltip span.tt_title {
  float: right;
  width: 170px;
}
.tooltip table {
  font-size: 11px;
  margin: 10px 0 0 0;
  width: 100%;
}
.tooltip table td{
  text-align: right;
}
.tooltip table td:first-child{
  text-align: left;
  width: 75%;
}
.tooltip table td:last-child{
  text-align: left;
}


#main #sidebar {
  border-radius: 10px 0 0 10px;
  float: left;
  padding: 10px;
/*  margin-left: 0px;
  padding-bottom: 0px;*/
  width: 165px;
  background-color: #fff;
  border: 1px solid #cccccc;
}

#main #sidebar {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 10px 0 0 10px;
  float: left;
  padding: 10px;
  text-align: left;
  width: 265px;
}
#main #sidebar h3 {
  border-bottom: 1px solid #ccc;
  font-family: 'Cardo', sans-serif, 'Arial';
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

#main #content {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 0 10px 10px 0;
  float: left;
  overflow: hidden;
  padding: 10px;
  width: 700px;
  z-index: 10;
}
dl.file_list dd {
  overflow: hidden;
}
dl.file_list img {
  float: left;
  margin: 0 5px 0 0;
  width: 30px;
  vertical-align: top;
}
dl.file_list p {
  margin: 0 5px 0 0;
  width: 250px;
  vertical-align: top;
}

#main #content .atlas_book_content img{
  margin: 20px 60px;
}
#main #content .license{
  font-size: 10px;
  text-align: center;
}
#main #content dl.data_source{
  margin: 0 0 0 40px;
}

#main #sidebar nav[role="navigation"] ul {
  margin: 0;
  padding: 0;
}
#main #sidebar nav[role="navigation"] ul li a {
  color: grey;
  display: block;
  padding: 5px;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
}
#main #sidebar nav[role="navigation"] ul li a:focus,
#main #sidebar nav[role="navigation"] ul li a:hover {
  background: #eee;
}
#main #sidebar nav[role="navigation"] ul li a.active {
/*  margin: 0 0 0 10px;*/
  color: black;
  text-decoration: underline;
}
/* Sub-nav*/
#main #sidebar nav[role="navigation"] ul li ul {
  margin: 0 0 0 20px;
}
#main #sidebar nav[role="navigation"] ul li ul li a{
  font-size: 13px;
}


#mouseover {
  position: absolute;
  left: -125px;
  font-size: 12px;
  line-height: 15px;
/*  padding: 10px;*/
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border: 1px solid rgba(200, 200, 200, 0.85);
  pointer-events: "none";
  text-align: center;
  width: 180px;
  z-index: 999;
}
#mouseover_cat {
  text-transform: uppercase;
  text-align: left;
  font-size: 10px;
  margin-bottom: 2px;
  color: #666;
  text-align: center;
}
#mouseover_title {
 font-size: 16px;
 margin: 10px;
}
#mouseover_table {
  margin: 10px;
  text-align: left;
  width: 160px;
}
#mouseover_table td:nth-child(2) {
  text-align: right;
}


.post {
/*  border-bottom: solid 1px #ccc;*/
  margin: 0 0 40px 0;
}
.post:last-child {
  border-bottom: none;
}
.post h3 {
  margin: 0;
}
.post .date {
  margin: 0 0 10px 0;
}




/* RELATED apps div */
#related {
  border-bottom: none;
  position: fixed;
  bottom: -260px;
  z-index: 10;
  
  -moz-transition: all .5s; 
  -webkit-transition: all .5s;  
  -ms-transition: all .5s;  
  -o-transition: all .5s;  
  transition: all .5s;
  
  -moz-box-shadow:    0px 3px 5px 6px #cdcdcd;
  -webkit-box-shadow: 0px 3px 5px 6px #cdcdcd;
  box-shadow:         0px 3px 20px 2px #cdcdcd;
}
#related #prev,
#related #next {
  font-size: 50px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-decoration: none;
  top: 110px;
}
#related #prev { left: -30px; }
#related #next { right: -30px; }
#related #toggle {
  border-bottom: none;
  background: white;
  float: left;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 10px 0 10px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: -24px;
  z-index: -1;
  
  -moz-box-shadow:    0px 3px 5px 6px #cdcdcd;
  -webkit-box-shadow: 0px 3px 5px 6px #cdcdcd;
  box-shadow:         0px 3px 20px 2px #cdcdcd;
}
#related #toggle .arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
#related div {
  background: white;
/*    border: solid #999 1px;*/
  height: 250px;
  padding: 10px;
  width: 994px;
  z-index: 99;
}
#related div p {
  margin: 0 0 10px 0;
}
#related div .related_item {
  background: white;
  border: solid #e6999f 1px;
  display: inline-block;
  height: 200px;
  margin: 0 5px 0 0;
  padding: 5px;
  position: relative;
  width: 180px;
}
#related div .related_item:last-child {
  margin: 0;
}
#related div .related_item h4 {
  margin: 0;
  overflow: hidden;
  width: 180px;
  white-space: nowrap;
}
#related div .related_item h4 img {
  margin: 0 5px 0 0;
  position: relative;
  top: 4px;
  width: 20px;
}
#related div .related_item p {
  font-size: 12px;
  margin: 0;
}
#related div .related_item p.rank {
  background: #e6999f;
  font-size: 18px;
  right: 10px;
  margin: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
}