{% extends "template.html" %}

{% block page_title %}Development Blog{% endblock %}
{% block heading_title %}Development Blog{% endblock %}

{% block css %}
<style>
p {
	font-size: 16px;
}
</style>
{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
  	<ul>
  		<li><a href="/about/">About</a></li>
  		<li><a href="/about/data/">Data</a></li>
  		<li><a href="/about/team/">Team</a></li>
  		<li><a href="/about/blog/" class="active">Development Blog</a></li>
  		<li><a href="/about/permissions/">Permissions</a></li>
  	</ul>
  </nav>
</div>

<div id="content">
	{% for p in posts %}
	<div class="post">
		<h3><a href="{{p.get_absolute_url}}">{{p.title}}</a></h3>
		<p class="date">{{ p.created|date:"b j Y" }}</p>
		{{ p.content_html|safe }}
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}