{% extends "template.html" %}

{% block page_title %}{{title}}{% endblock %}
{% block heading_title %}{{title}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/js/libs/bootstrap/bootstrap.css">
<style>
table {
	width: 100%;
}
</style>
{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
  	<ul>
  		<li><a href="/about/">About</a></li>
  		<li>
  			<a href="/about/data/" class="active">Data</a>
  			<ul>
  				<li><a href="/about/data/sitc4/">SITC4</a></li>
  				<li><a href="/about/data/hs4/">HS4</a></li>
  				<li><a href="/about/data/country/">Country</a></li>
  			</ul>
  		</li>
  		<li><a href="/about/team/">Team</a></li>
  		<li><a href="/about/blog/">Development Blog</a></li>
  		<li><a href="/about/permissions/">Permissions</a></li>
  	</ul>
  </nav>
</div>

<div id="content">
  <table class="table table-bordered table-condensed table-striped">
  	<thead>
  		<tr>
  			<th>&nbsp;</th>
  			{% for h in headers %}
  			<th>{{h}}</th>
  			{% endfor %}
  		</tr>
  	</thead>
  	<tbody>
  		{% for row in items %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			{% for i in row %}
  			<td>{{i}}</td>
  			{% endfor %}
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>
</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}