{% extends "static_template.html" %}

{% block page_title %}About{% endblock %}
{% block heading_title %}About The Observatory{% endblock %}

{% block css %}{% endblock %}

{% block sidebar %}
<nav role="navigation">
	<ul>
		<li><a href="/about/" class="active">About</a></li>
		<li><a href="/about/team/">Team</a></li>
		<li><a href="/about/blog/">Development Blog</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<h3>What is it?</h3>
<p>The Observatory of Economic Complexity is a tool that allows users to quickly compose a visual narrative about countries and the products they exchange. </p>
<h3>Data</h3>
<p>The observatory provides access to bilateral trade data for roughly 200 countries, 50 years and 1000 different products of the SITC4 revision 2 classification. The source of the data we are using is:</p>
<dl class="data_source">
	<dt>1962 - 2000</dt>
	<dd><a href="http://cid.econ.ucdavis.edu/">The Center for International Data from Robert Feenstra</a></dd>
	<dt>2001 - 2009</dt>
	<dd><a href="http://comtrade.un.org/">UN COMTRADE</a></dd>
</dl>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}