{% extends "templates/nav.html" %}

{% block title %}: The Observatory of Economic Complexity{% endblock %}

{% block body %}

<div id="ring-pulse"></div>
<div id="ring"></div>

<section>
  <content>
    <div class="earth-orbit">
        <img class="earth" src="http://goo.gl/41IWnf">
    </div>

    <img id="big_logo" src="/static/img/home/logo_i.png" alt="The Observatory of Economic Complexity">

    <p>
      {{ _('We are the world’s leading visualization engine for international trade data.') }}
    </p>

  </section>
</content>

{% endblock %}
