{% extends "templates/nav.html" %}

{% block title %}: Error{% endblock %}

{% block body %}


<div class="bg-frame">
  <div id="ring">
    <img src="/static/img/home/stars.png" class="star-rotate">
    <img id="observatory" src="/static/img/home/observatory.png">
    <h1>{{ error }}</h1>
</div>

{% endblock %}

{% block js %}

<script>

  var timing = 0;
  function bgresize() {

    var n = d3.select("nav").node().offsetHeight,
        f = d3.select("footer").node().offsetHeight,
        p = 50,
        w = window.innerWidth,
        h = window.innerHeight - n - f,
        min = 300,
        max = 850,
        s = d3.min([max, d3.max([Math.floor(d3.min([w - p, h - p])), min])]);

    if (timing) {
      d3.select(".bg-frame").transition().duration(timing)
        .style("width", s + "px")
        .style("height", s + "px");
        d3.select("h1").transition().duration(timing)
        .style("font-size", s/15 + "px");
    }
    else {

      timing = 600;

      d3.select(".bg-frame")
        .style("width", s + "px")
        .style("height", s + "px");
      d3.select("h1").style("font-size", s/15 + "px");
      d3.select(".bg-frame").transition().duration(timing * 2)
        .style("opacity", 1);

    }

  }

  bgresize();

  resizeFunctions.push(bgresize);

</script>

{% endblock %}
