{% extends "templates/nav.html" %}

{% block title %} - {{ _("Books") }}{% endblock %}

{% block body %}

<!-- <article>
<header class="profile_header">
  <img class="header" src="/static/img/headers/pages/grows.jpg"></img>
  <h1>
    {{ _("Books") }}
    <sub class="author"><a href="https://flic.kr/p/sC7tjy" target="_blank">
      <i class="fa fa-camera"></i>{{ _("Photo by") }} Dauro Veras
    </a></sub>
  </h1>
</header>
</article> -->

<article class="why-info-grows">
<section>
  <content>
    <div>
      <h3>
        <a target="_blank" href="http://www.amazon.com/Why-Information-Grows-Evolution-Economies/dp/0465048994/ref=sr_1_1?ie=UTF8&qid=1435945119&sr=8-1&keywords=why+information+grows">
          Why Information Grows
        </a>
      </h3>
      <h4>by César Hidalgo</h4>
    </div>
    <div>
      <h2>The Evolution of Order, from Atoms to Economies</h2>
    </div>
    <div>
      <img class="book" src="/static/img/publications/books/information.png">
    </div>
    <div>
      <p>What is economic growth? And why, historically, has it occurred in only a few places? Previous efforts to answer these questions have focused on institutions, geography, finances, and psychology. But according to MIT's antidisciplinarian César Hidalgo, understanding the nature of economic growth demands transcending the social sciences and including the natural sciences of information, networks, and complexity. To understand the growth of economies, Hidalgo argues, we first need to understand the growth of order.
      <br/>
        <a target="_blank" href="http://www.amazon.com/Why-Information-Grows-Evolution-Economies/dp/0465048994/ref=sr_1_1?ie=UTF8&qid=1435945119&sr=8-1&keywords=why+information+grows">
          Buy on Amazon
        </a>
      </p>
    </div>
   </content>
</section>
</article>

<article class="atlas">
<section>
  <content>
    <h3>
      <a target="_blank" href="http://www.amazon.com/Atlas-Economic-Complexity-Mapping-Prosperity/dp/0262525429/ref=sr_1_1?s=books&ie=UTF8&qid=1440535970&sr=1-1&keywords=atlas+of+economic+complexity&pebp=1440535985572&perid=0HN41KMX8PH1JSFPDB35">
        The Atlas of Economic Complexity
      </a>
    </h3>
    <div>
      <h2>Mapping Paths to Prosperity</h2>
      <h4 class="columns">
        Ricardo Hausmann<br/>
        César A. Hidalgo<br/>
        Sebastián Bustos<br/>
        Michele Coscia
        <br/>
        Sarah Chung<br/>
        Juan Jimenez<br/>
        Alexander Simoes<br/>
        Muhammed A. Yildirim</h4>
      <p></p>
      <blockquote>
        "Emphasizing that not all products are the same for development is a significant departure from the establishment."
        <p>&mdash;Changyong Rhee, Chief Economist<br>Asian Development Bank (Cambridge, MA 2011)</p>
      </blockquote>
      <blockquote>
        "The ECI can play a very important role. It can help identify the role of developing countries."
        <p>&mdash;Justin Lin, Chief Economist<br>World Bank (Cambridge, MA 2011)</p>
      </blockquote>
    </div>
    <div>
      <div class="columns">
        <h4>Revised 2014</h4>
        <img class="book" src="/static/img/publications/books/atlas2014.jpg">
        <h4>Original 2011</h4>
        <img class="book" src="/static/img/publications/books/atlas.png">
      </div>

      <ul><h4>Downloads</h4>
        <li>
          <a href="/static/pdf/atlas/AtlasOfEconomicComplexity.pdf">
            Full Version
          </a> – 364 pages (85.7 MB)
        </li>
        <li>
          <a href="/static/pdf/atlas/AtlasOfEconomicComplexity_Part_I.pdf">
            Part I: Why, What and How &amp; Rankings
          </a> – 91 pages (8.2 MB)
        </li>
        <li>
          <a href="/static/pdf/atlas/AtlasOfEconomicComplexity_Part_II.pdf">
            Part II: Country Pages
          </a> – 271 pages (75.4 MB)
        </li>
      </ul>
    </div>
  </content>
</section>
</article>

<article class="papers">
<h1>Research Papers</h1>
<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/amenityspace.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://arxiv.org/abs/1509.02868">
        Do we need another coffee house? The amenity space and the evolution of neighborhoods
      </a>
    </h3>
    <div>
      <h4>2015</h4>
    </div>
    <div>
      <h4>C.A. Hidalgo, E. Castañer</h4>
      <p>The Amenity Space, was built by using a dataset summarizing the precise location of millions of amenities, introducing a clustering algorithm to identify neighborhoods, and then using the identified neighborhoods to map the probability that two amenities will be co-located in one of them. The Amenity Space is used to build a recommender system that identifies the amenities missing in a neighborhood given its current pattern of specialization.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/inequality.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://arxiv.org/abs/1505.07907">
        Linking Economic Complexity, Institutions and Income Inequality
      </a>
    </h3>
    <div>
      <h4>2015</h4>
    </div>
    <div>
      <h4>D. Hartmann, M. Guevara, C. Jara-Figueroa, M. Aristarán, C.A. Hidalgo</h4>
      <p>The mix of products that a country exports predicts that country's subsequent pattern of diversification and economic growth. But does this product mix also predict income inequality?</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/kazakhstan.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://www.elgaronline.com/view/9781784715533.00014.xml">
        Economic diversification: implications for Kazakhstan
      </a>
    </h3>
    <div>
      <h4>2015</h4>
    </div>
    <div>
      <h4>J. Felipe, C.A. Hidalgo</h4>
      <p>Over two decades since independence, upper-middle income Kazakhstan—a large, landlocked, sparsely populated but resource-rich country—remains an economy in transition.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/neighbors.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0022199613001098">
        Neighbors and the evolution of the comparative advantage of nations: Evidence of international knowledge diffusion?
      </a>
    </h3>
    <div>
      <h4>2014</h4>
    </div>
    <div>
      <h4>D. Bahar, R. Hausmann, C.A. Hidalgo</h4>
      <p>The literature on knowledge diffusion shows that knowledge decays strongly with distance. In this paper we document that the probability that a product is added to a country's export basket is, on average, 65% larger if a neighboring country is a successful exporter of that same product.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/nestedness.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0049393">
        The Dynamics of Nestedness Predicts the Evolution of Industrial Ecosystems
      </a>
    </h3>
    <div>
      <h4>2012</h4>
    </div>
    <div>
      <h4>S. Bustos, C. Gomez, R. Hausmann, C.A. Hidalgo</h4>
      <p>In economic systems, the mix of products that countries make or export has been shown to be a strong leading indicator of economic growth. Hence, methods to characterize and predict the structure of the network connecting countries to the products that they export are relevant for understanding the dynamics of economic development.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/networkstructure.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://link.springer.com/article/10.1007/s10887-011-9071-4#page-1">
        The network structure of economic output
      </a>
    </h3>
    <div>
      <h4>2011</h4>
    </div>
    <div>
      <h4>R. Hausmann, C.A. Hidalgo</h4>
      <p>Much of the analysis of economic growth has focused on the study of aggregate output. Here, we deviate from this tradition and look instead at the structure of output embodied in the network connecting countries to the products that they export.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/oec.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://www.researchgate.net/profile/Cesar_Hidalgo/publication/221605462_The_Economic_Complexity_Observatory_An_Analytical_Tool_for_Understanding_the_Dynamics_of_Economic_Development/links/54f472430cf24eb8794e8a6d.pdf">
        The Economic Complexity Observatory: An Analytical Tool for Understanding the Dynamics of Economic Development.
      </a>
    </h3>
    <div>
      <h4>2011</h4>
    </div>
    <div>
      <h4>A.J.G. Simoes, C.A. Hidalgo</h4>
      <p>We introduce The Economic Complexity Observatory, a tool for helping users understand the evolution of countries' productive structures and trade partners. Here we bridge the gap of harnessing the raw computational power of cycling through thousands of entries of data with the analytical, decision making qualities of the human mind through the use of information visualization “apps”.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/africa.png">
  </aside>
  <content>
    <h3>
      <a target="_blank" href="http://www.chidalgo.com/Papers/HidalgoCA_GMF_2011.pdf">
        Discovering Southern and East Africa’s Industrial Opportunities
      </a>
    </h3>
    <div>
      <h4>2011</h4>
    </div>
    <div>
      <h4>C.A. Hidalgo</h4>
      <p>What are Southern and East Africa’s industrial opportunities? In this article we explore this question by using the product space to study the productive structure of five Southern and East African countries: Kenya, Mozambique, Rwanda, Tanzania, and Zambia.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/42years.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://www.hks.harvard.edu/centers/cid/publications/faculty-working-papers/cid-working-paper-no.-189">
        The Dynamics of Economic Complexity and the Product Space over a 42 year period
      </a>
    </h3>
    <div>
      <h4>2009</h4>
    </div>
    <div>
      <h4>C.A. Hidalgo</h4>
      <p>How does the productive structure of countries' changes over time? In this paper we explore this question by combining techniques of networks science with 42 years of trade data and find that, while the Product Space remains relatively stable during this period, the dynamics of countries' productive structures is characterized by a few highly dynamic economies.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/buildingblocks.png">
  </aside>
  <content>
    <h3>
      <a target="_blank" href="http://www.pnas.org/content/106/26/10570.short">
        The Building Blocks of Economic Complexity
      </a>
    </h3>
    <div>
      <h4>2009</h4>
    </div>
    <div>
      <h4>C.A. Hidalgo, R. Hausmann</h4>
      <p>For Adam Smith, wealth was related to the division of labor. As people and firms specialize in different activities, economic efficiency increases, suggesting that development is associated with an increase in the number of individual activities and with the complexity that emerges from the interactions between them.</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/networkview.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://kms1.isn.ethz.ch/serviceengine/Files/ISN/97394/ichaptersection_singledocument/646EBB06-3D08-4A82-BB09-B473C23937A7/en/Ch_2.pdf">
        A Network View of Economic Complexity
      </a>
    </h3>
    <div>
      <h4>2008</h4>
    </div>
    <div>
      <h4>C.A. Hidalgo, R. Hausmann</h4>
      <p>Does the type of product a country exports matter for subsequent economic performance?</p>
    </div>
  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/psconditions.png">
  </aside>

  <content>
    <h3>
      <a target="_blank" href="http://www.sciencemag.org/content/317/5837/482.short">
        The Product Space Conditions the Development of Nations
      </a>
    </h3>
    <div>
      <h4>2007</h4>
    </div>
    <div>
      <h4>C.A. Hidalgo, B. Klinger, A.-L. Barabási, R. Hausmann</h4>
      <p>Economies grow by upgrading the products they produce and export. The technology, capital, institutions, and skills needed to make newer products are more easily adapted from some products than from others.</p>
    </div>
  </content>
</section>
</article>

{% endblock %}
