# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Compiled App
compiled
public

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# OSX .DS_STORE
.DS_STORE
.DS_Store

# Don't add env vars to repo
.env
.envrc

# production build
/index.js

# reports
static/reports

# generated assets
static/assets

*.pyc
