# Flask framework
flask

# Helper lib for running scripts locally without server
flask-script

# Localization
flask-babel

# DB libs for connecting to MySQL
# WARNING: Must have MySQL server installed!
MySQL-python
flask-sqlalchemy

# Redis connector for caching/sessions 
# WARNING: Must have Redis server installed!
redis

# Better JSON serializer that knows how to handle Decimal types
simplejson

# Required for natural language processing to facilitate search
textblob
fuzzywuzzy
