# Specific Jinja2 template version
Jinja2==2.7.2

# Flask framework
Flask==0.10.1

# Helper lib for running scripts locally without server
flask-script

# Localization
Flask-Babel==0.9

# DB libs for connecting to MySQL
# WARNING: Must have MySQL server installed!
MySQL-python==1.2.5
Flask-SQLAlchemy==2.0

# General caching for views
Flask-Cache==0.13.1

# Better JSON serializer that knows how to handle Decimal types
simplejson==3.8.0

# Required for natural language processing to facilitate search
textblob==0.10.0

# JS compiler
Flask-Assets==0.11

# SCSS compiler
Flask-Scss==0.5

# Cache helper scripts
# selenium
# click

# Opbeat for logging errors
opbeat[flask]
