@import "helpers/functions";
@import "helpers/reset";
@import "helpers/variables";
@import "helpers/vendor";

body {
  background-color: $darkblue;
  color: white;
  font-family: $lato;

  &.frozen {
    overflow: hidden;
  }

}

h1, h2, h3, h4 {
  font-family: $montserrat;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 12px;
  margin: 15px 0 5px !important;
}

p {
  color: white;
  font-family: $lora;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 20px;

  &:last-child {
    margin-bottom: 0;
  }

  sup {
    display: inline-block;
    margin-left: 2px;
    margin-top: -5px;
  }

  a {
    @include transition(border-bottom 0.1s);
    color: $blue;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }

}

a {
  color: white;
  text-decoration: none;
}

table {
  @include shadow();
  background-color: white;
  margin-bottom: 20px;
  width: 100%;

  tr {
    border-bottom: 1px solid #ddd;
    font-family: $lato;

    &:last-child {
      border-bottom: none;
    }

    th, td {
      font-size: 15px;
      line-height: 20px;
      padding: 10px;

    }

    th {
      text-align: left;
    }

  }

}

ol {
  font-family: $lora;
  font-size: 14px;
  line-height: 20px;
  margin-left: 35px;
  padding: 10px 0 20px;

  li {
    padding: 5px 0;
  }
}

pre {
  @include shadow(inset 0 0 2px rgba(0, 0, 0, 0.25));
  background-color: #444;
  color: #eee;
  margin: 10px 0 20px;
  overflow-x: scroll;
  padding: 20px 0;
  width: 100%;
}

blockquote {
  font-family: $lora;
  font-style: italic;
  padding: 0px 30px;
  margin-bottom: 20px;

  p {
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
    text-align: right;
  }

}

@import "elements/nav";
@import "elements/home";
@import "elements/search";
@import "elements/container";
@import "elements/hamburger";
@import "elements/profile";
@import "elements/explore";
@import "elements/rankings";
@import "elements/team";
@import "elements/publications";
@import "elements/api";
@import "elements/modal";
