@import "helpers/functions";
@import "helpers/reset";
@import "helpers/variables";
@import "helpers/vendor";

body {
  background-color: #eee;
  color: #333;
  font-family: $sans-serif;

  &.open {
    overflow: hidden;
  }

}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #878787;
  font-family: $serif;
  font-size: 17px;
  font-weight: 400;
  margin: 2px 0 5px;
}

p {
  font-family: $serif;
  font-size: 17px;
  line-height: 28px;
  margin: 10px 0 20px;

  &:last-child {
    margin-bottom: 0;
  }

  sup {
    display: inline-block;
    margin-left: 2px;
    margin-top: -5px;
  }

}

table {
  @include shadow();
  background-color: white;
  margin-bottom: 20px;
  width: 100%;

  tr {
    border-bottom: 1px solid #ddd;
    font-family: $sans-serif;

    &:last-child {
      border-bottom: none;
    }

    th, td {
      font-size: 15px;
      line-height: 20px;
      padding: 10px;

    }

    th {
      text-align: left;
    }

  }

}

ol {
  font-family: $serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 35px;
  padding: 10px 0 20px;

  li {
    padding: 5px 0;
  }
}

pre {
  @include shadow(inset 0 0 2px rgba(0, 0, 0, 0.25));
  background-color: #444;
  color: #eee;
  margin: 10px 0 20px;
  overflow-x: scroll;
  padding: 20px 0;
  width: 100%;
}

blockquote {
  font-family: $serif;
  font-style: italic;
  padding: 0px 30px;
  margin-bottom: 20px;

  p {
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
    text-align: right;
  }

}

@import "elements/nav";
@import "elements/container";
@import "elements/hamburger";
@import "elements/explore";
@import "elements/rankings";
@import "elements/team";
@import "elements/publications";
@import "elements/api";
@import "elements/modal";
