{% extends "templates/base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/d3plus.css" />
<style>
#viz{
  display: none;
}
</style>
{% endblock %}

{% block content %}

<div id="loading"><h1>Loading...</h1></div>
<div id="viz"></div>

{% endblock %}

{% block js %}

<script src="/static/js/libs/modernizr.custom.js"></script>
<script src="/static/js/libs/d3plus.js"></script>
<script src="/static/js/libs/queue.js"></script>
<script src="/static/js/libs/topojson.js"></script>

<script>

var viz = d3plus.viz()
var attr_id = "{{ current_build.attr_type() }}_id"
var app_type = "{{ current_build.app.type }}" 
var nested_attrs = {
      "id": {},
      "nest": {}
    }
var q = queue()
          .defer(d3.json, "{{ current_build.data_url() }}")
          .defer(d3.json, "{{ current_build.attr_url() }}")

switch (app_type){
  
  case "tree_map":
    var go = function(error, raw_data, raw_attrs){
      
      nested_attrs["nest"] = raw_attrs.data.filter(function(d){
        return d.id.length == 2
      })
      nested_attrs["nest"].forEach(function(d){
        d.nest = d.id
      })
      nested_attrs["id"] = raw_attrs.data.filter(function(d){
        return d.id.length > 2
      })
      
      raw_data.data.forEach(function(d){
        d.nest = d[attr_id].substr(0, 2)
        d.id = d[attr_id]
      })
      
      viz
        .data(raw_data.data)
        .type("tree_map")
        .attrs(nested_attrs)
        .size("{{ current_build.trade_flow }}_val")
        .id(["nest", "id"])
        // .time({"key": "year", "solo": 2010})
        .time({"key": "year"})
        .depth(1)
        .shape("square")
        .style({"labels": {"align": "start"}})
        .color("color")
        .text({"nest":"name","id":"name"})
        
      d3.select("#loading")
        .style("display", "none")
  
      d3.select("#viz")
        .style("display", "block")
        .call(viz)
    }
    break;
  
  case "stacked":
    var go = function(error, raw_data, raw_attrs){
      
      nested_attrs["nest"] = raw_attrs.data.filter(function(d){
        return d.id.length == 2
      })
      nested_attrs["nest"].forEach(function(d){
        d.nest = d.id
      })
      nested_attrs["id"] = raw_attrs.data.filter(function(d){
        return d.id.length > 2
      })
      
      raw_data.data.forEach(function(d){
        d.nest = d[attr_id].substr(0, 2)
        d.id = d[attr_id]
      })
      
      viz
        .data(raw_data.data)
        .type("stacked")
        .attrs(nested_attrs)
        .id(["nest", "id"])
        .time({"key": "year"})
        .depth(1)
        .shape("area")
        .color("color")
        .x("year")
        .y("{{ current_build.trade_flow }}_val")
        .order("nest")
        .text({"nest":"name","id":"name"})
        
      d3.select("#loading")
        .style("display", "none")
  
      d3.select("#viz")
        .style("display", "block")
        .call(viz)
    }
    break;
  
  case "network":
    q = q.defer(d3.json, "/static/json/network_{{ current_build.classification }}.json")
    var go = function(error, raw_data, raw_attrs, raw_network){
      
      nested_attrs["nest"] = raw_attrs.data.filter(function(d){
        return d.id.length == 2
      })
      nested_attrs["nest"].forEach(function(d){
        d.nest = d.id
      })
      nested_attrs["id"] = raw_attrs.data.filter(function(d){
        return d.id.length > 2
      })
      
      raw_data.data.forEach(function(d){
        d.nest = d[attr_id].substr(0, 2)
        d.id = d[attr_id]
      })
      
      viz
        .data(raw_data.data)
        .attrs(nested_attrs)
        .type("network")
        .id("id")
        .color("color")
        .nodes(raw_network.nodes)
        .links(raw_network.edges)
        .active({
          "key": function(d){
            return d.export_rca >= 1;
          },
          "spotlight":true
        })
        
      
      d3.select("#loading")
        .style("display", "none")
  
      d3.select("#viz")
        .style("display", "block")
        .call(viz)
      
    }
    break;
    
  case "geo_map":
    q = q.defer(d3.json, "/static/json/country_coords.json")
    var go = function(error, raw_data, raw_attrs, raw_coords){
      nested_attrs["nest"] = raw_attrs.data.filter(function(d){
        return d.id.length == 2
      })
      nested_attrs["nest"].forEach(function(d){
        d.nest = d.id
      })
      nested_attrs["id"] = raw_attrs.data.filter(function(d){
        return d.id.length > 2
      })
      
      raw_data.data.forEach(function(d){
        d.nest = d[attr_id].substr(0, 2)
        d.id = d[attr_id]
        // console.log(d)
      })
      
      raw_coords["objects"]["TM_WORLD_BORDERS-0.3"]["geometries"].forEach(function(d){
        country = raw_attrs.data.filter(function(dd){
          return dd.id.substr(2) == d.id.toLowerCase()
        })
        
        if (country.length) {
          d.id = country[0].id
        }
      })
      
      viz
        .data(raw_data.data)
        .attrs(nested_attrs)
        .type("geo_map")
        .id("id")
        // .style({"labels": {"align": "start"}})
        .color("{{ current_build.trade_flow }}_val")
        .coords(raw_coords)
      
      d3.select("#loading")
        .style("display", "none")
        
      d3.select("#viz")
        .style("display", "block")
        .call(viz)
      
    }
    break;
}

q.await(go);

</script>

{% endblock %}