{% extends "templates/base_new.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.embed.css" />
{% endblock %}

{% block description %}{{ _('An emedded visualization.') }}{% endblock %}
{% block title %}: {{ build.title()|striptags }}{% endblock %}

{% block content %}

<div id="loading"><h2>{{ _('Loading') }}...</h2></div>
<div id="app">
  <div id="text"></div>
  <div id="viz"></div>
  <div id="ui"></div>
</div>

{% endblock %}

{% block js %}

<script src="/static/js/libs/queue.js"></script>
<script src="/static/js/libs/topojson.js"></script>
<script src="/static/js/d3.tabulate.js"></script>

<script>
var build = {{ build.serialize()|safe }};
visualization(build);
</script>

{% endblock %}