{% extends "templates/base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/d3plus.css" />
<style>
#viz{
  display: none;
}
</style>
{% endblock %}

{% block content %}

<div id="loading"><h1>Loading...</h1></div>
<div id="viz"></div>

{% endblock %}

{% block js %}

<script src="/static/js/libs/modernizr.custom.js"></script>
<script src="/static/js/libs/d3plus.js"></script>

<script>

var viz = d3plus.viz()
// console.log("{{ current_build.data_url() }}")

d3.json("{{ current_build.data_url() }}", function(response){
  d3.json("{{ current_build.attr_url() }}", function(attr){
    var attr_id = "{{ current_build.attr_type() }}_id"
    var app_type = "{{ current_build.app.type }}"
    
    nested_attrs = {
      "id": {},
      "nest": {}
    }
    
    attr.data.forEach(function(d){
      nested_attrs["id"][d.id] = d
      nested_attrs["nest"][d.id.substr(0, 2)] = d
    })
    
    response.data.forEach(function(d){
      d.nest = d[attr_id].substr(0, 2)
      d.id = d[attr_id]
    })
    
    
    switch (app_type){
      
      case "tree_map":
        viz
          .data(response.data)
          .type("tree_map")
          .attrs(nested_attrs)
          .size("{{ current_build.trade_flow }}_val")
          .id(["nest", "id"])
          .time({"key": "year", "solo": 2010})
          .depth(1)
          .shape("square")
          .style({"labels": {"align": "start"}})
          .color("color")
        break;
      
      case "stacked":
        viz
          .data(response.data)
          .type("stacked")
          .attrs(nested_attrs)
          .id(["nest", "id"])
          .time({"key": "year"})
          .depth(1)
          .shape("area")
          .style({"labels": {"align": "start"}})
          .color("color")
          .x("year")
          .y("{{ current_build.trade_flow }}_val")
          .order("nest")
        break;
    }
    
    d3.select("#loading")
      .style("display", "none")
    
    d3.select("#viz")
      .style("display", "block")
      .call(viz)
    
  })
})
</script>

{% endblock %}