{% extends "templates/base_new.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.embed.css" />
{% endblock %}

{% block description %}{{ _('An emedded visualization.') }}{% endblock %}
{% block title %}: {{ build.title()|striptags }}{% endblock %}

{% block content %}

<div id="loading"><h2>{{ _('Loading') }}...</h2></div>
<div id="app">
  <div id="text"></div>
  <div id="viz"></div>
  <div id="ui"></div>
</div>

{% endblock %}

{% block js %}

<script src="/static/js/libs/queue.js"></script>
<script src="/static/js/libs/topojson.js"></script>
<script src="/static/js/d3.tabulate.js"></script>

<script>
var attrs = {}, data, trade_flow = "{{ build.trade_flow }}", opposite_trade_flow = trade_flow == "export" ? "import" : "export";
var attr_id = "{{ build.attr_type() }}_id";
var default_config = configs["default"]({{ build.serialize()|safe }});
var viz_config = configs["{{ build.viz.slug }}"]({{ build.serialize()|safe }});

var viz_height = window.innerHeight;
var viz_width = window.innerWidth;

var viz = d3plus.viz()
            .config(default_config)
            .config(viz_config)
            .height(viz_height)
            .width(viz_width);
// 
// Need to set text formatting in HTML for translations
viz.format({"text": function(text, key, vars){
    if(key){
      if(key.key == "display_id"){ return text.toUpperCase(); }
    }
    if(text){
      if(text == "share"){ return "{{ _('Percent') }}"; }
      if(text == "display_id"){ 
        if("{{ build.attr_type() }}" == "origin" || "{{ build.attr_type() }}" == "dest"){
          return "{{ _('ID') }}";
        }
        else {
          return "{{ build.attr_type() }}".toUpperCase() + " ID";
        }
      }
      if(text == "export_val"){ return "{{ _('Export Value') }}"; }
      if(text == "net_export_val"){ return "{{ _('Net Export') }} {{ _('Value') }}"; }
      if(text == "import_val"){ return "{{ _('Import Value') }}"; }
      if(text == "net_import_val"){ return "{{ _('Net Import') }} {{ _('Value') }}"; }
      if(text == "market_val"){ return "{{ _('Market Value') }}"; }
      if(text == "export_rca"){ return "{{ _('Export') }} RCA"; }
      if(text == "import_rca"){ return "{{ _('Import') }} RCA"; }
      if(text == "gdp"){ return "{{ _('GDP') }}"; }
      if(text == "gdp_pc_constant"){ return "{{ _('GDPpc (constant \'05 US$)') }}"; }
      if(text == "gdp_pc_current"){ return "{{ _('GDPpc (current US$)') }}"; }
      if(text == "gdp_pc_constant_ppp"){ return "{{ _('GDPpc PPP (constant \'11)') }}"; }
      if(text == "gdp_pc_current_ppp"){ return "{{ _('GDPpc PPP (current)') }}"; }
      if(text == "eci"){ return "{{ _('ECI') }}"; }

      if(text == trade_flow+"_val_growth_pct"){ return "{{ _('Annual Growth Rate (1 year)') }}"; }
      if(text == trade_flow+"_val_growth_pct_5"){ return "{{ _('Annual Growth Rate (5 year)') }}"; }
      if(text == trade_flow+"_val_growth_val"){ return "{{ _('Growth Value (1 year)') }}"; }
      if(text == trade_flow+"_val_growth_val_5"){ return "{{ _('Growth Value (5 year)') }}"; }

      if(text.indexOf("Values") >= 0 && !key){
        return trade_flow.charAt(0).toUpperCase() + trade_flow.substr(1).toLowerCase() + " " + text;
      }

      return d3plus.string.title( text , key , vars );
    }
  }
})


var q = queue()
            .defer(d3.json, "{{ build.data_url(output_depth=8) }}")
            .defer(d3.json, "{{ build.attr_url() }}");

/* unleash the dogs... make the AJAX requests in order to the server and when
   they return execute the go() func */
q.await(function(error, raw_data, raw_attrs){
  
  // set key 'nest' to their id
  raw_attrs.data.forEach(function(d){
    attrs[d.id] = d
    if(attr_id == "origin_id" || attr_id == "dest_id"){
      attrs[d.id]["icon"] = "/static/img/icons/country/country_"+d.id+".png"
    }
    else if(attr_id.indexOf("hs") == 0){
      attrs[d.id]["icon"] = "/static/img/icons/hs/hs_"+d.id.substr(0, 2)+".png"
    }
    else if(attr_id == "sitc_id"){
      attrs[d.id]["icon"] = "/static/img/icons/sitc/sitc_"+d.id.substr(0, 2)+".png"
    }
  })

  // go through raw data and set each items nest and id vars properly
  // also calculate net values
  raw_data.data.forEach(function(d){
    d.nest = d[attr_id].substr(0, 2)
    if(attr_id.indexOf("hs") == 0){
      d.nest_mid = d[attr_id].substr(0, 6)
    }
    d.id = d[attr_id]
    var net_val = parseFloat(d[trade_flow+"_val"]) - parseFloat(d[opposite_trade_flow+"_val"]);
    if(net_val > 0){
      d["net_"+trade_flow+"_val"] = net_val;
    }
  })
  
  viz.data(raw_data.data).attrs(attrs).draw();
  
  d3.select("#loading")
    .style("display", "none")

  d3.select("#viz")
    .style("display", "block")
  
});


</script>

{% endblock %}