{% extends "templates/site.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.explore.css" />

<link rel="stylesheet" href="/static/js/libs/jquery-ui/jquery-ui.css" type="text/css" media="all" />
{% endblock %}

{% block title %}{{ current_build.get_name() }}{% endblock %}

{% block body %}
<!-- <div class="app_title" id="icons">
  
  {% if current_build.origin != "show" %}
  <img src="{{ current_build.origin.get_icon() }}" alt="{{ _('Flag of %(country)s', country=current_build.origin.get_name()) }}">
  {% elif current_build.origin == "show" and current_build.product %}
  <img style="background-color: {{ current_build.product.color }};" src="{{ current_build.product.get_icon() }}">
  {% endif %}
  
  <h2 class="{{ current_build.app.type }}">{{ current_build.get_year() }}</h2>
  
  {% if current_build.dest != "show" and current_build.dest != "all" %}
  <img src="{{ current_build.dest.get_icon() }}" alt="{{ _('Flag of %(country)s', country=current_build.dest.get_name()) }}">
  {% elif current_build.origin != "show" and current_build.product != "show" and current_build.product != "all" %}
  <img style="background-color: {{ current_build.product.color }};" src="{{ current_build.product.get_icon() }}">
  {% endif %}
</div> -->

<h2>{{ current_build.get_name() }}</h2>

<!-- the left pane -->
<div class="content">
  
  <div class="col1" id="sidebar">
  
    <!-- <h3 class="pane_title">{{ _('App Selection') }}</h3> -->
  
    {% set pre_app = None %}
    
    <ul>
    {% for build in all_builds %}

      {% if pre_app != build.app.type and pre_app != None %}
            </ul>
          </ul>
        </li>
      {% endif %}

      {% if pre_app != build.app.type %}
    
        {% set pre_app = build.app.type %}
        <li id="{{ build.app.type }}" {% if current_build.app.type == pre_app %} class="active"{% endif %}>
          <a class="accordion" href="#{{ build.app.get_name()|lower }}" title="{{ build.app.get_name()|lower }}">
            {{ build.app.get_name() }}
          </a>
          <ul class="accordion">
        {% set pre_cat = None %}
          
      {% endif %}
    
      {% if pre_cat != build.get_category() and build.get_category() != None %}
        {% if pre_cat != None %}</ul>{% endif %}
        <ul>
        <h3>{{ build.get_category() }}</h3>
      {% endif %}
    
      {% set pre_cat = build.get_category() %}
    
      <li{% if build == current_build %} class="active"{% endif %}>
        <a href="/explore/{{ build.url() }}">
          {{ build.get_short_name() }}
        </a>
      </li>
      
    {% endfor %}
    </ul>
    
  </div>
  <div class="col4">

    <!-- ajax loading gif -->
    <div id="loader">
      {{ _('Loading') }}...
    </div>
  
    <!-- table of data from visualization -->
    <div id="text_data">
      {% set stats = current_build.top_stats(20) %}
      {% if stats.entries %}
      <h2 id="total">{{ _('Total') }}: {{ stats.total|format_currency }}</h2>
      <table>
        <thead><tr></tr></thead>
        <tbody>
        {% for entry in stats.entries %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entry.attr.get_abbrv()|upper }}</td>
            <td>{{ entry.attr.get_name() }}</td>
            <td>{{ entry.value|format_currency }}</td>
            <td>{{ entry.share|format_percent }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  
    <!-- Container for the visualization -->
    <div id="zviz">
      <iframe id="iframe_viz" src="/explore/embed/{{ current_build.url() }}" width="770" height="545" frameborder="0"></iframe>
    </div>
  
    <!-- Container for the key/legend -->
    <div class="key {{prod_class}}"  ></div>
  
  </div>

</div> <!-- END #main -->
{% endblock %}

{% block js %}
<!-- The JavaScript -->
<!-- Libraries -->
<script src="/static/js/libs/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script>

  function accordion(app) {
    
    var ul = d3.select("#sidebar li#"+app+" ul")

    var prev_display = ul.style("height")
      
    if (prev_display == "0px") {
      
      var new_height = ul.style("height", "auto").style("height")
      
      ul.style("height", "0px")
      
    }
    
    d3.selectAll("#sidebar > ul > li")
      .attr("class",function(){
        if (this.id == app && new_height) {
          return "active"
        }
        else {
          return ""
        }
      })
      
    d3.selectAll("ul.accordion")
      .transition().duration(600)
      .style("height", function(){
        if (this.parentNode.id == app && new_height) {
          return new_height
        }
        else {
          return "0px"
        }
      })
    
  }

  d3.selectAll("#sidebar a.accordion").on("click", function(){
  
    d3.event.preventDefault();
    
    accordion(this.title.replace(" ", "_"))
    
  })

  /////////////////////////////
  // Initialize page --
  ////////////////////////////

  // Open default app selection accordion
  accordion("{{ current_build.app.type }}")
  
  // hide text on load
  d3.select("#text_data").style("display", "none");

</script>
{% endblock %}