{% extends "templates/site.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.explore.css" />

<!-- Load non-standard fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="/static/js/libs/jquery-ui/jquery-ui.css" type="text/css" media="all" />
{% endblock %}

{% block title %}{{ current_build.get_name() }}{% endblock %}

{% block body %}
<div class="app_title" id="icons">
  
  {% if current_build.origin != "show" %}
  <img src="{{ current_build.origin.get_icon() }}">
  {% elif current_build.origin == "show" and current_build.product %}
  <img style="background-color: {{ current_build.product.color }};" src="{{ current_build.product.get_icon() }}">
  {% endif %}
  
  <h2>{{ current_build.year }}</h2>
  
  {% if current_build.dest != "show" and current_build.dest != "all" %}
  <img src="{{ current_build.dest.get_icon() }}">
  {% elif current_build.origin != "show" and current_build.product != "show" and current_build.product != "all" %}
  <img style="background-color: {{ current_build.product.color }};" src="{{ current_build.product.get_icon() }}">
  {% endif %}
</div>

<div class="app_title" id="title"><h2>{{ current_build.get_name() }}</h2></div>

<br class="clear" />

<!-- the left pane -->
<div id="app_pane">
  
  <h3 class="pane_title">App Selection</h3>
  
  {% set pre_app = None %}
  {% set pre_cat = None %}
  {% for build in all_builds %}

  {% if pre_app != build.app.type and pre_app != None %}
    </ul>
  </div>
  {% endif %}

  {% if pre_app != build.app.type %}
  {% set pre_app = build.app.type %}
  <div class="builds" id="{{ build.app.type }}">
    <a class="app_name" href="#{{ build.app.get_name()|lower }}" title="{{ build.app.get_name()|lower }}">
      <img style="background-color:#ccc;" src="/static/img/icons/app/app_{{build.app.type}}.png" alt="{{ build.app.get_name() }}" />
      {{ build.app.get_name() }}
    </a>
    <ul>
    {% endif %}
    
      {% if pre_cat != build.get_category() and build.get_category() != None %}
      <h4>{{ build.get_category() }}</h4>
      {% endif %}
      {% set pre_cat = build.get_category() %}
    
      <li>
        
        <a {% if build == current_build %}class="active"{% endif %} href="/explore/{{ build.url() }}">
        {{ build.get_short_name() }}
        </a>
        
      </li>
    {% endfor %}
    </ul>
  </div>
    
</div>

<!-- the Visualization -->
<div id="content">

  <!-- ajax loading gif -->
  <div id="loader">
    <img src="/static/img/explore/loader.gif" alt="loading" /><br />Loading...
  </div>
  
  <!-- table of data from visualization -->
  <div id="text_data">
    {% set stats = current_build.top_stats(20) %}
    {% if stats.entries %}
    <h2>Total: {{ stats.total|format_currency }}</h2>
    <table>
    {% for entry in stats.entries %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ entry.attr.get_abbrv()|upper }}</td>
        <td>{{ entry.attr.get_name() }}</td>
        <td>{{ entry.value|format_currency }}</td>
        <td>{{ entry.share|format_percent }}</td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
  </div>
  
  <!-- Container for the visualization -->
  <div id="zviz">
    <iframe src="/explore/{{ current_build.url() }}embed/" width="640" height="528" frameborder="0"></iframe>
  </div>
  
  <!-- Container for the key/legend -->
  <div class="key {{prod_class}}"  ></div>
  
  <!-- Container for the timeline -->
   <div id="timeline">
    <div class="ui_bottom" id="ui_bottom" style="bottom:0px">
    </div>
    {% if app_name == "stacked" %}  
    <div id="stacked_controls" style="width:70%">
      <!-- <div>
        <p>Year Interval: </p>
        <div class="slider" id="interval"></div>
      </div> -->
      <div id="stacked_labels">
        <p>Labels:</p>
        <input type="radio" id="true" name="labels" checked="checked" /><label for="true">On</label>
        <input type="radio" id="false" name="labels" /><label for="false">Off</label>
      </div>
      <div id="stacked_layout">
        <p>Layout:</p>
        <input type="radio" id="value" name="layout" checked="checked" /><label for="value">Value</label>
        <input type="radio" id="share" name="layout" /><label for="share">Share</label>
      </div>
      <div id="stacked_order">
        <p>Ordering:</p>
        <input type="radio" id="community" name="order" checked="checked" /><label for="community">Community</label>
        <input type="radio" id="totals" name="order" /><label for="totals">Totals</label>
      </div>
      {% if app_type != "sapy" %} 
      <div id="stacked_capita" style="margin-left:40px">
        <p>Adjust:</p>
        <span style="">
          <input type="radio" id="current" name="capita" checked="checked" /><label style="margin-top:4px" for="current">Current</label>
          <input type="radio" id="notpc_constant" name="capita" /><label for="notpc_constant">Constant</label>
        </span>
        <span style="">
          <input type="radio" id="pc_current" name="capita" /><label style="" for="pc_current">Per Capita Current</label>
          <input type="radio" id="pc_constant" name="capita" /><label for="pc_constant">Per Capita Constant</label>
        </span>
      </div>
      {% endif %}
    </div>  
    {% endif %}
    {% if app_name == "pie_scatter" %}
     <div id="pie_controls" style="margin-left:18px">
       <div id="pie_yvar">
         <p>Y-Axis:</p>
         <input type="radio" id="complexity" name="yvar" checked="checked" /><label for="complexity">Complexity</label>
         <input type="radio" id="opp_gain" name="yvar" /><label for="opp_gain">Opportunity Gain</label>
       </div>
       <div id="pie_spot">
         <p>Missing products only:</p>
         <input type="radio" id="spot_off" name="pie_spot" checked="checked" /><label for="spot_off">Off</label>
         <input type="radio" id="spot_on" name="pie_spot" /><label for="spot_on">On</label>
       </div>
     </div>   
    {% endif %}
   </div>  
     
</div><!-- END content -->

<!-- the right pane -->
<div id="tool_pane">
  
  <h3 class="pane_title">Controls</h3>
  
  {% for ui in current_build.get_ui() %}
  <div class="dropdown_container" id="{{ ui.name|lower|replace(" ", "_") }}">
    <h3>{{ ui.name }}</h3>
    <select>
      {% for option in ui.data %}
      <option value="{% if option is string or option is number %}{{option}}{% else %}{{option.id}}{% endif %}" {% if ui.current|lower|replace(" ", "_") == option|lower|replace(" ", "_") %}selected="selected"{% endif %}>{% if option is string or option is number %}{{option}}{% else %}{{option.get_name()}}{% endif %}</option>
      {% endfor %}
    </select>
  </div>
  {% endfor %}
  
  <button id="build">Build Visualization</button>
  
</div>

</div> <!-- END #main -->
{% endblock %}

{% block js %}
<!-- The JavaScript -->
<!-- Libraries -->
<script src="/static/js/libs/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script>

d3.selectAll(".builds a.app_name").on("click", function(){
  var div_to_show_id = this.title.replace(" ", "_");
  var prev_display = d3.select("#"+div_to_show_id+ " ul").style("height")
  
  // reset all
  // d3.selectAll(".builds ul").style("display", "none")
  d3.selectAll(".builds ul").style("height", "0px")
  
  if(prev_display == "0px"){
    d3.select("#"+div_to_show_id+ " ul").style("height", "auto")
    var x = d3.select("#"+div_to_show_id+ " ul").style("height")
    d3.select("#"+div_to_show_id+ " ul").style("height", "0px")
    d3.select("#"+div_to_show_id+ " ul").style("height", x)
  }
  
  d3.event.preventDefault();
})

d3.selectAll("button#build").on("click", function(){
  
  var tf = d3.select("#trade_flow select").node().value.toLowerCase()
  
  if (d3.select("#year select").node()){
    var year = d3.select("#year select").node().value
  }
  else {
    var year = d3.select("#start_year select").node().value
    year += "."
    year += d3.select("#end_year select").node().value
    year += "."
    year += d3.select("#interval select").node().value
  }
  
  if(d3.select("#origin select").node()){
    var origin = d3.select("#origin select").node().value
  } else {
    var origin = "{{ current_build.origin.id }}" || "{{ current_build.origin }}"
  }
  
  if(d3.select("#destination select").node()){
    var dest = d3.select("#destination select").node().value
  } else {
    var dest = "{{ current_build.dest.id }}" || "{{ current_build.dest }}"
  }
  
  if(d3.select("#prod select").node()){
    var prod = d3.select("#prod select").node().value
  } else {
    var prod = "{{ current_build.product.id }}" || "{{ current_build.product }}"
  }
  
  if(d3.select("#classification select").node()){
    var classification = d3.select("#classification select").node().value.toLowerCase()
  } else {
    var classification = "{{ current_build.classification }}"
  }
  
  var new_url =  "/explore/{{ current_build.app.type }}/"
      new_url += classification + "/"
      new_url += tf + "/"
      new_url += origin + "/"
      new_url += dest + "/"
      new_url += prod + "/"
      new_url += year + "/"
  
  window.location = new_url
  
  d3.event.preventDefault();
})

/////////////////////////////
// Initialize page --
////////////////////////////

// Open default app selection accordion
var div_to_show_id = "{{ current_build.app.type }}"
d3.select("#"+div_to_show_id+ " ul").style("height", "auto")
var x = d3.select("#"+div_to_show_id+ " ul").style("height")
d3.select("#"+div_to_show_id+ " ul").style("height", x)

</script>
{% endblock %}