nav {
  background-color: var(--darkbackground);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 15px 0 15px 0;

  & ul.navLinks {
    margin-right: 19px;
    & #country, & #product, & #explore, & #publications, & #api {
      & a {
        padding: 25px 10px 25px 10px;
      }
    }
  }
}

ul.navLinks {
  display: flex;
  font-smoothing: antialiased;
  justify-content: center;
  list-style: none;

  & li {
    font-family: var(--montserrat);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0.7;
    padding: 5px, 10px, 5px, 10px;
    position: relative;
    text-transform: uppercase;

    &.active {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    & a {
      color: white;
    }

  }

}

#logo {
  // color: white;
  // font-family: $open-sans;
  // font-size: 25px;
  // font-weight: 800;
  @include margin(0px, 0px, 0px, 0px);
  @include padding(5px, 0, 5px, 0);
  position: relative;
  @include left(17px);
  text-decoration: none;

  @media all and (max-width: 950px) {
    @include left(0);
  }

}

nav {

  .navLinks {
    @include flex-direction(row);

    @media all and (max-width: 950px) {
      display: none !important;
    }
  }

}

#search_button {
  cursor: pointer;
  margin: -15px 0 -15px 0;
  padding: 15px 15px 15px 15px;

  & img {
    transition: opacity 0.1s, transform 0.5s;
    opacity: 0.7;
    height: 22px;
    width: 22px;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &.open img {
    transform: rotate(180deg);
  }

}

#hamburger {
  cursor: pointer;
  display: none;
  cursor: pointer;
  margin: -15px 5px -15px 0;
  padding: 15px 15px 15px 15px;
  z-index: 8;

  @media all and (max-width: 950px) {
    display: block;
  }

  img {
    transition: opacity 0.1s, height 0.2s, transform 0.4s 0.1s;
    opacity: 0.7;
    width: 17px;
    height: 12px;
    margin-top: 4px;

    &.open {
      transform: rotate(360deg);
      height: 2px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.sub_menu {
  background-color: var(--darkbackground);
  padding: 0 0 5px 5px;

  & ul {
    display: block;
    padding: 0;
    margin: 0;

    & li {
      display: block;
      padding: 5px 12px 5px 7px;
      font-family: var(--montserrat);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      opacity: 0.7;
      position: relative;
      text-transform: uppercase;

      &:hover {
        opacity: 0.9;
      }

      &:hover:before {
        @include ltr {
          content: unicode("f0da");
        }
        @include rtl {
          content: unicode("f0d9");
        }
        font-family: FontAwesome;
        opacity: 0.4;
        position: absolute;
        margin-top: 2px;
        @include margin-left(-10px);
      }

      &.active:before {
        @include ltr {
          /* content: unicode("f0da"); */
        }
        @include rtl {
          /* content: unicode("f0d9"); */
        }
        /* font-family: FontAwesome;
        position: absolute;
        margin-top: 2px;
        @include margin-left(-10px); */
      }
    }

  }

}
