{% extends "templates/site.html" %}

{% block head %}
    {% if year > g.available_years[category][0]  %}
    <link rel="prev" href="/rankings/{{ category }}/{{ year-1 }}/" />
    {% endif %}
    {% if year < g.available_years[category][-1]  %}
    <link rel="next" href="/rankings/{{ category }}/{{ year+1 }}/" />
    {% endif %}
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.rankings.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.table.css" />
{% endblock %}

{% block title %}: {% if category == "country" %}{{ category|title }}{% else %}{{ category|upper }} Product{% endif %} Ranking ({{ year }}){% endblock %}

{% block body %}
<!-- the left pane -->
<div class="content">
  
  <div id="sidebar" class="col1">
    
    <ul>
      <li{% if category == "country" %} class="active"{% endif %}>
        <a href="/rankings/country/">{{ _('Country Rankings') }}</a>
      </li>
      <li{% if category == "hs" %} class="active"{% endif %}>
        <a href="/rankings/hs/">{{ _('HS Product Rankings') }}</a>
      </li>
      <li{% if category == "sitc" %} class="active"{% endif %}>
        <a href="/rankings/sitc/">{{ _('SITC Product Rankings') }}</a>
      </li>
    </ul>
    
    <h3>{{ _('Download') }}</h3>
    <p>
      <a href="/rankings/{{ category }}/{{ year }}/?download=true">&raquo; {{ _("Download this year's data") }}</a><br />
      <a href="/rankings/{{ category }}/?download=true">&raquo; {{ _('Download all years data') }}</a>
    </p>
  
  </div><div class="col3">
  
    <div class="change_year">
        {% if year > g.available_years[category][0]  %}
        <a class="prev" href="/rankings/{{ category }}/{{ year-1 }}/">&laquo; {{ _('Previous Year') }}</a>
        {% endif %}
        <div class="dropdown">
          <select id="change_year">
            {% for y in years %}
            <option value="{{ y }}" {% if y == year %}selected="selected"{% endif %}>{{ y }}</option>
            {% endfor %}
          </select>
        </div>
        {% if year < g.available_years[category][-1]  %}
        <a class="next" href="/rankings/{{ category }}/{{ year+1 }}/">{{ _('Next Year') }} &raquo;</a>
        {% endif %}
      </div>
  
      <table class="sortable">
        <thead>
          <tr>
          
            {% for c in cols %}
            <th><a class="sort">{{ c }}</a></th>
            {% endfor %}
          
          </tr>
        </thead>
      
        <tbody>
        
          {% for r in rankings %}
          <tr>
            {% if category == "country" %}
            <td><span>{{ r[2]["eci_rank"] }}</span></td>
            <td>
              {% if r[2]["eci_rank_delta"] > 0 %}
              <i class="fa fa-long-arrow-up fa-lg"></i> +{{ r[2]["eci_rank_delta"] }}
              {% elif r[2]["eci_rank_delta"] < 0 and r[2]["eci_rank_delta"] %}
              <i class="fa fa-long-arrow-down fa-lg"></i> {{ r[2]["eci_rank_delta"] }}
              {% else %}
              &ndash;
              {% endif %}
            </td>
            <td>{{ r[0]["id_3char"]|upper }}</td>
            <td><a href="{{ r[0].get_profile_url() }}">{{ r[1].name }}</a></td>
            <td>{{ r[2]["eci"] }}</td>
            {% else %}
            <td><span>{{ r[2]["pci_rank"] }}</span></td>
            <td>
              {% if r[2]["pci_rank_delta"] > 0 %}
              <i class="fa fa-long-arrow-up fa-lg"></i> +{{ r[2]["pci_rank_delta"] }}
              {% elif r[2]["pci_rank_delta"] < 0 and r[2]["pci_rank_delta"] %}
              <i class="fa fa-long-arrow-down fa-lg"></i> {{ r[2]["pci_rank_delta"] }}
              {% else %}
              &ndash;
              {% endif %}
            </td>
            <td>{{ r[0].get_display_id() }}</td>
            <td><a href="{{ r[0].get_profile_url() }}">{{ r[1].name }}</a></td>
            <td>{{ r[2]["pci"] }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        
        </tbody>
    
      </table>
  
  </div>

</div>
{% endblock %}


{% block js %}
  <script>
    
    function change_year(new_year) {
      
      var url = window.location.pathname.split("/")
      if(url.length == 5){
        url.splice(3, 1, new_year)
      }
      else {
        url.splice(3, 0, new_year)
      }
      window.location = url.join("/")
      
    }
  
    d3plus.ui()
      .type("drop")
      .data("#change_year")
      .color("#0085BF")
      .margin(0)
      .padding(6)
      .search(false)
      .font({
        "family": "'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'",
        "size": 18,
        "weight": "lighter",
        "spacing": 1
      })
      .callback(change_year)
      .draw()
  
  
    var total = d3.selectAll("tbody tr")[0].length
    // Add color to rankings
    var color = d3.scale.linear()
      .domain([0, total/2, total-1])
      .interpolate(d3.interpolateRgb)
      .range(["#00cc00", "#cccccc", "#cc0000"])
    d3.selectAll("tbody tr").select("td span")
      .style("background", function(d, i){
        return color(i);
      })
  
  </script>
{% endblock %}