{% extends "templates/nav.html" %}

{% block title %} - {{ _("Publications") }}{% endblock %}

{% block body %}

<header><h1>{{ _("Publications") }}</h1></header>

<section>
  <aside>
    <img class="book" src="/static/img/resources/information.png">
  </aside>
  <content>
    <h2>Why Information Grows</h2>
    <h3>The Evolution of Order, from Atoms to Economies</h3>
    <h4>Cesar Hidalgo</h4>

    <p>What is economic growth? And why, historically, has it occurred in only a few places? Previous efforts to answer these questions have focused on institutions, geography, finances, and psychology. But according to MIT's antidisciplinarian César Hidalgo, understanding the nature of economic growth demands transcending the social sciences and including the natural sciences of information, networks, and complexity. To understand the growth of economies, Hidalgo argues, we first need to understand the growth of order.</p>

    <p>In bookstores now. Also available for purchase and download from <a target="_blank" href="http://www.amazon.com/Why-Information-Grows-Evolution-Economies/dp/0465048994/ref=sr_1_1?ie=UTF8&qid=1435945119&sr=8-1&keywords=why+information+grows">Amazon</a>.

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/resources/inequality.png">
  </aside>
  <content>
    <h2>Linking Economic Complexity, Institutions and Income Inequality</h2>
    <h4>D. Hartmann, M. Guevara, C. Jara-Figueroa, M. Aristarán, C.A. Hidalgo</h4>

    <p>The mix of products that a country exports predicts that country's subsequent pattern of diversification and economic growth. But does this product mix also predict income inequality?</p>
    <p>More information, including the full paper, can be found <a target="_blank" href="http://arxiv.org/abs/1505.07907">here</a>.

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/resources/atlas.png">
  </aside>
  <content>
    <h2>The Atlas of Economic Complexity</h2>
    <h3>Mapping Paths to Prosperity</h3>
    <h4>Ricardo Hausmann, César A. Hidalgo, Sebastián Bustos, Michele Coscia, Sarah Chung, Juan Jimenez, Alexander Simoes, Muhammed A. Yildirim</h4>
    <p></p>
    <blockquote>
      "Emphasizing that not all products are the same for development is a significant departure from the establishment."
      <p>&mdash;Changyong Rhee, Chief Economist<br>Asian Development Bank (Cambridge, MA 2011)</p>
    </blockquote>
    <blockquote>
      "The ECI can play a very important role. It can help identify the role of developing countries."
      <p>&mdash;Justin Lin, Chief Economist<br>World Bank (Cambridge, MA 2011)</p>
    </blockquote>

    <ul><h3>Downloads</h3>
      <li>
        <a href="/static/pdf/atlas/AtlasOfEconomicComplexity.pdf">
          Full Version
        </a> – 364 pages (85.7 MB)
      </li>
      <li>
        <a href="/static/pdf/atlas/AtlasOfEconomicComplexity_Part_I.pdf">
          Part I: Why, What and How &amp; Rankings
        </a> – 91 pages (8.2 MB)
      </li>
      <li>
        <a href="/static/pdf/atlas/AtlasOfEconomicComplexity_Part_II.pdf">
          Part II: Country Pages
        </a> – 271 pages (75.4 MB)
      </li>
    </ul>

  </content>
</section>

{% endblock %}
