{% extends "templates/nav.html" %}

{% block title %} - {{ _("Papers") }}{% endblock %}

{% block body %}

<header class="profile_header">
  <img class="header" src="/static/img/headers/pages/classroom.jpg"></img>
  <h1>
    {{ _("Papers") }}
    <sub class="author"><a href="https://flic.kr/p/nm2s5h" target="_blank">
      <i class="fa fa-camera"></i>{{ _("Photo by") }} Ryan Tyler Smith
    </a></sub>
  </h1>
</header>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/inequality.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://arxiv.org/abs/1505.07907">
        Linking Economic Complexity, Institutions and Income Inequality
      </a>
    </h2>
    <h3>13 August 2015</h3>
    <h4>D. Hartmann, M. Guevara, C. Jara-Figueroa, M. Aristarán, C.A. Hidalgo</h4>

    <p>The mix of products that a country exports predicts that country's subsequent pattern of diversification and economic growth. But does this product mix also predict income inequality?</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/kazakhstan.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://www.elgaronline.com/view/9781784715533.00014.xml">
        Economic diversification: implications for Kazakhstan
      </a>
    </h2>
    <h3>24 April 2015</h3>
    <h4>Jesus Felipe, Cesar A Hidalgo</h4>

    <p>Over two decades since independence, upper-middle income Kazakhstan—a large,
landlocked, sparsely populated but resource-rich country—remains an economy in
transition.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/neighbors.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0022199613001098">
        Neighbors and the evolution of the comparative advantage of nations: Evidence of international knowledge diffusion?
      </a>
    </h2>
    <h3>31 January 2014</h3>
    <h4>Dany Bahar, Ricardo Hausmann, Cesar A Hidalgo</h4>

    <p>The literature on knowledge diffusion shows that knowledge decays strongly with
distance. In this paper we document that the probability that a product is added to a country's
export basket is, on average, 65% larger if a neighboring country is a successful exporter of
that same product.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/nestedness.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0049393">
        The Dynamics of Nestedness Predicts the Evolution of Industrial Ecosystems
      </a>
    </h2>
    <h3>19 November 2012</h3>
    <h4>Bustos S, Gomez C, Hausmann R, Hidalgo CA</h4>

    <p>In economic systems, the mix of products that countries make or export has been shown to be a strong leading indicator of economic growth. Hence, methods to characterize and predict the structure of the network connecting countries to the products that they export are relevant for understanding the dynamics of economic development.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/networkstructure.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://link.springer.com/article/10.1007/s10887-011-9071-4#page-1">
        The network structure of economic output
      </a>
    </h2>
    <h3>1 October 2011</h3>
    <h4>R. Hausmann, C.A. Hidalgo</h4>

    <p>Much of the analysis of economic growth has focused on the study of aggregate
output. Here, we deviate from this tradition and look instead at the structure of output
embodied in the network connecting countries to the products that they export.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/oec.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://www.researchgate.net/profile/Cesar_Hidalgo/publication/221605462_The_Economic_Complexity_Observatory_An_Analytical_Tool_for_Understanding_the_Dynamics_of_Economic_Development/links/54f472430cf24eb8794e8a6d.pdf">
        The Economic Complexity Observatory: An Analytical Tool for Understanding the Dynamics of Economic Development.
      </a>
    </h2>
    <h3>January 2011</h3>
    <h4>A.J.G. Simoes, C.A. Hidalgo</h4>

    <p>We introduce The Economic Complexity Observatory, a tool for helping users
understand the evolution of countries' productive structures and trade partners. Here we
bridge the gap of harnessing the raw computational power of cycling through thousands of
entries of data with the analytical, decision making qualities of the human mind through the
use of information visualization “apps”.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/africa.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://www.chidalgo.com/Papers/HidalgoCA_GMF_2011.pdf">
        Discovering Southern and East Africa’s Industrial Opportunities
      </a>
    </h2>
    <h3>January 2011</h3>
    <h4>C.A. Hidalgo</h4>

    <p>What are Southern and East Africa’s industrial opportunities? In this article we explore this question by using the product space to study the productive structure of five Southern and East African countries: Kenya, Mozambique, Rwanda, Tanzania, and Zambia.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/42years.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://www.hks.harvard.edu/centers/cid/publications/faculty-working-papers/cid-working-paper-no.-189">
        The Dynamics of Economic Complexity and the Product Space over a 42 year period
      </a>
    </h2>
    <h3>December 2009</h3>
    <h4>C.A. Hidalgo</h4>

    <p>How does the productive structure of countries' changes over time? In this paper we explore this question by combining techniques of networks science with 42 years of trade data and find that, while the Product Space remains relatively stable during this period, the dynamics of countries' productive structures is characterized by a few highly dynamic economies.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/buildingblocks.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://www.pnas.org/content/106/26/10570.short">
        The Building Blocks of Economic Complexity
      </a>
    </h2>
    <h3>1 May 2009</h3>
    <h4>C.A. Hidalgo, R. Hausmann</h4>

    <p>For Adam Smith, wealth was related to the division of labor. As people and firms specialize in different activities, economic efficiency increases, suggesting that development is associated with an increase in the number of individual activities and with the complexity that emerges from the interactions between them.</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/networkview.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://kms1.isn.ethz.ch/serviceengine/Files/ISN/97394/ichaptersection_singledocument/646EBB06-3D08-4A82-BB09-B473C23937A7/en/Ch_2.pdf">
        A Network View of Economic Complexity
      </a>
    </h2>
    <h3>2008</h3>
    <h4>C.A. Hidalgo, R. Hausmann</h4>

    <p>Does the type of product a country exports matter for subsequent economic performance?</p>

  </content>
</section>

<section>
  <aside>
    <img class="book" src="/static/img/publications/papers/psconditions.png">
  </aside>
  <content>
    <h2>
      <a target="_blank" href="http://www.sciencemag.org/content/317/5837/482.short">
        The Product Space Conditions the Development of Nations
      </a>
    </h2>
    <h3>27 July 2007</h3>
    <h4>C.A. Hidalgo, B. Klinger, A.-L. Barabási, R. Hausmann</h4>

    <p>Economies grow by upgrading the products they produce and export. The technology, capital, institutions, and skills needed to make newer products are more easily adapted from some products than from others.</p>

  </content>
</section>

<script>var color = "#856747";</script>

{% endblock %}
