body.api {

  @include font-smoothing(antialiased);

  #container #content { 
    background-color: $darkbackground;
    margin: 100px auto;
    padding: 20px 3% 20px 0;
    max-width: 1200px;

    content {
      margin: 0 auto !important;
    }

    a {
      color: #a4b500;
      text-decoration: none;
      &:hover {
        padding-bottom: 2px;
        border-bottom: 1px dotted #a4b500;
      }
    }

    p {
      margin: 5px 0;
    }

    section {
      margin-bottom: 30px;

      aside {
        margin: 0 20px;
        width: 180px;

        p {
          text-align: left;
        }
      }
    }
  }

  h2 {
    line-height: 1.1;
    margin: 20px 0;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 0.8;
    color: #a4b500;
  }

  h4 {
    line-height: 1.3;
  }

  table {
    border: 1px solid $darkbordercolor;
    margin-bottom: 20px;
    background-color: #272f38;
    color: #ddd;

    input {
      padding: 5px 7px;
      background-color: #353c45;
      color: white;
      border: 0;
    }

    a {
      color: $lightlinkcolor !important;
      &:hover {
        border-bottom: 1px dotted $lightlinkcolor !important;
      }
    }
  }

  pre {
    padding: 7px 0;
    margin-bottom: 7px;
  }
  
  code {
    // background-color: rgba(0, 133, 191, 0.25);
    // background-color: #f9f2f4;
    background-color: #3f464f;
    color: #ff50a8;
    display: inline-block;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 7px;
    padding: 1px 4px;
    white-space: nowrap;

  }

  td.code {
    // text-align: center;
    width: 120px;
  }
}
