#container {
  @include flex;
  @include flex-direction(column);
  @include justify(flex-start);
  @include transition(margin-left 0.1s);
  margin-left: $nav;
  margin-top: $header;

  @media all and (max-width: 1024px) {
    margin-left: 0;
  }

  a {
    @include transition(border-bottom 0.1s);
    color: $color;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $color;
    }
  }

  #content {
    @include flex-size(1);

    header {
      @include flex;
      @include align-items(center);
      @include justify(center);
      height: $header;
      left: $nav;
      padding: 0 50px;
      position: fixed;
      right: 0;
      top: 0;

      @media all and (max-width: 1024px) {
        left: 0;
      }

      @media all and (max-width: 768px) {
        @include flex-direction(column);
      }

      h1 {
        color: #fff;
        font-size: 50px;
        position: relative;
        text-shadow: $shadow;
        width: 100%;

        @media all and (max-width: 768px) {
          font-size: 35px;
          text-align: center;
        }

      }

      .header {
        -webkit-transition: -webkit-filter 1s;
        left: 50%;
        top: 50%;
        -webkit-filter: blur(50px) contrast(1.1) brightness(0);
      }

    }

    section {
      @include flex;

      h4 {
        margin: 10px 0;
      }

      aside {
        margin: 50px 0 0 50px;
        width: $nav;

        img {
          @include shadow;
          width: 100%;
        }

        #topojson {
          display: block;
          height: 250px;
          margin-top: 10px;
          width: 100%;
        }

        @media all and (max-width: 768px) {
          margin: 20px 20px 0 20px;
          width: auto;
        }

      }

      content {
        @include flex-size(1);
        margin: 50px 50px 0 50px;

        @media all and (max-width: 768px) {
          margin: 20px 20px 0 20px;
        }

        ul {
          margin: 20px 0;

          li {
            margin-left: 30px;
            padding: 5px 0;
          }

        }

        .viz {
          display: block;
          height: 450px;
          margin-top: 10px;
          width: 100%;
        }

      }
    }

  }

  footer {
    @include flex-size(none);
    @include transition(margin-left 0.1s);
    font-family: $serif;
    font-size: 11px;
    line-height: 18px;
    padding: 20px 50px;
    margin-top: 20px;
    text-align: center;

    @media all and (max-width: 768px) {
      padding: 20px;
    }

    div {
      margin: 0 auto;
      max-width: 650px;
    }

    ul {
      margin-top: 10px;
      text-align: center;
      li {
        display: inline-block;
        margin: 1px 5px;
      }
    }
  }

}
