#container {
  @include flex;
  @include flex-direction(column);
  @include justify(flex-start);
  @include transition(margin-left 0.1s);
  margin-left: $nav;
  margin-top: $header;

  @media all and (max-width: 1024px) {
    margin-left: 0;
  }

  a {
    @include transition(border-bottom 0.1s);
    color: $color;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $color;
    }
  }

  #content {
    @include flex-size(1);

    .profile_header {
      @include flex;
      @include align-items(center);
      @include justify(center);
      @include transition(box-shadow 0.1s);
      height: $header;
      overflow: hidden;
      -webkit-transform: translateZ(0);
      z-index: 5;

      .header {
        position: absolute;
        z-index: -1;
      }

      .icon {
        @include flex-size(none);
        height: 80px;
        margin: 0 20px 0 0;
        width: 80px;
        -webkit-filter: drop-shadow($shadow);
        filter: drop-shadow($shadow);
        @media all and (max-width: 768px) {
          margin: 0;
        }
      }

      &:hover {
        .author {
          opacity: 1;
        }
      }

      h1 {
        color: #fff;
        position: relative;
        text-shadow: $shadow;
        width: 100%;

        sub {
          color: white;
          display: block;
          font-size: 11px;
          text-shadow: $shadow;

          &.author {
            @include transition(opacity 0.5s);
            bottom: -15px;
            opacity: 0;
            position: absolute;
            @media all and (max-width: 768px) {
              position: static;
            }
          }

          i {
            display: inline-block;
            margin: 2px 5px 0;
          }

          a {
            color: white;
            &:hover {
              border-color: transparent;
            }
          }

        }

      }

    }

    header {
      @include flex;
      @include align-items(center);
      @include justify(center);
      height: $header;
      left: $nav;
      padding: 0 50px;
      position: fixed;
      right: 0;
      top: 0;

      @media all and (max-width: 1024px) {
        left: 0;
      }

      @media all and (max-width: 768px) {
        @include flex-direction(column);
      }

      h1 {
        color: #fff;
        font-size: 50px;
        position: relative;
        text-shadow: $shadow;
        width: 100%;

        @media all and (max-width: 768px) {
          font-size: 35px;
          text-align: center;
        }

      }

      .header {
        -webkit-transition: -webkit-filter 1s;
        left: 50%;
        top: 50%;
        -webkit-filter: blur(50px) contrast(1.1) brightness(0);
      }

    }

    section {
      @include flex;

      .profile_button {
        @include flex-size(1);
        background-color: black;
        margin-top: 50px;

        .header {
          height: 110%;
          margin-left: -5px;
          margin-top: -5px;
          position: absolute;
          width: 110%;
          z-index: -1;
          -webkit-filter: blur(5px) contrast(1.1) brightness(0.8);
        }

        .icon {
          margin: 0 25px;
        }

        h1 {
          font-size: 25px;
        }

        &:first-child {
          margin-right: 5px;
        }

        &:last-child {
          margin-left: 5px;
          text-align: right;
        }

      }

      &#stats {
        padding: 6px 0 7px
      }

      @media all and (max-width: 768px) {
        @include flex-direction(column);
        &#stats {
          @include flex-direction(row);
        }
      }

      .stat {
        @include flex;
        @include flex-direction(column);
        @include align-items(center);
        @include flex-size(1);
        border-right: 1px solid rgba(0 ,0 ,0 ,0.1);
        color: white;
        margin: 0;
        padding: 0 10px;
        text-align: center;

        &:last-child {
          border-right: none;
        }

        h3 {
          font-size: 20px;
          font-weight: 200;
          @media all and (max-width: 768px) {
            font-size: 16px;
          }
        }

        sub {
          font-size: 14px;
          font-weight: 200;
          @media all and (max-width: 768px) {
            font-size: 11px;
          }
        }

      }

      h4 {
        margin: 10px 0;
      }

      aside {
        margin: 50px 0 0 50px;
        width: $nav;

        img {
          @include shadow;
          width: 100%;
        }

        ul {
          font-family: $serif;
          font-size: 17px;
          line-height: 28px;

          .active {
            font-weight: 700;
          }

          .depth2 {
            list-style-type: none;
          }

          .depth6 {
            margin-left: 20px;
          }

          .depth8 {
            margin-left: 40px;
          }

        }

        .viz {
          display: block;
          height: 200px;
          width: 100%;
        }

        @media all and (max-width: 768px) {
          margin: 20px 20px 0 20px;
          width: auto;
        }

      }

      content {
        @include flex-size(1);
        margin: 50px 50px 0 50px;

        @media all and (max-width: 768px) {
          margin: 20px 20px 0 20px;
        }

        ul {
          margin: 20px 0;

          li {
            margin-left: 30px;
            padding: 5px 0;
          }

        }

        .viz {
          display: block;
          height: 400px;
          width: 100%;
        }

      }
    }

  }

  footer {
    @include flex-size(none);
    @include transition(margin-left 0.1s);
    font-family: $serif;
    font-size: 11px;
    line-height: 18px;
    padding: 20px 50px;
    margin-top: 20px;
    text-align: center;

    @media all and (max-width: 768px) {
      padding: 20px;
    }

    div {
      margin: 0 auto;
      max-width: 650px;
    }

    ul {
      margin-top: 10px;
      text-align: center;
      li {
        display: inline-block;
        margin: 1px 5px;
      }
    }
  }

}
