#container {
  @include flex;
  @include flex-direction(column);
  @include justify(flex-start);
  @include transition(margin-left 0.1s);
  margin-left: $nav;
  margin-top: $header;

  @media all and (max-width: 1024px) {
    margin-left: 0;
  }

  a {
    @include transition(border-bottom 0.1s);
    color: $color;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $color;
    }
  }

  #content {
    @include flex-size(1);

    header {
      @include flex;
      @include align-items(center);
      @include justify(center);
      @include transition(box-shadow 0.1s);
      height: $header;
      left: $nav;
      overflow: hidden;
      padding: 0 50px;
      position: fixed;
      right: 0;
      top: 0;
      -webkit-transform: translateZ(0);
      z-index: 5;

      @media all and (max-width: 1024px) {
        left: 0;
      }

      @media all and (max-width: 768px) {
        @include flex-direction(column);
      }

      #header {
        left: 50%;
        position: absolute;
        top: 50%;
        z-index: -1;
      }

      #icon {
        @include flex-size(none);
        height: 80px;
        margin: 0 20px 0 0;
        width: 80px;
      }

      h1 {
        color: #fff;
        font-size: 50px;
        text-shadow: $shadow;
        width: 100%;

        @media all and (max-width: 768px) {
          font-size: 35px;
          text-align: center;
        }

      }

    }

    section {
      @include flex;

      &#stats {
        padding: 6px 0 7px
      }

      @media all and (max-width: 768px) {
        @include flex-direction(column);
        &#stats {
          @include flex-direction(row);
        }
      }

      .stat {
        @include flex;
        @include flex-direction(column);
        @include align-items(center);
        @include flex-size(1);
        border-right: 1px solid rgba(0 ,0 ,0 ,0.1);
        color: white;
        margin: 0;
        padding: 0 10px;
        text-align: center;

        &:last-child {
          border-right: none;
        }

        h3 {
          font-size: 20px;
          font-weight: 200;
          @media all and (max-width: 768px) {
            font-size: 16px;
          }
        }

        sub {
          font-size: 14px;
          font-weight: 200;
          @media all and (max-width: 768px) {
            font-size: 11px;
          }
        }

      }

      h4 {
        margin: 10px 0;
      }

      aside {
        margin: 50px 0 0 50px;
        width: $nav;

        img {
          @include shadow;
          width: 100%;
        }

        ul {
          font-family: $serif;
          font-size: 17px;
          line-height: 28px;

          .active {
            font-weight: 700;
          }

          .depth2 {
            list-style-type: none;
          }

          .depth6 {
            margin-left: 20px;
          }

          .depth8 {
            margin-left: 40px;
          }

        }

        .viz {
          background-color: #ddd;
          display: block;
          height: 200px;
          width: 100%;
        }

        @media all and (max-width: 768px) {
          margin: 20px 20px 0 20px;
          width: auto;
        }

      }

      content {
        @include flex-size(1);
        margin: 50px 50px 0 50px;

        @media all and (max-width: 768px) {
          margin: 20px 20px 0 20px;
        }

        ul {
          margin: 20px 0;

          li {
            margin-left: 30px;
            padding: 5px 0;
          }

        }

        .viz {
          background-color: #ddd;
          display: block;
          height: 400px;
          width: 100%;
        }

      }
    }

  }

  footer {
    @include flex-size(none);
    @include transition(margin-left 0.1s);
    font-family: $serif;
    font-size: 11px;
    line-height: 18px;
    padding: 20px 50px;
    margin-top: 20px;
    text-align: center;

    @media all and (max-width: 768px) {
      padding: 20px;
    }

    div {
      margin: 0 auto;
      max-width: 400px;
    }

    ul {
      margin-top: 10px;
      text-align: center;
      li {
        display: inline-block;
        margin: 1px 5px;
      }
    }
  }

}
