body.explore {

  content {
    margin: 35px 35px 35px 0 !important;

    h1 {
      text-align: center;
    }

  }

}

#explorer {

  #prev, #next {
    font-size: 12px;
    position: absolute;
    top: 34px;

    @media all and (max-width: 768px) {
      top: 13px;
    }

  }

  #prev {
    left: 50px;
  }

  #next {
    right: 50px;
  }

  .app_button {
    @include transition(opacity 0.5s);
    display: inline-block;
    font-family: $montserrat;
    font-size: 12px;
    margin: 5px 0;
    opacity: 0.7;
    text-transform: uppercase;
    width: $sidebar / 2 - 5;

    img {
      margin-right: 3px;
      width: 15px;
    }

    &:hover {
      cursor: pointer;
    }

    &.open {
      opacity: 1;
    }

  }

  .app_menu {
    display: none;
    margin: 10px 20px 20px 0;

    &.open {
      display: block;
    }

    .build {
      @include transition(opacity 0.1s);
      font-family: $source-sans;
      font-size: 12px;
      font-weight: 400;
      margin: 10px 0;

      .build_title {
        display: inline-block;
        margin-left: 10px;
        opacity: 0.7;
        width: 75px;

        &.active {
          font-weight: 700;
          opacity: 1;
        }

      }

      .build_list {
        display: inline-block;

        .build_link {
          display: block;
          opacity: 0.7;

          &.active {
            font-weight: 700;
            opacity: 1;
          }

          &:hover {
            text-decoration: underline;
          }

        }

      }

    }

  }

  #changers {

    .ui {
      margin-left: 10px;
    }

    #build {
      border: 1px solid white;
      background-color: $darkbackground;
      color: white;
      cursor: pointer;
      display: block;
      font-family: $montserrat;
      font-size: 13px;
      margin: 20px 0;
      padding: 6px 10px;
      text-align: right;
      text-transform: uppercase;
      width: 100%;

      &.active {
        // @include shadow();
        // background-color: $blue;
      }

    }

  }

}

.d3plus_tooltip_html h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.d3plus_tooltip_html a.related:before {
    background-image: url("/static/img/icons/app/app_tree_map_black.png");
    font-size: 12px;
    line-height: 27px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0px;
    width: 38px;
}

.d3plus_tooltip_html a.related {
  display: block;
  margin: 10px 0 0 0;
  padding: 6px 24px 6px 40px;
  color: #888;
  display: block;
  opacity: 0.9;
  position: relative;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  margin: 0px 0px 6px 0px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25)
}
.d3plus_tooltip_html a.related:hover {
  opacity: 1;
}

.d3plus_tooltip_html a.related:after,
.d3plus_tooltip_html a.profile:after {
    bottom: 8px;
    content: unicode("f105");
    display: block;
    font-family: FontAwesome;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 12px;
    text-decoration: inherit;
}

.d3plus_tooltip_html hr {
  margin: 20px 40px;
  padding: 0;
  border: solid #ccc 1px;
  height: 1px;
  display: block;
}

.d3plus_tooltip_html a.profile {
  display: block;
  margin: 10px 0 0 0;
  color: #888;
  display: block;
  opacity: 0.9;
  padding: 6px;
  position: relative;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  line-height: 29px;
  margin: 0px 0px 6px 0px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  background-color: #330000;
}

.d3plus_tooltip_html a.profile img {
  width: 30px;
  margin: 0 10px 0 0;
}
