body.visualize {
  @include font-smoothing(antialiased);

  content {
    margin: 0 20px 0 0 !important;

    @media all and (max-width: 768px) {
      margin: 0 20px !important;
    }

    h1 {
      text-align: center;
    }
  }

}

#explorer {

  #prev, #next {
    font-size: 12px;
    position: absolute;
    top: 34px;

    @media all and (max-width: 768px) {
      top: 13px;
    }

  }

  #prev {
    left: 50px;
  }

  #next {
    right: 50px;
  }

  .app_button {
    @include transition(opacity 0.5s);
    display: inline-block;
    font-family: $montserrat;
    font-size: 14px;
    margin: 5px 0;
    opacity: 0.7;
    text-transform: uppercase;
    width: $sidebar / 2 - 5;

    img {
      margin-right: 3px;
      width: 15px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &.open {
      opacity: 1;
    }

  }

  .app_menu {
    display: none;
    margin: 10px 0 20px 0;

    &.open {
      display: block;
    }

    h3 {
      font-size: 16px;
      margin: 35px 0 20px;
    }

    .build {
      @include transition(opacity 0.1s);
      font-family: $source-sans;
      font-size: 12px;
      font-weight: 400;
      margin: 10px 0 10px 33px;

      .build_title {
        display: inline-block;
        font-size: 13px;
        margin-left: 10px;
        opacity: 0.7;
        width: 80px;

        &.active {
          font-weight: 700;
          opacity: 1;
        }

      }

      .build_list {
        display: inline-block;
        line-height: 1.5;

        .build_link {
          display: block;
          opacity: 0.7;

          &.active {
            font-weight: 700;
            opacity: 1;

            &:before {
              content: unicode("f0da");
              font-family: FontAwesome;
              position: absolute;
              margin-top: 0px;
              margin-left: -10px;
            }
          }

          &:hover {
            opacity: 0.9;

            &:before {
              content: unicode("f0da");
              font-family: FontAwesome;
              opacity: 0.7;
              position: absolute;
              margin-top: 0px;
              margin-left: -10px;
            }
          }

        }

      }

    }
    
    &[data-app="scatter"] {
      .build {
        margin: 10px 0;

        .build_title {
          margin-left: 0;
        }

      }
    }
  }

  #changers {

    h2 {
      font-size: 28px;
      margin-bottom: 28px;
    }

    h3 {
      font-size: 16px;
      margin: 25px 0 5px;
    }

    h4 {
      font-family: $montserrat;
      font-size: 12px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .ui {
      margin: 12px 0 0 0;
    }

    #build {
      border: 1px solid white;
      background-color: $darkbackground;
      color: white;
      cursor: pointer;
      display: block;
      font-family: $montserrat;
      font-size: 13px;
      margin: 20px 0;
      padding: 6px 10px;
      text-align: right;
      text-transform: uppercase;
      width: 100%;

      &.active {
        // @include shadow();
        // background-color: $blue;
      }

    }

  }

}

.d3plus_tooltip {
  font-family: $source-sans !important;
  font-weight: 400 !important;

  .d3plus_tooltip_data_value {
    font-weight: 700 !important;
  }

}

.d3plus_tooltip_title, .d3plus_tooltip_footer {
  font-family: $montserrat !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.d3plus_tooltip_html {
  font-family: $source-sans !important;
  font-weight: 400 !important;
}

.d3plus_tooltip_html a.related,
.d3plus_tooltip_html a.profile {
  @include transition(opacity 0.1s);
  color: $black;
  display: block;
  margin: 10px 0 0 0;
  opacity: 0.75;
  padding: 14px 24px 6px 4px;
  position: relative;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.3;

  &:hover {
    opacity: 1;
  }

  &:after {
      bottom: 2px;
      content: unicode("f105");
      display: block;
      font-family: FontAwesome;
      font-size: 20px;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: normal;
      line-height: 38px;
      position: absolute;
      right: 12px;
      text-decoration: inherit;
  }

}

.d3plus_tooltip_html a.related {
  padding: 6px 24px 6px 40px;

  &:before {
      background-image: url("/static/img/icons/app/app_tree_map_black.png");
      font-size: 12px;
      line-height: 38px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 80%;
      content: "";
      display: block;
      height: 100%;
      left: 0px;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 0px;
      width: 38px;
  }

}

.d3plus_tooltip_html a.profile {
  color: white !important;
}

.d3plus_tooltip_html a.profile img {
  width: 30px;
  margin: -8px 6px 0 0;
}
