#hamburger {
  cursor: pointer;
  display: none;
  cursor: pointer;
  @include margin(-15px, 5px, -15px, 0);
  @include padding(15px, 15px, 15px, 15px);
  z-index: 8;

  @media all and (max-width: 950px) {
    display: block;
  }

  img {
    @include transition(opacity 0.1s, height 0.2s, transform 0.4s 0.1s);
    opacity: 0.7;
    width: 17px;
    height: 12px;
    margin-top: 4px;

    &.open {
      @include transform(rotate(360deg));
      height: 2px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

#mask {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  display: none;
  @include left(0);
  opacity: 1;
  position: fixed;
  @include right(0);
  top: 0;
  z-index: 30;

  &.visible {
    display: block;
  }

}
