body.home {

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAOZxU3GjMhiIIHpvXVn4YIwAZAisCCyAFgQXQAkCAAiqRGXMgseLwAAAABJRU5ErkJggg==) repeat #222931;
  height: 100vh;

  #ring {
    background-color: #222931;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 5% 10% 0;
    padding-bottom: 80%;
    position: absolute;
    width: 80%;
    z-index: -1;
  }

  #ring-pulse {
    @include animation(pulse ease-in-out 4s infinite);
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 5% 10% 0;
    overflow: hidden;
    padding-bottom: 80%;
    position: absolute;
    width: 80%;
    z-index: -2;
  }

  .earth-orbit {
    @include animation(spin-right 4s linear infinite);
    border-radius: 50%;
    border: 1px dotted rgba(255,255,255,0.5);
    left: 70%;
    margin-top: -250px;
    margin-left: -250px;
    padding-bottom: 35%;
    position: absolute;
    top: 40%;
    width: 33%;
  }

  .earth {
    height: 8px;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 8px;
  }

  #container {

    content {
      text-align: center;

      #big_logo {
        margin-top: 27%;
        max-width: 800px;
        width: 65%;
      }

      p {
        font-family: $lato;
        line-height: 1.5;
        font-size: 20px;
        font-weight: 300;
        margin: 50px auto;
        max-width: 67%;
      }

    }

  }

}

@include keyframes(pulse) {
  0% {
    @include transform(scale(1));
    opacity: 0.7
  }
  50% {
    @include transform(scale(1.1));
    opacity: 0.1
  }
  100% {
    @include transform(scale(1));
    opacity: 0.7
  }
}

@include keyframes(spin-right) {
  100% {
    @include transform(rotate(360deg));
  }
}
