nav {
  @include font-smoothing(antialiased);
  @include flex();
  @include flex-direction(row);
  @include justify(space-between);
  @include align-items(center);
  background-color: $darkbackground;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 20px 0;

  #logo {
    color: white;
    font-family: $open-sans;
    font-size: 25px;
    font-weight: 800;
    margin: 0px;
    position: relative;
    left: 17px;
    text-decoration: none;
  }

  ul {
    @include flex();
    @include flex-direction(row);
    @include transition(left 0.5s);
    list-style: none;

    @media all and (max-width: 768px) {
      @include flex-direction(column);
      background-color: $darkbackground;
      left: -$sidebar;
      position: absolute;
      width: $sidebar;
      z-index: 2000;

      &.open {
        left: 0;
      }

    }

    li {
      font-family: $montserrat;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      opacity: 0.7;
      padding: 5px 10px;
      position: relative;
      text-transform: uppercase;

      &.active {
        opacity: 1;
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      a {
        color: white;
      }

      .sub_menu {
        background-color: $darkbackground;
        display: none;
        left: -5px;
        padding: 0 0 5px 5px;
        position: absolute;
        top: 25px;
        width: 125%;
        z-index: 1000;

        &.open {
          display: block;
        }

        ul {
          display: block;

          li {
            display: block;
            font-size: 11px;
            padding: 5px 10px;

            &:hover {
              opacity: 0.9;
            }

            &:hover:before {
              content: unicode("f0da");
              font-family: FontAwesome;
              opacity: 0.4;
              position: absolute;
              margin-top: 2px;
              margin-left: -10px;
            }

            &.active:before {
              content: unicode("f0da");
              font-family: FontAwesome;
              position: absolute;
              margin-top: 2px;
              margin-left: -10px;
            }
          }

        }

      }

    }

  }

  #search_button {
    margin-right: 15px;

    img {
      @include transition(opacity 0.1s, transform 0.5s);
      opacity: 0.7;
      height: 22px;
      width: 22px;
    }

    :hover {
      cursor: pointer;
      opacity: 1;
    }

    &.open img {
      @include transform(rotate(180deg));
    }

  }

}
