body.profile {
  background-color: $darkbackground;

  h1 {
    line-height: 1;
    margin: 0 30px -15px;
    padding-top: 30px;

    @media all and (max-width: 768px) {
      margin: 0px 30px;
    }
  }

  h2 {
    margin-bottom: 20px;
    line-height: 1.1;
  }

  article {

    aside {
      margin: 30px !important;
    }

    content {
      margin: 30px !important;
    }

    // section:last-child {
    //   aside, content {
    //     border-bottom: 0 !important;
    //   }
    // }

    &.intro-article {
      background-color: white;
      color: $black;

      p {
        color: $black;
        text-align: left;

        a {
          color: $darklinkcolor;
          &:hover {
            border-bottom: 1px solid $darklinkcolor;
          }
        }
      }
    }

    &.titled-section, &.viz-article {
      background-color: $darkbackground;
      color: white;

      // content {
      //   @media all and (max-width: 768px) {
      //     border-bottom: 1px dotted $darkbordercolor;
      //   }
      // }

      p {
        color: white;

        a {
          color: $lightlinkcolor;
          &:hover {
            border-bottom: 1px solid $lightlinkcolor;
          }
        }
      }
    }

  }

  article.viz-article, article.viz-article + article.titled-section, article .profile_header {
    @include font-smoothing(antialiased);
  }

  article .profile_header {

    p img {
      @include shadow(none);
      border: none;
      margin: 10px 0 0 0;
      width: 100%;
    }

    #title {
      @include flex;
      @include align-items(center);
      @include flex-direction(row);

      @media all and (max-width: 768px) {
        @include justify(center);
      }

      .icon {
        @include flex-size(none);
        height: 80px;
        margin: 0 20px 0 0;
        width: 80px;
        z-index: 10;
      }

      h1 {
        font-size: 65px;
        margin: 0;
        padding: 0;

        &:hover {
          cursor: pointer;
        }

        i {
          opacity: 0.5;
        }

        sub {
          color: white;
          display: block;
          font-size: 11px;
          text-shadow: $shadow;
        }

        &:after {
          content: url('/static/img/nav/search.png');
          @include transition(opacity 1s);
          opacity: 0;
          position: absolute;
          margin-left: 15px;
          margin-top: 2px;
          cursor: pointer;

          @media all and (max-width: 768px) {
            display: none;
          }
        }

        &:hover:after {
          opacity: 0.9;
        }
      }
    }

    .author {
      @include transition(opacity 0.5s);
      bottom: 3px;
      color: white;
      font-size: 9px;
      font-weight: 300;
      opacity: 0;
      position: absolute;
      right: 7px;
      text-shadow: $shadow;

      i {
        display: inline-block;
        margin: 2px 5px 0;
      }

      a {
        color: white;
        &:hover {
          border-color: transparent;
        }
      }
    }

    #stats {
      @include flex;
      @include flex-direction(row);
      @include align-items(flex-start);
      @include justify(space-between);
      @include flex-wrap(wrap);
      position: relative;
    }

    #title, #stats {
      margin: 20px;

      @media all and (max-width: 600px) {
        margin: 10px 0 !important;
      }

    }

    &.country {
      #title, #stats {
        margin-left: 310px;

        @media all and (max-width: 768px) {
          margin-left: 20px;
        }

      }
    }

    &:hover {
      .author {
        opacity: 1;
      }

      .coords {
        fill: white;
        opacity: 0.25;
        stroke: $darkbackground;

        &.focus {
          opacity: 1;
        }

      }

    }

    $stat_width: 160px;

    .stat {
      @include flex-size(1);
      @include flex;
      @include flex-direction(column);
      color: white;
      margin-right: 30px;
      margin-top: 20px;
      // min-width: $stat_width;

      &:last-child {
        margin-right: 0;
      }

      @media all and (max-width: 1024px) {
        margin: 10px;
      }

      @media all and (max-width: 600px) {
        margin: 10px 0 !important;
        min-width: 40%;
      }

      .stat_text {
        @include flex;
        @include flex-direction(row);
        @include align-items(center);
        @include justify(flex-start);

        @media all and (max-width: 1024px) {
          @include flex-direction(column);
          @include justify(center);
          text-align: center;
          h3 {
            margin: 0 !important;
          }
        }

        @media all and (max-width: 600px) {
          @include flex-direction(row);
          @include justify(flex-start);
          text-align: left;
          h3 {
            font-size: 20px !important;
            margin: 0 10px 0 0 !important;
          }

          sub {
            font-size: 12px !important;
          }
        }

        h3 {
          @include flex-size(1);
          font-family: $source-sans;
          font-size: 32px;
          font-weight: 300;
          text-align: right;
        }

        sub {
          @include flex-size(1);
          font-family: $montserrat;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;

          .rank {
            display: block;
            font-size: 10px;
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }

      .sparkline {
        height: 35px;
        margin: 10px 0;
        width: 90%;

        @media all and (max-width: 600px) {
          display: none;
        }

        .sparkpath {
          fill: none;
          stroke: white;
          stroke-width: 2px;
        }
      }

      .years {
        @include flex;
        @include flex-direction(row);
        @include justify(space-between);
        width: 90%;

        @media all and (max-width: 600px) {
          display: none;
        }

      }

      .year {
        font-size: 11px;
        font-weight: 700;
        opacity: 0.9;
      }

      .stat_flag {
        text-align: center;
        img {
          height: 60px;
          width: 60px;
        }

        @media all and (max-width: 600px) {
          display: none;
        }

      }

    }
  }

  .stat {
    @include flex-size(1);
    @include flex;
    @include flex-direction(column);
    color: white;
    margin-right: 35px;
    margin-top: 20px;

    .stat_text {
      @include flex;
      @include flex-direction(row);
      @include align-items(center);
      @include justify(center);

      h3 {
        @include flex-size(none);
        font-family: $source-sans;
        font-size: 32px;
        font-weight: 300;
        margin: 0 10px 0 0 !important;
      }

      sub {
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        .rank {
          display: block;
          font-size: 10px;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }

    .sparkline {
      height: 35px;
      margin: 10px 0;
      width: 100%;

      .sparkpath {
        fill: none;
        stroke: white;
        stroke-width: 2px;
      }
    }

    .years {
      @include flex;
      @include flex-direction(row);
      @include justify(space-between);
    }

    .year {
      font-size: 11px;
      font-weight: 700;
      opacity: 0.9;
    }

    &#eci {
      color: $black;
      // margin: 0;
      width: 100%;

      .stat_text {
        h3 {
          @include flex-size(none);
          font-size: 70px;
          font-weight: 300;
        }

        sub {
          font-size: 15px;
          line-height: 18px;
          margin-top: 3px;

          .rank {
            font-size: 12px;
          }
        }
      }

      .sparkline {
        height: 50px;
        margin: 10px 0;
        width: 100%;

        .sparkpath {
          fill: none;
          stroke: $darkbackground;
          stroke-width: 2px;
        }
      }

      .years {
        width: 100%;
      }

    }

  }

  .viz #d3plus_drawer {
    margin-bottom: -15px;

    .d3plus_title {
      font-family: $montserrat !important;
      font-size: 12px !important;
      font-weight: 400 !important;
      text-transform: uppercase;
    }
  }

  article.intro-article {

    content {
      margin: 45px 30px 30px 0 !important;

      @media all and (max-width: 768px) {
        margin: 0 30px 30px !important;
      }

    }

    aside {
      margin-top: 43px !important;

      @media all and (max-width: 768px) {
        margin-top: 30px !important;
      }

    }

    div.columns p {
      text-align: justify;
    }

    #topojson {
      // @include transition(opacity 1s);
      @include flex-size(none);
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid #aaa;
      height: 250px;
      // left: 35px;
      // opacity: 0;
      opacity: 1;
      position: relative;
      // top: $header + 35px;
      width: 250px;
      z-index: 10;

      &.loaded {
        opacity: 1;
      }

      .coords {
        fill: white;
        opacity: 0.25;
        stroke: $darkbordercolor;

        &.focus {
          opacity: 1;
        }

      }

      @media all and (max-width: 768px) {
        display: none;
      }

    }

  }

  article.product ~ article.titled-section {
    h1 {
      border-top: 0;
    }
  }

  article.viz-article {

    p {
      text-align: left;
    }
  }

  article.titled-section {
    h1 {
      border-top: 1px solid $darkbordercolor;

      @media all and (max-width: 768px) {
        border-top: 0;
      }
    }

    p {
      text-align: left;
    }

    p img {
      @include shadow(none);
      border: none;
      margin: 20px 0 0 0;
      width: 100%;

      @media all and (max-width: 768px) {
        width: 50%;
        margin: 20px 25%;
      }
    }

    section.subtitle-section {

      @media all and (max-width: 768px) {
        aside {
          margin: 0 30px !important;
        }
      }

      content {
        p {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  article .prof-nav {
    width: 100%;

    a.profile_button {
      @include flex;
      @include flex-direction(row);
      @include align-items(center);
      @include gradient(rgba(0,0,0,0), $darkbackground);
      height: 150px;
      margin-top: 6px;
      overflow: hidden;
      position: relative;
      width: 50%;

      @media all and (max-width: 768px) {
        width: 100%;
      }

      .header {
        @include filter(saturate(90%) brightness(0.8) contrast(1.1));
        display: block;
        height: 300%;
        left: 0;
        position: absolute;
        top: -75%;
      }

      i {
        @include flex-size(none);
        font-size: 35px;
        margin: 6px 10px 0;
        opacity: 0.8;
        z-index: 1;
      }

      h1 {
        font-size: 50px;
        line-height: 50px;
        margin: 0;
        opacity: 0.8;
        padding: 0;
        @include text-shadow(1px 1px 6px $darkbackground);
        z-index: 1;
      }

      .icon {
        @include flex-size(none);
        margin: 3px 15px 0;
        max-height: 50px;
        z-index: 1;
      }

      &:hover {
        i, h1 {
          opacity: 1;
        }
      }

      &.prev {
        @include justify(flex-start);
        margin-right: 3px;
        text-align: left;
        i {
          padding-left: 20px;
        }
        @media all and (max-width: 768px) {
          margin-right: 0;
        }
      }

      &.next {
        @include justify(flex-end);
        margin-left: 3px;
        text-align: right;
        i {
          padding-right: 20px;
        }
        @media all and (max-width: 768px) {
          margin-left: 0;
        }
      }

    }
  }

  ul.heirarchy {
    border: 1px solid #BBBDC0;
    color: $darkbackground;
    display: block;
    font-family: $source-sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    list-style-type: none;
    margin-bottom: 45px;
    overflow: scroll;
    padding: 5px 20px 15px 15px;

    @media all and (max-width: 768px) {
      margin-bottom: 0;
    }

    li {
      padding: 3px 0;
      a {
        color: $darklinkcolor;
        font-size: 16px;
        line-height: 1.3;
        &:hover {
          opacity: 0.7;
        }

        span {
          font-weight: 700;
        }
      }
    }

    .depth2 {
      font-size: 22px;
      line-height: 35px;
    }

    .depth6 {
      margin-left: 10px;
    }

    .depth8 {
      margin-left: 20px;
    }
  }

  article {
    &.dataviva {
      background: white url('/static/img/dataviva.png') repeat-x 0 0;
      color: $black;

      h1 {
        border-top: 0;
      }

      p {
        color: $black;
        a:hover {
          border-bottom: 0;
        }
      }
    }

    &.pantheon {
      background-color: #F9F6E3;
      color: $black;

      p {
        color: $black;
        a:hover {
          border-bottom: 0;
        }
      }

      h1 {
        border-top: 0;
      }
    }
  }
}
