body.profile {
  background-color: white;
}

#container {

  #content {

    #topojson {
      @include flex-size(none);
      height: 250px;
      // left: 35px;
      position: relative;
      // top: $header + 35px;
      width: 250px;
      z-index: 10;
    }

    .profile_header {

      #title {
        @include flex;
        @include align-items(center);
        @include flex-direction(row);
        margin: 20px 0 10px;

        .icon {
          @include flex-size(none);
          height: 80px;
          margin: 0 20px 0 0;
          width: 80px;
          z-index: 10;

          @media all and (max-width: 768px) {
            margin: 0;
          }
        }


        h1 {

          i {
            // font-size: 35px;
            // margin-top: 20px;
            opacity: 0.5;
            @media all and (max-width: 768px) {
              // font-size: 20px;
              // margin-top: 16px;
            }
          }

          sub {
            color: white;
            display: block;
            font-size: 11px;
            text-shadow: $shadow;
          }

        }

      }

      #title, #stats {
        margin-left: 35px;
        margin-right: 35px;
      }

      &.country {
        #title, #stats {
          margin-left: 320px;
        }
      }

      .author {
        @include transition(opacity 0.5s);
        bottom: 5px;
        color: white;
        font-size: 11px;
        opacity: 0;
        position: absolute;
        right: 10px;
        text-shadow: $shadow;

        i {
          display: inline-block;
          margin: 2px 5px 0;
        }

        a {
          color: white;
          &:hover {
            border-color: transparent;
          }
        }

      }

      &:hover {
        cursor: pointer;
        .author {
          opacity: 1;
        }
      }

      #stats {
        @include flex;
        @include flex-direction(row);
        @include justify(space-between);
        margin-bottom: 20px;
        position: relative;

        $stat_width: 250px;

        .stat {
          @include flex-size(1);
          @include flex;
          @include flex-direction(row);
          @include align-items(center);
          @include justify(flex-start);
          color: white;
          // min-width: $stat_width;
          // max-width: $stat_width;
          width: $stat_width;

          h3 {
            font-family: $source-sans;
            font-size: 32px;
            font-weight: 400;
            margin: 0 10px 0 0 !important;
          }

          sub {
            font-family: $montserrat;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;

            .rank {
              display: block;
              font-size: 10px;
              font-weight: 400;
              white-space: nowrap;
            }

          }

        }

      }

    }

    section {

      aside {

        #eci {
          @include flex;
          @include flex-direction(row);
          @include align-items(center);
          @include justify(center);
          color: $black;

          h3 {
            @include flex-size(none);
            font-family: $source-sans;
            font-size: 70px;
            font-weight: 300;
            margin: 0 10px 0 0 !important;
          }

          sub {
            font-family: $montserrat;
            font-size: 15px;
            font-weight: 700;
            line-height: 18px;
            margin-top: 3px;
            text-transform: uppercase;

            .rank {
              display: block;
              font-size: 12px;
              font-weight: 400;
            }

          }

        }

      }

      &.dataviva {
        background-color: white;
        color: $black;

        p {
          color: $black;
        }

      }

      &.pantheon {
        background-color: #F9F6E3;
        color: $black;

        p {
          color: $black;
        }
      }

      p img {
        @include shadow(none);
        border: none;
        margin: 10px 0 0 0;
        width: 100%;
      }

      .profile_button {
        @include flex-size(1);
        background-color: black;
        margin-top: 50px;

        .header {
          height: 110%;
          margin-left: -5px;
          margin-top: -5px;
          position: absolute;
          width: 110%;
          z-index: -1;
          -webkit-filter: blur(3px) contrast(1.1) brightness(0.8);
        }

        .icon {
          margin: 0 25px;
        }

        h1 {
          font-size: 25px;
        }

        &:first-child {
          margin-right: 1px;
        }

        &:last-child {
          margin-left: 1px;
          text-align: right;
        }

      }

      @media all and (max-width: 768px) {
        @include flex-direction(column);
        &#stats {
          @include flex-direction(row);
        }
      }

    }

  }

}

ul.heirarchy {
  border: 1px solid #BBBDC0;
  color: $darkbackground;
  display: block;
  font-family: $source-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  list-style-type: none;
  overflow: scroll;
  padding: 5px 15px 15px;

  li {
    padding: 3px 0;
    a {
      color: $darkbackground;
    }
  }

  .active {
    // font-weight: 700;
  }

  .depth2 {
    font-size: 30px;
    line-height: 33px;
  }

  .depth6 {
    margin-left: 10px;
  }

  .depth8 {
    margin-left: 20px;
  }

}
