body.publications {
  background-color: $darkbackground;

  p, h3 a {
    color: $black;
    @include margin(0, 0, 0, 0, !important);
  }

  article {
    @include padding(70px, 5%, 70px, 5%);
    color: $black;

    section {
      @include padding(30px, 30px, 30px, 30px);
      max-width: 1054px;
      @include margin(0, auto, 0, auto);

      content {
        @include margin(0, 0, 0, 0, !important);

        p {
            font-size: 18px;
            line-height: 1.5;
        }

        div {
          display: inline-block;
          overflow: hidden;
        }
      }

      .columns {
        @include column-count(2);
      }
    }

    h3 {
      font-size: 40px;
      letter-spacing: 0;
      font-weight: 700;

      a:hover {
          opacity: 0.7;
      }
    }

    h4 {
        line-height: 1.3;
        margin-top: 20px;
    }

    @media all and (max-width: 768px) {
      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: 30px;
        margin-bottom: 8px;
      }
      h4 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }

    @media all and (min-width: 769px) and (max-width: 1024px) {
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 16px;
      }
    }

    &.why-info-grows {
      background: $green url('/static/img/publications/books/information-bg.png') repeat 50% 0% fixed;

      section {
        background-color: #fff;

        content {
          div:first-child {
            display: block;
            width: 100%;

            h3, h4 {
                display: inline-block;
            }

            h3 {
              @include margin-right(8px);
            }

            h4 {
                margin-top: 10px;
                margin-bottom: 20px;
            }

            @media all and (max-width: 768px) {
              h4{
                margin-top: 5px;
                margin-bottom: 10px;
              }
            }
          }

          div:nth-child(2) {
            @include float(left);
            width: 16%;
            @include margin-right(5%);

            @media all and (min-width: 769px) and (max-width: 1024px) {
              @include margin-right(3%);
              h2 {
                font-size: 26px;
              }
            }

            @media all and (max-width: 768px) {
              @include margin-right(0);
              width: 100%;

              h2 {
                font-size: 24px;
                margin-bottom: 10px;
              }
            }
          }

          div:last-child {
            width: 60%;

            @media all and (min-width: 769px) and (max-width: 1024px) {
              width: 64%;

              p {
                font-size: 16px;
              }
            }

            @media all and (max-width: 768px) {
              width: 78%;
              p {
                font-size: 13px;
              }
            }
          }

          div:nth-child(3) {
            width: 13%;
            @include float(right);
            @include margin-left(3%);

            @media all and (max-width: 768px) {
              width: 17%;
              @include float(left);
              @include margin-left(0);
              @include margin-right(4%);
            }
          }
        }
      }

      h2, h3 a, h4, a {
        color: $green;
        &:hover {
          border-bottom: 0;
        }
      }

      a:hover {
        border-bottom: 1px solid $green;
      }
    }

    &.atlas {
      background: $darkbackground url('/static/img/publications/books/atlas-bg.png') repeat 50% 50%;

      section {
        background-color: rgba(255,255,255,0.9);

        content {
          div:nth-child(2) {
            width: 55%;

            blockquote {
                font-size: 18px;
                margin-top: 20px;
            }

            @media all and (max-width: 768px) {
              width: 100%;

              h4 {
                font-size: 18px;
              }
            }
          }

          div:last-child {
            width: 40%;
            @include margin-left(4%);

            h4 {
                margin-top: 0;
            }

            ul {

              li {
                @include padding-left(0 !important);
                @include margin-left(0 !important);
                color: $darklinkcolor;

                a {
                  color: $darklinkcolor;
                  font-weight: 700;
                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
            }

            @media all and (max-width: 768px) {
              width: 100%;
              margin-top: 4%;
              @include margin-left(0);
            }
          }

          img.book {
            width: 99%;
            border: 1px solid $black;
          }
        }
      }
    }

    &.papers {
      background: $lightbackground;
      @include padding(40px, 5%, 40px, 5%);

      aside {
        width: 225px !important;

        @media all and (max-width: 768px) {
          display:none;
        }
      }

      section {
        @include padding(30px, 0, 30px, 0);

        content {
          div:nth-child(2) {
            width: 19%;

            @media all and (max-width: 768px) {
              width: 100%;
            }
          }

          div:last-child {
            width: 80%;

            @media all and (max-width: 768px) {
              width: 100%;
            }
          }
        }
      }

      h3 {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 0;

        @media all and (max-width: 768px) {
          font-size: 24px;
        }

        a {
            color: #6d6e70;
        }
      }

      h4 {
        margin-top: 10px;

        @media all and (max-width: 768px) {
          font-size: 22px;
          margin-top: 5px;
        }
      }

      p {
        color: $black;

        a {
          color: $darklinkcolor;
          &:hover {
            border-bottom: 1px solid $darklinkcolor;
          }
        }
      }
    }
  }
}

.book {
    width:100%;
}
