$rank_sidebar: 150px;

body.rankings {
  @include font-smoothing(antialiased);

  #container {

    #content .nav-section {
      @include flex();
      @include flex-direction(row);
      @include justify(space-between);
      @include align-items(baseline);
      padding: 30px 0 10px;
      margin: 0 30px !important;

      @media all and (min-width: 1100px) {
        max-width: 1058px;
        margin: 0 auto !important;
      }

      @media all and (max-width: 550px) {
        padding: 30px 0;
        margin: 0 15px !important;
      }

      @media all and (max-width: 768px) {
        @include flex-direction(row);
      }

      aside {
        @include flex(1 auto);
        width: auto !important;
        margin: 0;

        a {
          color: $lightlinkcolor;

          i {
            margin-top: 3px;
          }

          h2.year-nav {
            @include transition(opacity 0.6s);
            font-weight: 400;
            font-size: 26px;
            opacity: 0.6;
            &:hover {
              opacity: 1;
            }

            @media all and (min-width: 769px) and (max-width: 955px) {
              font-size: 23px;
            }

            @media all and (max-width: 768px) {
              font-size: 17px;
            }
          }
        }

        &:last-child {
          text-align: right;
        }

      }

      content {
        text-align: center;

        @media all and (min-width: 769px) and (max-width: 955px) {
          h1 {
            font-size: 30px;
          }
        }
        @media all and (max-width: 768px) {
          h1 {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }

    aside {
      width: $rank_sidebar !important;
    }

    #explorer {
      margin-left: -155px;
        @media all and (max-width: 1175px) {
          margin: 0 30px 20px;
        }

      & ~ content {
        max-width: 695px;
      }

      #rank_changers {

        $font-size: 16px;

        margin-top: 0;

        h3 {
          font-size: $font-size;
          margin: 13px 0 6px;
        }

        .change_dataset {
          margin-bottom: 15px;

          .active {
            color: #333 !important;
            display: inline-block;
            font-weight: bold;
            margin-top: -1px;
            &:hover {
              border-color: #333 !important;
            }
          }
        }

        .download {
          border: 1px solid white;
          color: white;
          display: block;
          font-size: 12px;
          font-weight: 200;
          height: 15px;
          margin: 0 0 15px;
          padding: 5px;
          top: $font-size + 3;
          position: relative;

          &:hover {
            background-color: white;
            color: $darkbackground;
          }

          i {
            margin-right: 2px;
            margin-top: 1px;
          }

        }

        &.pci-changer {
          @media all and (max-width: 426px) {
            .download {
              margin-top: 0px;
            }
          }
        }
      }

    }

    table {
      background-color: $l-darkbackground;
      color: #ccc;
      border: 1px solid $darkbordercolor;
      margin-bottom: 20px;

      a {
        margin-left: 7px;
        color: white;
        font-weight: 700;

        &:hover {
          border-bottom: 0;
          &:after {
            content: unicode("f105");
            font-family: FontAwesome;
            padding-left: 7px;
          }
        }
      }

      .rank {
        font-weight: bold;
        text-align: center;
        width: 40px;
      }

      .delta {
        text-align: left;
        width: 50px;

        .fa-caret-up {
          // color: #00cc00;
          color: $pri-c-highlight;
        }
        .fa-caret-down {
          // color: #cc0000;
          color: $sec-w-highlight;
        }
      }

      .id {
        text-align: center;
        width: 50px;
      }

      .country, .product {
        @include flex;
        @include align-items(center);
        @include justify(flex-start);
        img {
          margin-right: 5px;
          width: 20px;
        }
      }

      .eci, .pci {
        width: 50px;
      }

      .delta, .id {

        @media all and (max-width: 500px) {
          display: none;
        }

      }

    }

  }


}
