content {
  margin: 45px 30px 30px 0 !important;
  column-count: 3;
  column-gap: 20px;
  max-width: 1400px;

  @media all and (max-width: 1000px) {
    column-count: 2;
  }

  @media all and (max-width: 600px) {
    column-count: 1;
  }

  @media all and (max-width: 768px) {
    margin: 0 30px 30px 30px !important;
  }

  & .columns {

    & p {
      color: var(--darkbackground);
      text-align: justify;
      & a {
        color: var(--darklinkcolor);
      }
    }

    @media all and (max-width: 768px) {
      text-align: justify;
    }
  }
}
