ul.hierarchy {
  color: var(--darkbackground);
  display: block;
  font-family: var(--source-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  list-style-type: none;
  padding: 0 20px 0 15px;

  & li {
    padding: 2px 0;
    display: block;
    & a {
      color: var(--brightlinkcolor);
      font-size: 14px;
      line-height: 1;
      &:hover {
        opacity: 0.7;
      }

      & span {
        font-weight: 700;
      }
    }
  }

  @media all and (max-width: 768px) {
    text-align: center;
    & .depth6, .depth8 {
      display: inline-block;
    }
  }

  & .depth2 {
    font-size: 22px;
    line-height: 35px;
  }

  & .depth6 {
    margin: 0 10px;
  }

  & .depth8 {
    margin: 0 20px;
  }
}
