{% extends "templates/nav.html" %}

{% block title %} - {{ _('About the Site') }}{% endblock %}

{% block description %}{{ _('Photos and descriptions of the team members involved in the creation of The Observatory.') }}{% endblock %}

{% block body %}

<section>
  <content>
    <h1>{{ _('About the Observatory') }}</h1>
    <p>
      The Observatory of Economic Complexity is a tool that allows users to quickly compose a visual narrative about countries and the products they exchange. It was Alexander Simoes' Master Thesis in Media Arts and Sciences at the MIT Media Lab, which you can read <a href="http://macroconnections.media.mit.edu/papers/SimoesMasterThesis.pdf" alt="Alex Simoes' MIT Master's Thesis on Observatory of Economic Complexity">here</a>.
    </p>
    <p>
      The project was conducted at The MIT Media Lab <a href="http://macroconnections.media.mit.edu/">Macro Connections</a> group. Alex’s Advisor was <a href="http://chidalgo.com">César A. Hidalgo</a>, principal investigator of Macro Connections. Since its creation in 2010, the development of The Observatory of Economic Complexity has been supported by The MIT Media Lab consortia for undirected research.
    </p>
    <p>
      For a history of the contributions to The Observatory of Economic Complexity, you can <a href="https://github.com/alexandersimoes/atlas_economic_complexity/network">view the project’s contributions timeline on Github</a>. A predecessor of the Observatory of Economic Complexity is the <a href="http://chidalgo.com/productspace/index.htm">product space site</a>, built by César Hidalgo as a graduate student at Notre Dame in 2007.
    </p>
    <p>
      If you would like more info on the OEC or to create a similar site for your country, state, or city, get in touch with us at <a href="mailto:oec@media.mit.edu">oec@media.mit.edu</a>.
    </p>
  </content>
</section>

<section>
  <content>

    {% macro member_list(team) -%}
      {% for member in team %}
      <div class="member" id="{{ member.slug }}">
        <h3>
          {{ member.name }}
          {% for slug, link in member.links.iteritems() %}
          <a href="{{ link }}" alt="{{ slug }}" target="_blank">
            <i class="fa fa-{{ slug }}"></i>
          </a>
          {% endfor %}
        </h3>
        <h4>{{ member.time }}</h4>
        <p>{{ member.text|safe }}</p>
      </div>
      {% endfor %}
    {%- endmacro %}

    <h2>{{ _("Current Team") }}</h2>

    {{ member_list(current) }}

    <h2>{{ _("Past Contributors") }}</h2>

    <div id="past">
      {{ member_list(past) }}
    </div>

  </content>
</section>

{% endblock %}
