{% extends "templates/nav.html" %}

{% block title %} - Data Sources{% endblock %}

{% block body %}

<section>
  <!-- <aside></aside> -->
  <content>
    <h1>{{ _("Data Sources") }}</h1>
    <p>
      All of the product data shown on the site is classified using either <a href"http://en.wikipedia.org/wiki/Standard_International_Trade_Classification">SITC (Standard International Trade Classification)</a> or <a href"http://en.wikipedia.org/wiki/Harmonized_System">HS (Harmonized System)</a>.
    </p>
    <p>
      For historical SITC classification data (1962 - 2000), we use data from <a target="_blank" href="http://cid.econ.ucdavis.edu/">The Center for International Data from Robert Feenstra</a><sup>1</sup>. For more recent data (2001 - 2014), we use data provided by <a target="_blank" href="http://comtrade.un.org/">UN COMTRADE</a>.
    </p>
    <p>
      For all of the HS data used throughout the site (1995 - 2014) we use the <a target="_blank" href="http://www.cepii.fr/CEPII/en/bdd_modele/presentation.asp?id=1">BACI International Trade Database</a><sup>2</sup>. The original data comes from the United Nations Statistical Division (COMTRADE), but is cleaned by the BACI team using their own <a target="_blank" href="http://www.cepii.fr/CEPII/fr/publications/wp/abstract.asp?NoDoc=2726">methodology of harmonization</a>.
    </p>
  </content>
  <!-- <aside></aside> -->
</section>

<section>
  <!-- <aside></aside> -->
  <content>
    <h2>Download the Data</h2>
    <p>
      The following files are complete data dumps for the entirety of the data held on the site.
    </p>

    <h3>SITC4 rev. 2 (1962 - 2014)</h3>
    <ul>
      <li><a href="/static/db/raw/year_origin_sitc_rev2.tsv.bz2">Product Trade by Year and Country</a></li>
      <li><a href="/static/db/raw/year_origin_destination_sitc_rev2.tsv.bz2">Product Trade between Origin and Destination Country by Year (bilateral)</a></li>
    </ul>

    <h3>HS6 rev. 1992 (1995 - 2014)</h3>
    <ul>
      <li><a href="/static/db/raw/year_origin_hs92_6.tsv.bz2">Product Trade by Year and Country (6 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_hs92_4.tsv.bz2">Product Trade by Year and Country (4 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs92_6.tsv.bz2">Product Trade between Origin and Destination Country by Year (6 digit depth, bilateral)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs92_4.tsv.bz2">Product Trade between Origin and Destination Country by Year (4 digit depth, bilateral)</a></li>
    </ul>
    
    <h3>HS6 rev. 1996 (1998 - 2014)</h3>
    <ul>
      <li><a href="/static/db/raw/year_origin_hs96_6.tsv.bz2">Product Trade by Year and Country (6 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_hs96_4.tsv.bz2">Product Trade by Year and Country (4 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs96_6.tsv.bz2">Product Trade between Origin and Destination Country by Year (6 digit depth, bilateral)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs96_4.tsv.bz2">Product Trade between Origin and Destination Country by Year (4 digit depth, bilateral)</a></li>
    </ul>
    
    <h3>HS6 rev. 2002 (2003 - 2014)</h3>
    <ul>
      <li><a href="/static/db/raw/year_origin_hs02_6.tsv.bz2">Product Trade by Year and Country (6 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_hs02_4.tsv.bz2">Product Trade by Year and Country (4 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs02_6.tsv.bz2">Product Trade between Origin and Destination Country by Year (6 digit depth, bilateral)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs02_4.tsv.bz2">Product Trade between Origin and Destination Country by Year (4 digit depth, bilateral)</a></li>
    </ul>
    
    <h3>HS6 rev. 2007 (2008 - 2014)</h3>
    <ul>
      <li><a href="/static/db/raw/year_origin_hs07_6.tsv.bz2">Product Trade by Year and Country (6 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_hs07_4.tsv.bz2">Product Trade by Year and Country (4 digit depth)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs07_6.tsv.bz2">Product Trade between Origin and Destination Country by Year (6 digit depth, bilateral)</a></li>
      <li><a href="/static/db/raw/year_origin_destination_hs07_4.tsv.bz2">Product Trade between Origin and Destination Country by Year (4 digit depth, bilateral)</a></li>
    </ul>

    <h3>Attributes</h3>
    <ul>
      <li><a href="/static/db/raw/country_names.tsv.bz2">Country Names</a></li>
      <li><a href="/static/db/raw/products_sitc_rev2.tsv.bz2">SITC revision 2 Product Names</a></li>
      <li><a href="/static/db/raw/products_hs_92.tsv.bz2">HS 1992 Product Names</a></li>
      <li><a href="/static/db/raw/products_hs_96.tsv.bz2">HS 1996 Product Names</a></li>
      <li><a href="/static/db/raw/products_hs_02.tsv.bz2">HS 2002 Product Names</a></li>
      <li><a href="/static/db/raw/products_hs_07.tsv.bz2">HS 2007 Product Names</a></li>
    </ul>
  </content>
  <!-- <aside></aside> -->
</section>

<section>
  <!-- <aside></aside> -->
  <content>
    <h2>References</h2>
    <ol>
      <li>Feenstra, R. C., et al. (2005). World Trade Flows, 1962–2000. NBER working paper 11040</li>
      <li>BACI: International Trade Database at the Product-Level. The 1994-2007 Version CEPII Working Paper, N°2010-23, Octobre 2010 Guillaume Gaulier, Soledad Zignago - See more <a href="http://www.cepii.fr/CEPII/en/bdd_modele/papers.asp?id=1#sthash.vF5O0Ruh.dpuf" target="_blank">here</a>.</li>
    </ol>
  </content>
  <!-- <aside></aside> -->
</section>

{% endblock %}
