{% extends "templates/nav.html" %}

{% block title %} - {{ _('About the Site') }}{% endblock %}

{% block description %}{{ _('Photos and descriptions of the team members involved in the creation of The Observatory.') }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
<style>
.frac-line {
  margin-top: 13px;
}
</style>
{% endblock %}

{% block body %}
<section>
  <content>
    <h1>{{ _('What is Economic Complexity?') }}</h1>
    <h4>(or, everything you wanted to know about this site but were too afraid to ask)</h4>
    <p>
      We owe to Adam Smith the idea that the division (specialization) of labor is the secret of the wealth of nations. In a modern interpretation, the division of labor into markets and organizations is what allows the knowledge held by few to reach many, making us collectively wiser.
    </p>
    <p>
      The complexity of an economy is related to the multiplicity of useful knowledge embedded in it. Because individuals are limited in what they know, the only way societies can expand their knowledge base is by facilitating the interaction of individuals in increasingly complex networks in order to make products. We can measure economic complexity by the mix of these products that countries are able to make.
    </p>
    <p>
      Some products, like medical imaging devices or jet engines, embed large amounts of knowledge and are the results of very large networks of people and organizations. These products cannot be made in simpler economies that are missing parts of this network’s capability set. Economic complexity, therefore, is expressed in the composition of a country’s productive output and reflects the structures that emerge to hold and combine knowledge.
    </p>
</section>

<section>
  <content>
    <h1>{{ _('How is Economic Complexity calculated?') }}</h1>
    <p>
      If we define <span class="calc" data-calc="M_{cp}"></span>, as a matrix that is <span class="calc" data-calc="1"></span> if country <span class="calc" data-calc="c"></span> produces product <span class="calc" data-calc="p"></span>, and <span class="calc" data-calc="0"></span> otherwise, we can measure diversity and ubiquity simply by summing over the rows or columns of that matrix. Formally, we define:
      <ol>
        <li><span class="calc" data-calc="Diversity = k_{c, o} = \sum_{p}^{ } M_{cp}" data-calc-block="true"></span></li>
        <li><span class="calc" data-calc="Ubiquity = k_{p, o} = \sum_{c}^{ } M_{cp}" data-calc-block="true"></span></li>
      </ol>
    </p>
    <p>
      To generate a more accurate measure of the number of capabilities available in a country, or required by a product, we need to correct the information that diversity and ubiquity carry by using each one to correct the other. For countries, this requires us to calculate the average ubiquity of the products that it exports, the average diversity of the countries that make those products and so forth. For products, this requires us to calculate the average diversity of the countries that make them and the average ubiquity of the other products that these countries make. This can be expressed by the recursion:
    </p>
    <ol start=3>
      <li><span class="calc" data-calc="k_{c, N} = \frac{1}{k_{c, 0}} \sum_{p}^{ } M_{cp} \cdot k_{p, N - 1}" data-calc-block="true"></span></li>
      <li><span class="calc" data-calc="k_{p, N} = \frac{1}{k_{p, 0}} \sum_{c}^{ } M_{cp} \cdot k_{c, N - 1}" data-calc-block="true"></span></li>
    </ol>
    <p>
      We then insert (4) into (3) to obtain
    </p>
    <ol start=5>
      <li><span class="calc" data-calc="{% raw %}k_{c, N} = \frac{1}{k_{c, 0}} \sum_{p}^{ } M_{cp} \frac{1}{k_{c, 0}} \sum_{{c}'}^{ } M_{{c}'p} \cdot k_{{c}', N - 2}{% endraw %}" data-calc-block="true"></span></li>
      <li><span class="calc" data-calc="{% raw %}k_{c, N} = \sum_{{c}'}^{ } M_{{c}'p} \cdot k_{{c}', N - 2} \sum \frac{M_{cp}M_{{c}'p}}{k_{c, 0}k_{p, 0}}{% endraw %}" data-calc-block="true"></span></li>
    </ol>
    <p>and rewrite this as:</p>
    <ol start=7>
      <li><span class="calc" data-calc="{% raw %}k_{c, N} = \sum_{{c}'}^{ }\tilde{M}_{c{c}'}k_{{c}', N - 2}{% endraw %}" data-calc-block="true"></span></li>
    </ol>
    <p>where</p>
    <ol start=8>
      <li><span class="calc" data-calc="{% raw %}\tilde{M}_{c{c}'} = \sum_{p}^{ } \frac{M_{cp}M_{{c}'p}}{k_{c, 0}k_{p, 0}}{% endraw %}" data-calc-block="true"></span></li>
    </ol>
    <p>
      We note (7) is satisfied when <span class="calc" data-calc="k_{c, N} = k_{c, N - 2} = 1"></span>.This is the eigenvector of <span class="calc" data-calc="\tilde{M}_{c{c}'}"></span> which is associated with the largest eigenvalue. Since this eigenvector is a vector of ones, it is not informative.  We look, instead, for the eigenvector associated with the second largest eigenvalue. This is the eigenvector that captures the largest amount of variance in the system and is our measure of economic complexity.  Hence, we define the Economic Complexity Index (ECI) as:
    </p>
    <ol start=9>
      <li><span class="calc" data-calc="{% raw %}ECI = \frac{\vec{K} - <\vec{K}> }{stdev\left ( \vec{K} \right )}{% endraw %}" data-calc-block="true"></span></li>
    </ol>
    <p>
      where &lt; &gt; represents an average, stdev stands for the standard deviation and
    </p>
    <ol start=10>
      <li><span class="calc" data-calc="{% raw %}\vec{K} = {% endraw %}"></span>Eigenvector of <span class="calc" data-calc="{% raw %}\tilde{M}_{c{c}'}{% endraw %}"></span> associated with the second largest eigenvalue.</li>
    </ol>
    <p>
      Analogously, we define a Product Complexity Index (PCI). Because of the symmetry of the problem, this can be done simply by exchanging the index of countries (c) with that for products (p) in the definitions above. Hence, we define PCI as: 
    </p>
    <ol start=11>
      <li><span class="calc" data-calc="{% raw %}PCI = \frac{\vec{Q} - <\vec{Q}> }{stdev\left ( \vec{Q} \right )}{% endraw %}" data-calc-block="true"></span></li>
    </ol>
    <ol start=12>
      <li><span class="calc" data-calc="{% raw %}\vec{Q} = {% endraw %}"></span>Eigenvector of <span class="calc" data-calc="{% raw %}\tilde{M}_{p{p}'}{% endraw %}"></span> associated with the second largest eigenvalue.</li>
    </ol>
</section>

<section>
  <content>
    <h1>{{ _('Who makes what?') }}</h1>
    <h4>(or, what is RCA?)</h4>
    <p>
      When associating countries to products it is important to take into account the size of the export volume of countries and that of the world trade of products. This is because, even for the same product, we expect the volume of exports of a large country like China, to be larger than the volume of exports of a small country like Uruguay. By the same token, we expect the export volume of products that represent a large fraction of world trade, such as cars or footwear, to represent a larger share of a country's exports than products that account for a small fraction of world trade, like cotton seed oil or potato flour.
    </p>
    <p>
      To make countries and products comparable we use Balassa's definition of Revealed Comparative Advantage or RCA. Balassa's definition says that a country has Revealed Comparative Advantage in a product if it exports more than its "fair" share, that is, a share that is equal to the share of total world trade that the product represents. For example, in 2008, with exports of $42 billion, soybeans represented 0.35% of world trade. Of this total, Brazil exported nearly $11 billion, and since Brazil's total exports for that year were $140 billion, soybeans accounted for 7.8% of Brazil's exports. This represents around 22 times Brazil's “fair share” of soybean exports (7.8% divided by 0.35%), so we can say that Brazil has revealed comparative advantage in soybeans.
    </p>
    <p>
      Formally, if <span class="calc" data-calc="{% raw %}X_{cp}{% endraw %}"></span> represents the exports of country <span class="calc" data-calc="c"></span> in product <span class="calc" data-calc="p"></span>, we can express the Revealed Comparative Advantage that country <span class="calc" data-calc="c"></span> has in product <span class="calc" data-calc="p"></span> as: 
      <ol>
        <li><span class="calc" data-calc="{% raw %}RCA_{cp} = \frac{X_{cp}}{\sum _{c} X_{cp}} / \frac{\sum _{p} X_{cp}}{\sum _{c,p} X_{cp}}{% endraw %}" data-calc-block="true"></span></li>
      </ol>
    </p>
    <p>
      We use this measure to construct a matrix that connects each country to the products that it makes. The entries in the matrix are <span class="calc" data-calc="1"></span> if country <span class="calc" data-calc="c"></span> exports product <span class="calc" data-calc="p"></span> with Revealed Comparative Advantage larger than <span class="calc" data-calc="1"></span>, and <span class="calc" data-calc="0"></span> otherwise. Formally we define this as the <span class="calc" data-calc="M_{cp}"></span> matrix, where
      <ol start=2>
        <li><img src="/static/img/about/mcp_equation.png" alt="mcp equation definition for RCA calculation" /></li>
      </ol>
    </p>
    <p>
      <span class="calc" data-calc="M_{cp}"></span> is the matrix summarizing which country makes what, and is used to construct the product space and our measures of economic complexity for countries and products. In our research we have played around with cutoff values other than 1 to construct the <span class="calc" data-calc="M_{cp}"></span> matrix and found that our results are robust to these changes. 
    </p>
  </content>
</section>
{% endblock %}

{% block js %}
<script>
d3.selectAll(".calc").each(function(){
  var eq = d3.select(this).attr("data-calc");
  var block = d3.select(this).attr("data-calc-block");
  katex.render(eq, this, { displayMode: Boolean(block) });
})
</script>
{% endblock %}