{% extends "templates/nav.html" %}

{% block title %} - Frequently Asked Questions{% endblock %}

{% block body %}

<section>
  <!-- <aside></aside> -->
  <content>
    <h1>{{ _("Frequently Asked Questions") }}</h1>
    <h3>Where does the data come from?</h3>
    <p>The observatory provides access to bilateral trade data for roughly 200 countries, 50 years and 1000 different products of the SITC4 revision 2 classification. For historical SITC classification data, we use data from <a href="http://cid.econ.ucdavis.edu/">The Center for International Data from Robert Feenstra</a>. For up to data HS classification data, we use data provided by <a href="http://comtrade.un.org/">UN COMTRADE</a>.</p>

    <h3>Can I download this data?</h3>
    <p>Sure! You can download the latest dump of the entire data (in MySQL format) <a href="/static/db/">here</a>. Or if you are looking for data on a particular country or product, you can click the CSV download button on the right-hand side of all explore pages.</p>

    <h3>Some of the translations for this site are incorrect, is there a way I could help?</h3>
    <p>We are constantly trying to improve our translations but seeing as we have over 2,000 products with names, descriptions and genders (in some languages) it's a bit of a Hurculean task. That being said, here are links to page where you can contribute your own translations:</p>
    <ul>
      <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1iPk4UDFffbWG4kqoh6wOJY7j7WEvWPxaEImfljiTOB0/edit?usp=sharing">SITC Products</a></li>
      <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit?usp=sharing">HS Products</a></li>
      <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1Ue5cRW2rWlsZrnISWEgzuUsouIt6C0YI9t_tAPewMio/edit">Site-Wide Translations</a></li>
    </ul>
    <p>Instructions: these documents are open to the public for view and commenting. If you want to contribute your own translation, right-click on a cell and select "Insert Comment".</p>

    <h3>I think the data might be incorrect for a given page</h3>
    <p>The data has all been cleaned by third parties, but of course that doesn't mean that aren't possible errors. File an <a href="https://github.com/alexandersimoes/oec/issues">issue here</a> and we'll try our best to resolve it.</p>

    <h3>I found a bug on the site! What should I do?</h3>
    <p>Wooops! Sorry about that... please <a href="https://github.com/alexandersimoes/oec/issues">file an issue here</a> with a link and details on how to recreate it and we'll do our best to resolve it ASAP.</p>
  </content>
  <!-- <aside></aside> -->
</section>
{% endblock %}
