<!DOCTYPE html>
<html lang="{{ g.locale }}" {% if g.locale == 'ar' or g.locale == 'he' %}dir="rtl"{% endif %}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="{% block description %}An online resource for international trade data and economic complexity indicators available through interactive visualizations of countries and products.{% endblock %}">
    <!-- <meta name="viewport" content="width=1100,initial-scale=1, maximum-scale=1.0, user-scalable=0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=.32"> -->

    {% if "/explore/" not in request.path %}
    <!-- Facebook Properties -->
    <meta property="og:image" content="http://atlas.media.mit.edu/static/img/facebook.jpg" />
    {% endif %}

    <title>OEC{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico?v=3">
    <link rel="apple-touch-icon" sizes="256x256" href="/static/img/touchicon.png?v=3">

    <link type="text/css" rel="stylesheet" media="all" href="/static/css/oec.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/libs/font-awesome-4.3.0/css/font-awesome.min.css" />

    <script src="/static/js/libs/caman.full.min.js"></script>
    <script src="/static/js/libs/modernizr.custom.js"></script>
    <script src="/static/js/libs/d3.v3.min.js"></script>
    <script src="/static/js/libs/d3plus.js"></script>
    <script src="/static/js/libs/moment.min.js"></script>
    <script>moment.lang("{{g.locale}}")</script>
    <script>
    function redirect(url, seconds){
      seconds = !seconds && seconds !== 0 ? 6 : seconds;
      if (seconds <=0){
        window.location = url;
      }
      else {
        seconds--;
        d3.select("#redirect").text("This page will redirect in "+seconds+" seconds.")
        setTimeout(function(){ redirect(url, seconds) }, 1000)
      }
    }
    </script>

    {% block head %}
    {% endblock %}

  </head>
  <body class="{% if g.page_type %}{{g.page_type}}{% endif %}{% if g.locale == 'ar' or g.locale == 'he' %} rtl{% endif %}">

    {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div id="server_message" class="flash-{{ category }}">
      {{ msg|safe }} <span id="redirect"></span>
      <i class="close_message fa fa-times-circle"></i>
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    <!-- Google Analytics! -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22403682-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <!-- All Pages -->
    <script type="text/javascript">
    d3.selectAll(".close_message").on("click", function(){

      d3.select("#server_message")
        .style("margin-top", function(){
          return -this.offsetHeight+"px"
        }).transition().delay(600)
        .remove()

    });
    </script>

  </body>
</html>
