<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block content %}

<nav>

  <a id="logo" href="{{ url_for('general.home', lang=g.locale) }}">
    OEC
  </a>

  <ul>

    <li id="profile">
      {{ _('Profiles') }}
      <div class="sub_menu profile">
        <ul>
          <li class="country">
            <a href="{{ url_for('profile.profile_country_redirect', lang=g.locale) }}">{{ _('Country') }}</a>
          </li>
          <li class="product">
            <a href="{{ url_for('profile.profile_product_redirect', lang=g.locale, attr_type='hs92') }}">{{ _('Product') }}</a>
          </li>
        </ul>
      </div>
    </li>

    <li id="explore">
      {{ _('Visualize') }}
    </li>

    <li id="rankings">
      {{ _('Rankings') }}
      <div class="sub_menu rankings">
        <ul>
          <li class="country">
            <a href="{{ url_for('rankings.rankings', lang=g.locale, category='country') }}">{{ _('Countries') }}</a>
          </li>
          <li class="product">
            <a href="{{ url_for('rankings.rankings', lang=g.locale, category='hs92') }}">{{ _('Products') }}</a>
          </li>
        </ul>
      </div>
    </li>

    <li id="publications">
      {{ _('Publications') }}
      <div class="sub_menu publications">
        <ul>
          <li class="books">
            <a href="{{ url_for('publications.books', lang=g.locale) }}">{{ _('Books') }}</a>
          </li>
          <li class="papers">
            <a href="{{ url_for('publications.papers', lang=g.locale) }}">{{ _('Papers') }}</a>
          </li>
        </ul>
      </div>
    </li>

    <li id="resources">
      {{ _('Resources') }}
      <div class="sub_menu resources">
        <ul>
          <li class="about">
            <a href="{{ url_for('about.about') }}">{{ _('About the Site') }}</a>
          </li>
          <li class="faqs">
            <a href="{{ url_for('resources.faqs', lang=g.locale) }}">{{ _('FAQs') }}</a>
          </li>
          <li class="data">
            <a href="{{ url_for('resources.data', lang=g.locale) }}">{{ _('Data Sources') }}</a>
          </li>
          <li class="api">
            <a href="{{ url_for('resources.api', lang=g.locale) }}">{{ _('API') }}</a>
          </li>
          <li class="permissions">
            <a href="{{ url_for('general.permissions') }}">{{ _('Permissions') }}</a>
          </li>
        </ul>
      </div>
    </li>

  </ul>

  <div id="search_button">
    <img src="/static/img/nav/search.png">
  </div>

</nav>

<a id="hamburger">
  <i class="fa fa-bars"></i>
</a>

<div id="mask"></div>

<div id="container">

  <div id="content">
    {% block body %}
    {% endblock %}
  </div>

  <footer>

    <a id="mc" href="http://macroconnections.media.mit.edu/" target="_blank">
      <img src="/static/img/nav/mc.png" width=148 height=60>
    </a>

    <div>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
        <img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/80x15.png" />
      </a>
      The Observatory of Economic Complexity by <a xmlns:cc="http://creativecommons.org/ns#" href="http://alexandersimoes.com/" property="cc:attributionName" rel="cc:attributionURL">Alexander Simoes</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Permissions beyond the scope of this license may be available <a xmlns:cc="http://creativecommons.org/ns#" href="/permissions/" rel="cc:morePermissions">here</a>.
      <ul class="lang">
        {% for lang_id, lang_name in g.supported_langs.iteritems() %}
        <li><a href="{{ request.path|langify(lang_id) }}">{{ lang_name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </footer>

</div>

<div id="search">
  <a id="search_close">x</a>
  <div id="search_div">
    <i class="fa fa-search"></i>
    <input id="search_input" type="text" placeholder="{{ _('Search') }}" />
    <div id="search_modes">
      <select id="search_mode_selector">
        <option value="all" selected>No Filter</option>
        <option value="country">Countries</option>
        <option value="hs92">Products</option>
        <option value="explore">Visualizations</option>
      </select>
    </div>
  </div>
  <div id="search_results"></div>
</div>

<script>

  var page = "{{ g.page_type }}", sub_page = "{{ g.page_sub_type }}" || "none";

  if (!color) var color = "#0085BF";

  // Sets the logo, header, and stats background color.
  // d3.selectAll("#logo, header, #stats").style("background-color", color);

  // Sets the H2 colors
  d3.selectAll("h2").style("color", color);

  // Sets the search box background color.
  // var rgb = d3.rgb(color);
  // d3.select("#search_button").style("background-color", "rgba("+rgb.r+", "+rgb.g+", "+rgb.b+", 0.1)");

  // Sets paragraph link styles
  // d3.selectAll("aside a, p a, h2 a")
  //   .style("color", color)
  //   .on(d3plus.client.pointer.over, function(){
  //     d3.select(this).style("border-bottom", "2px solid " + color);
  //   })
  //   .on(d3plus.client.pointer.out, function(){
  //     d3.select(this).style("border-bottom", "2px solid transparent");
  //   })

  // Styles the header, if present.
  var header = d3.select("header"), img;
  if (!header.empty()) {
    header.attr("data-height", header.node().offsetHeight);
    var icon = header.select(".icon");
    if (!icon.empty()) {
      icon.attr("data-height", icon.node().offsetWidth)
    }
    img = header.select(".header");
    if (!img.empty()) {
      header.style("background-color", "black");
      resizeCanvas();
    }
  }

  // Hamburger menu logic.
  d3.selectAll("#hamburger, #mask").on("click", function(){
    var open = d3.select("nav").classed("open");
    d3.select("nav").classed("open", !open);
    d3.select("#mask").classed("visible", !open);
    d3.select("body").classed("frozen", !open);
  });

  // Logic for resizing the header, if present.
  function resizeHeader() {

    if (!header.empty()) {

      var originalHeight = parseFloat(header.attr("data-height")),
          min = 40,
          scrollHeight = originalHeight - window.scrollY,
          newHeight = d3.max([scrollHeight, min]);

      header
        .style("height", newHeight+"px")
        .style(d3plus.client.prefix()+"box-shadow", scrollHeight <= min ? "0 2px 4px rgba(0,0,0,0.5)" : "none");

      var icon = header.select(".icon"),
          normalized = d3.scale.linear()
            .domain([min, originalHeight])
            .range([0, 1]);
      if (!icon.empty()) {
        var iconSize = parseFloat(icon.attr("data-height")),
            small = window.innerWidth <= 768,
            iconScale = d3.scale.linear()
              .domain([min, originalHeight])
              .range([min * 0.75, iconSize]);
        var iconSize = iconScale(newHeight);
        var iconMargin = d3.scale.linear()
              .domain([min, originalHeight])
              .range([-iconSize, 0]);
        icon
          .style("width", iconSize+"px")
          .style("height", iconSize+"px")
          .style("margin-top", small ? d3.min([0, iconMargin(newHeight)])+"px" : "0px")
          .style("opacity", small ? normalized(newHeight) : 1)
      }

      var title = header.select("h1");
      if (!title.empty()) {
        var fontSize = window.innerWidth <= 768 ? 35 : 50,
            fontScale = d3.scale.linear()
              .domain([min, originalHeight])
              .range([20, fontSize]);
        title.style("font-size", fontScale(newHeight)+"px");
        var sub = header.select("sub");
        if (!sub.empty()) {
            var fontScale = d3.scale.linear()
                  .domain([min, originalHeight])
                  .range([0, 11]);
            sub.style("font-size", fontScale(newHeight)+"px");
        }
      }

    }

  }

  // Logic for resizing the header canvas image, if present.
  function resizeCanvas() {

    if (img && !img.empty()) {

      setTimeout(function(){

        var w = header.node().offsetWidth, h = parseFloat(header.attr("data-height")), r = w/h;
        var iw = img.node().offsetWidth, ih = img.node().offsetHeight, ir = iw/ih;
        var blur = 80;
        if (r > ir) {
          var cw = w+blur, ch = w/ir+blur/ir, rw = w, rh = w/ir;
        }
        else {
          var ch = h+blur, cw = h*r+blur*r, rh = h, rw = h*r;
        }
        if (!img.classed("loaded")) {
          img.classed("loaded", true)
            .style("width", cw+"px")
            .style("height", ch+"px")
            .style("margin-left", -cw/2+"px")
            .style("margin-top", -ch/2+"px")
            .style("-webkit-filter", "blur(3px) contrast(1.1) brightness(0.8)");
        }
        else {
          img.transition().duration(250)
            .style("width", cw+"px")
            .style("height", ch+"px")
            .style("margin-left", -cw/2+"px")
            .style("margin-top", -ch/2+"px");
        }

      }, 1000);

    }

    resizeHeader();

  }

  resizeFunctions.push(resizeCanvas);
  scrollFunctions.push(resizeHeader);

  function add_results(container, data) {

    var g = container.node().id;
    if (g === "search_results") g = search_mode;

    var results = container.selectAll(".result")
      .data(data, function(d){ return d.id; });

    var enter = results.enter().append("a")
      .attr("class", "result")
      .attr("href", function(d){
        var p = "/" + oec.locale + "/";
        return !d.id ? p + "explore/" + d.name : p + "profile/" + g + "/" + d.display_id;
      })
      .style("background-color", function(d){
        return analyze_palette(d.palette) || d.color || "#0085BF";
      });

    enter.each(function(d){
      if (d.image) {
        d3.select(this).append("img")
          .attr("class", "background")
          .attr("src", d.image);
      }
    });

    enter.append("img")
      .attr("class", "icon")
      .attr("src", function(d) {
        return d.icon || "/static/img/icons/app/app_" + d.name.split("/")[0] + ".png";
      });

    enter.append("h1")
      .text(function(d){
        return d.value || d.name || d.display_id;
      })

    results.exit().remove();

  }

  function search_results(data) {
    if (!data) {
      data = {};
      if (search_mode === "all") {
        data = {
          "country": attrs.country.slice(0, default_cutoff),
          "hs92": attrs.hs92.slice(0, default_cutoff)
        };
      }
      else if (attrs[search_mode]) {
        data[search_mode] = attrs[search_mode].slice(0, default_cutoff);
      }
    }

    var titles = {
      "country": "Countries",
      "hs92": "Products",
      "explore": "Visualizations"
    }

    var group_data = [];
    ["country", "hs92", "explore"].forEach(function(g){
      if (data[g] && data[g].length) {
        group_data.push(g);
      }
    })

    d3.select("#search_results").selectAll("*").remove();
    if (group_data.length > 1) {

      var groups = d3.select("#search_results").selectAll(".search_group")
        .data(group_data, String);

      groups.enter().append("div")
        .attr("class", "search_group")
        .attr("id", String)
        .append("h1").text(function(g){ return titles[g]; });

      groups.each(function(g){
        add_results(d3.select(this), data[g]);
      });

      groups.exit().remove();

    }
    else if (group_data.length === 1) {

      add_results(d3.select("#search_results"), data[group_data[0]]);

    }
    else if (search_query.length) {

      d3.select("#search_results").append("h1")
        .style("text-align", "center")
        .text("No Results");

    }

  }

  var search_mode = "all", search_query = "", attrs = {}, default_cutoff = 200;

  var search_form = d3plus.form()
    .data("#search_mode_selector")
    .focus(search_mode, function(d){
      if (d !== search_mode) {
        clear_search(d);
      }
    })
    .font({
      "size": 14
    })
    .ui({"padding": 8})
    .draw()

  function filterData(a, q) {
    if (q.length) {
      return attrs[a].filter(function(d){
        return d.name.toLowerCase().indexOf(q) >= 0 ||
               d.id.indexOf(q) === 0 ||
               (d.display_id && d.display_id.indexOf(q) === 0) ||
               (d.keywords && d.keywords.indexOf(q) >= 0);
      });
    }
    else {
      return attrs[a].slice(0, default_cutoff);
    }
  }

  function search_term(q) {

    d3.select("#search_results").selectAll("*").remove();

    d3.select("#search_results").append("h1")
      .style("text-align", "center")
      .text("Loading...");

    var m = search_mode === "all" ? "" : "&mode=" + search_mode;

    var categories = search_mode;
    if (categories === "all") {
      categories = ["country", "hs92"];
    }
    else {
      categories = [categories];
    }

    var data = {};
    function loadAttr() {
      if (categories.length) {
        var a = categories.pop();
        if (!attrs[a]) {
          load("/attr/" + a, function(d){
            attrs[a] = d.data.filter(function(d){
                return d.display_id && d.id.length > 2;
              }).sort(function(a, b){
                return b.weight - a.weight;
              });
            data[a] = filterData(a, q);
            loadAttr();
          })
        }
        else {
          data[a] = filterData(a, q);
          loadAttr();
        }
      }
      else if (["explore", "all"].indexOf(search_mode) >= 0 && q.length) {
        d3.json("/search/?mode=explore&q=" + q, function(error, d){
          if (!error) {
            data.explore = d.explore;
            search_results(data);
          }
          else {
            search_results();
          }
        });
      }
      else {
        search_results(data);
      }
    }
    loadAttr();

  }

  var searchInterval = "";
  d3.select("#search_input").on("keyup", function(){

    if (d3.event.keyCode === 27) {
      close_search();
    }
    else {

      var q = this.value.toLowerCase();
      if (q !== search_query) {
        clearInterval(searchInterval);
        search_query = q;

        if (q.length) {
          searchInterval = setTimeout(function(){
            search_term(search_query);
          }, 300);
        }
        else {
          search_results();
        }
      }

    }
  })

  d3.select("#search").on("click", function(){
    if (d3.event.toElement === this || d3.event.toElement === d3.select("#search_results").node()) {
      close_search();
    }
  })

  function clear_search(mode) {
    search_mode = mode;
    search_term("");
    d3.select("#search_input").node().value = "";
    d3.select("#search_input").node().focus();
  }

  function search(mode) {

    if (mode && mode !== search_mode) {
      search_form.focus(mode).draw();
    }

    d3.select("#search").style("visibility", "visible").classed("visible", true);
    d3.select("#search_input").node().focus();
    search_term(search_query);

  }

  function close_search() {
    d3.select("#search").classed("visible", false);
    setTimeout(function(){
      d3.select("#search").style("visibility", "hidden");
    }, 500);
  }

  d3.select("#search_button").on("click", function(){
    search("all");
  });

  d3.select("#search_close").on("click", close_search);

</script>

{% endblock %}
