<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block content %}

<div id="fullscreen"></div>

<div id="container">

  <header>
    <div class="col1">
      {% if g.page_type != 'home' %}
        <a href="/" id="logo" title="Home"><h1>The Observatory of Economic Complexity</h1></a>
      {% endif %}
    </div><div class="col2">
    <nav>
      <ul>
        <li><a role="button" class="{% if g.page_type == 'explore' %}current{% endif %}" href="{{ url_for('explore.explore_redirect', lang=g.locale) }}">{{ _('Explore') }}</a></li>
        <li><a role="button" class="{% if g.page_type == 'profile' %}current{% endif %}" href="{{ url_for('profile.profile_country_redirect', lang=g.locale) }}">{{ _('Profiles') }}</a></li>
        <li><a role="button" class="{% if g.page_type == 'atlas' %}current{% endif %}" href="{{ url_for('general.atlas') }}">{{ _('Atlas') }}</a></li>
        <li><a role="button" class="{% if g.page_type == 'rankings' %}current{% endif %}" href="{{ url_for('rankings.rankings_redirect', lang=g.locale) }}">{{ _('Rankings') }}</a></li>
        <li><a role="button" class="{% if g.page_type == 'about' %}current{% endif %}" href="{{ url_for('general.about') }}">{{ _('About') }}</a></li>
      </ul>
      {% if g.page_type == 'profile' %}
      <div id="secondary_nav">
        <a class="{% if g.page_sub_type == 'country' %}current{% endif %}" href="{{ url_for('profile.profile_country_redirect', lang=g.locale) }}">{{ _('Country') }}</a> | <a class="{% if g.page_sub_type == 'hs' %}current{% endif %}" href="{{ url_for('profile.profile_product_redirect', lang=g.locale, attr_type='hs') }}">{{ _('Product') }}</a>
      </div>
      {% endif %}
    </nav>
    </div><div class="col1">
      {% if g.page_type != 'home' %}
        <select id="language_selector">
          {% for lang_id, lang_name in g.supported_langs.iteritems() %}
          <option value="{{ lang_id }}" {% if lang_id == g.locale %} selected="selected" {% endif %}>{{ lang_name }}</option>
          {% endfor %}
        </select>
        <input id="search" type="text" data-provide="typeahead" autocomplete="off" placeholder="Search" />
      {% endif %}
    </div>

  </header>

  {% block body %}
  {% endblock %}

  <footer>
    <a href="http://macroconnections.media.mit.edu/" target="_blank">
      <div id="macro_connections">
        <h5>Macro Connections @ The MIT Media Lab</h5>
      </div>
    </a>
    <p>
      <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Observatory of Economic Complexity</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://alexandersimoes.com/" property="cc:attributionName" rel="cc:attributionURL">Alexander Simoes</a> is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/about/permissions/" rel="cc:morePermissions">http://atlas.media.mit.edu/about/permissions/</a>.
    </p>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
  </footer>

</div> <!-- END #container -->

<script src="/static/js/libs/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/js/libs/typeahead.min.js"></script>
<script>

  if (!d3.select("select#language_selector").empty()) {

    if ("{{g.page_type}}" == "home") {
      var padding = 6.5,
          size = 18,
          text = "text",
          arrow = "fa-angle-down",
          width = 150,
          align = "left"
    }
    else {
      var padding = 4,
          size = 14,
          text = {"secondary": "text", "value": "value"},
          arrow = false,
          width = {"value": 30, "secondary": 100},
          align = "center"
    }

    d3plus.form()
      .type("drop")
      .data("#language_selector")
      .ui({
        "color": {"primary": "#0085BF"},
        "margin": 0,
        "padding": padding
      })
      .text(text)
      .icon({
        "drop": arrow
      })
      .width(width)
      .font({
        "family": "'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'sans-serif'",
        "size": size,
        "weight": "normal",
        "spacing": 1,
        "align": align
      })
      .search(false)
      .focus(undefined,function(lang){
        if (lang !== "{{ g.locale }}") {
          localStorage.setItem('lang', lang)
          var url_parts = window.location.pathname.split("/");
          url_parts[1] = lang
          window.location = url_parts.join("/");
        }
      })
      .draw()

  }

  resizebg = function() {
    var w = window.innerWidth,
        h = window.innerHeight,
        aspect = w/h

    if (aspect > 2) {
      d3.select("#fullscreen").style("background-size",w+"px "+(w/2)+"px")
    }
    else {
      d3.select("#fullscreen").style("background-size",(h*2)+"px "+h+"px")
    }
  }

  resizebg()

  window.onresize = resizebg

  $('#search').typeahead({
    name: 'my_search',
    limit: 10,
    remote: {
      url:'/search/?q=%QUERY',
      filter: function(resp) { return resp.items; }
    }
  });

  if ("{{g.page_type}}" == "home") {
    $('#search').focus()
  }

  $('#search').bind('typeahead:selected', function(obj, datum, name) {
    window.location = "/{{ g.locale }}/explore/"+datum["name"];
  });

</script>

{% endblock %}
