{% extends "template.html" %}

{% block page_title %}{% if category == "product" %}SITC4{% endif %} {{category|capfirst}} Rankings ({{year}}){% endblock %}
{% block heading_title %}{% if category == "product" %}SITC4{% endif %} {{category|capfirst}} Rankings ({{year}}){% endblock %}

{% block css %}
<style>
#sidebar h3 {
  border: none !important;
  font-size: 18px;
}
.change_year {
/*  overflow: hidden;*/
  width: 100%;
}
.change_year a.prev {
  display: block;
  float: left;
  font-size: 22px;
}
.change_year h3 {
  float: left;
  font-size: 34px;
  margin: 0 215px;
  text-align: center;
}
.change_year a.next {
  display: block;
  font-size: 22px;
  float: right;
}
table {
  margin: 70px 0 30px 0;
  width: 100%;
}
table thead th{
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-align: left;
/*  padding: 0 12px 0 0;*/
}
table thead th a{
  font-weight: normal;
  color: #666;
}
table thead th.sorttable_sorted,
table thead th.sorttable_sorted_reverse{
/*  padding: 0;*/
}
table thead th.sorttable_sorted a,
table thead th.sorttable_sorted_reverse a{
  color: black;
  font-weight: bold;
}
table tbody tr th:nth-child(1),
table tbody tr td:nth-child(1) {
  width: 60px;
}
table tbody tr th:nth-child(2),
table tbody tr td:nth-child(2) {
  width: 60px;
}
table tbody tr th:nth-child(3),
table tbody tr td:nth-child(3) {
  width: 420px;
}
table tbody tr th:nth-child(4),
table tbody tr td:nth-child(4) {
  width: 80px;
}
table tbody tr th:nth-child(5),
table tbody tr td:nth-child(5) {
  width: 10px;
}
table tbody tr th:nth-child(6),
table tbody tr td:nth-child(6) {
  width: 50px;
}
table tbody tr td:nth-child(1) {
  text-align: center;
  padding: 4px;
}
table tbody tr td {
  border-bottom: 1px solid #ddd;
}
table tbody tr td span {
  display: block;
  padding: 2px;
  width: 20px;
}
.arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid green;
}
.arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;
}
.sort_arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline;
/*  font-size: 4px;*/
  position: relative;
  top: 12px;
  margin: 0 0 0 4px;
}
.sort_arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  display: inline;
/*  font-size: 4px;*/
  position: relative;
  bottom: 12px;
  margin: 0 0 0 4px;
}
button {
  font-size: 18px;
  width: 100%;
}

.dropdown {
  display: inline;
  float: left;
/*  margin: 6px 0;*/
  font-size: 34px;
  margin: 0 200px;
  text-align: center;
  z-index: 99;
}
.dropdown dt{
  display: inline;
}
.q {
  float: left;
}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { 
  text-decoration:none;
  outline:none;
  text-align: left;
}
.dropdown a:hover {
/*      color:#5d4617;*/
}
.dropdown dt a:hover {
/*      color:#5d4617;*/
  border: 1px solid #666;
}
.dropdown dt a {
  font-family: 'Cardo', serif, 'Times';
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  
  background: url("/media/img/all/arrow.png") no-repeat scroll right center;
  padding-right: 20px;
  border: 1px solid #bbb;
  width: 150px;
}
.dropdown dt a span {
  cursor: pointer; 
/*    display: inline-block;*/
  padding: 5px;
}
.dropdown dd ul { 
  background: white none repeat scroll 0 0;
  border: 1px solid #efefef;
  display: none;
  left: 0px;
  padding: 5px 0px;
  position: absolute;
  top: 2px;
  width: auto;
  min-width: 90px;
  list-style: none;
  height: 200px;
  overflow-y: scroll;
}
.dropdown span.value { display:none; }
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#eee;}
</style>
{% endblock %}

{% block content %}

<!-- the left pane -->
<div id="sidebar">
  <h3><a href="/rankings/country/">Country Rankings</a></h3>
  <p>Rank countries based on their economic complexity for a given year</p>
  <h3><a href="/rankings/product/">Product Rankings</a></h3>
  <p>Rank products in the SITC4 classification based on their complexity for a given year</p>
  <h3>Download</h3>
  <p>
    <a href="/rankings/{{category}}/{{year}}/download/">&raquo; Download {{year}} data</a><br />
    <a href="/rankings/{{category}}/download/">&raquo; Download all years data</a>
  </p>
</div>

<div id="content">
  
  <div class="change_year">
    <a class="prev" href="/rankings/{{category}}/{{year|add:'-1'}}/">&laquo; Previous Year</a>
    <dl class="dropdown">
      <dt><a href="#"><span>{{year}}</span></a></dt>
      <dd>
        <ul>
          {% for y in year_list %}
          <li><a alt="{{y}}" href="#">{{y}}</a></li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    <a class="next" href="/rankings/{{category}}/{{year|add:'1'}}/">Next Year &raquo;</a>
  </div>
  
  <table class="sortable"><thead><tr>
    
    {% if category == "country" %}
    <th class="sorttable_sorted"><a class="sort">Rank</a><div id="sorttable_sortfwdind" class="sort_arrow_down"></div></th>
    <th><a class="sort">Abbrv</a></th>
    <th><a class="sort">Country</a></th>
    <th><a class="sort">ECI Value</a></th>
    <th class="sorttable_nosort"></th>
    <th><a class="sort">Delta</a></th>
    {% else %}
    <th class="sorttable_sorted"><a class="sort">Rank</a><div id="sorttable_sortfwdind" class="sort_arrow_down"></div></th>
    <th><a class="sort">SITC4</a></th>
    <th><a class="sort">Product</a></th>
    <th><a class="sort">PCI Value</a></th>
    <th></th>
    <th><a class="sort">Delta</a></th>
    {% endif %}
    
  </tr></thead>
  <tbody>
    
    {% for r in rankings %}
    <tr>
      <td><span>{{r.0}}</span></td>
      <td>{{r.1}}</td>
      <td>{% if category == "country" %}<a href="/country/{{r.1|lower}}/">{{r.2}}</a>{% else %}{{r.2}}{% endif %}</td>
      <td>{{r.3}}</td>
      <td>{% if r.4 > 0 %}<div class="arrow_up"></div>{% endif %}{% if r.4 == 0 %}-{% endif %}{% if r.4 < 0 %}<div class="arrow_down"></div>{% endif %}</td>
      <td>{{r.4}}</td>
    </tr>
    {% endfor %}

  </tbody>
  </table>
  <button>Download as CSV</button>
  <form class="download" method="POST" action="/download/">
    {% csrf_token %}
    <input type="hidden" name="title" value="" />
    <input type="hidden" name="format" value="csv" />
    <input type="hidden" name="content" value="" />
  </form>
</div>

{% endblock %}

{% block js %}
<script src="/media/js/libs/d3/d3.v2.min.js"></script>
<script src="/media/js/libs/sorttable/sorttable.js"></script>
<script>

// Add color to rankings
var color = d3.scale.linear()
  .domain([0, d3.selectAll("tbody tr")[0].length-1])
  .interpolate(d3.interpolateRgb)
  .range(["#7cbde2", "#fb9496"])
d3.selectAll("tbody tr").select("td span").style("background", function(d, i){
  return color(i);
})

// Handle download as CSV
$("button").click(function(){
  var data = [];
  
  $("tr").each(function(i, el){
    var row = [];
    $(el).children().each(function(i, el){
      if($(el).text()){
        row.push($(el).text())
      }
    })
    data.push(row)
  })
  
  $("input[name='content']").val(JSON.stringify(data));
  $("input[name='title']").val("{{category}}_rankings_{{year}}");
  
  $('form').submit();
  return false;
})

// Handle dropdown click
$(".dropdown dt a").click(function() {
    $(".dropdown dd ul").toggle();
    return false;
});

$(".dropdown dd ul li a").click(function(e) {
    var text = $(this).html();
    $(".dropdown dt a span").html(text);
    $(".dropdown dd ul").hide();
    // get selected value and route new URL
    var new_url = "/rankings/{{category}}/" + e.target.getAttribute("alt").toLowerCase() + "/";
    window.location = new_url;
    // console.log(new_url)
    return false;
});

$(document).bind('click', function(e) {
    var $clicked = $(e.target);
    if (! $clicked.parents().hasClass("dropdown"))
        $(".dropdown dd ul").hide();
});
</script>
{% endblock %}