{% load i18n %}
{% load humanize %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>The Observatory | {{title}} ({% if year_start %}{{year_start}} - {{year_end}}{% else %}{{year}}{% endif %})</title>
  <meta name="description" content="Networks in Macro Economics">
  <meta name="author" content="Alexander Simoes">
  <!-- Necessary for google to crawl the site, since it is purely ajax based.
        When the crawler reaches the page it will request the current URL plus
        the additional URL query parameter _escaped_fragment_= -->
  <meta name="fragment" content="!">
  
  <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico">
  
  <!-- Load non-standard fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css' />
  
  <link rel="stylesheet" href="/media/css/normalize.css">
  <link rel="stylesheet" href="/media/css/style.css">
  <link rel="stylesheet" href="/media/js/libs/chosen/chosen.css" />
  <link rel="stylesheet" href="/media/js/libs/tipsy/tipsy.css" />
  <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" /> -->
  <link rel="stylesheet" href="/media/js/libs/jquery-ui/jquery-ui.css" type="text/css" media="all" />
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="app">
  {% if alert %}
  <div class="alert">
    <div>
      {% if alert.title %}
      <h4>{{alert.title}}</h4>
      {% endif %}
      {% if alert.text %}{{alert.text|safe}}{% endif %}
    </div>
  </div>
  {% endif %}
  {% if warning %}
  <div class="warning">
    <div>
      {% if warning.title %}
      <h4>{{warning.title}}</h4>
      {% endif %}
      {% if warning.text %}{{warning.text|safe}}{% endif %}
    </div>
  </div>
  {% endif %}
  <div id="container">
    <header>
      <div class="logo">
        <h1><a href="/" title="Home"><img src="/media/img/all/logo_observatory_sm.png" alt="The Observatory of Economic Complexity" /></a></h1>
      </div>
      <nav>
        <ul>
          <li><a href="/explore">Explore</a></li>
          <li><a href="/country/usa/">Profiles</a></li>
          <li><a href="/book">Book</a></li>
          <li><a href="/rankings">Rankings</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/api">API</a></li>
        </ul>
      </nav> 
      <div class="language_select">
        <div class="text">
          Language:
        </div>
        <select>
          {% for lang in supported_langs %}
          <option style="width: 70px; padding-right: 26px;" value="{{lang.0.code}}" {% if lang.0.code == LANGUAGE_CODE %} selected="selected" {% endif %}>{{lang.0.name_local}}</option>
          {% endfor %}
        </select>
      </div>
      <br class="clear">
    </header>
    
    <div id="main" role="main">
      
      <div class="app_title" id="icons">
        
        <!-- Left icon -->
        {% if product_list and not country1_list %}
        <img class="img left community" src="/media/img/icons/community_{{ product.community.id }}.png" alt="product.name_en">
        {% endif %}
        {% if country1_list %}
        <img class="img left" src="/media/img/icons/flag_{{ country1.name_3char|lower }}.png" alt="{{country1.name}}">
        {% endif %}
        
        <!-- year(s) -->
        {% if year_start %}
        <h2 class="left">{{year_start}}<br />{{year_end}}</h2>
        {% else %}
        <h2 class="left small">{{year}}</h2>
        {% endif %}
        
        <!-- Right icon -->
        {% if country2_list %}
        <img class="img right" src="/media/img/icons/flag_{{ country2.name_3char|lower }}.png" alt="{{country2.name}}">
        {% endif %}
        {% if country1_list and product_list %}
        <img class="img right community" src="/media/img/icons/community_{{ product.community.id }}.png" alt="{{product.name_en}}">
        {% endif %}
        
      </div>
      <div class="app_title" id="title"><h2>{% if title %}{{title}}{% else %}&nbsp;{% endif %}</h2></div>
    
      <!-- the left pane -->
      <div id="app_pane">
        <h3 class="pane_title">{% trans "App Selection" %}</h3>
        <div class="accordion">
          <div>
            <h3><a href="#">Tree Maps</a></h3>
            <div>
              <h4>{% trans "Country" %}</h4>
              <ul>
                <li><a class="casy" href="/explore/tree_map/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/2010/" >{% trans "Exports" %}</a></li>
                <li><a class="casy" href="/explore/tree_map/import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/2010/">{% trans "Imports" %}</a></li>
                <li><a class="casy" href="/explore/tree_map/net_export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/2010/">{% trans "Net Exports" %}</a></li>
                <li><a class="casy" href="/explore/tree_map/net_import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/2010/">{% trans "Net Imports" %}</a></li>
              </ul>
              <h4>{% trans "Country (show trade partners)" %}</h4>
              <ul>
                <li><a class="csay" href="/explore/tree_map/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/show/all/2010/">{% trans "Exports" %}</a></li>
                <li><a class="csay" href="/explore/tree_map/import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/show/all/2010/">{% trans "Imports" %}</a></li>
              </ul>
              <h4>{% trans "Products" %}</h4>
              <ul>
                <li><a class="sapy" href="/explore/tree_map/export/show/all/{% if product_classification == "sitc4" %}3330{% else %}2709{% endif %}/2010/">{% trans "Exporters" %}</a></li>
                <li><a class="sapy" href="/explore/tree_map/import/show/all/{% if product_classification == "sitc4" %}3330{% else %}2709{% endif %}/2010/">{% trans "Importers" %}</a></li>
              </ul>
              <h4>{% trans "Bilateral" %}</h4>
              <ul>
                <li><a class="ccsy" href="/explore/tree_map/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/chn/show/2010/">{% trans "Exports To Destination" %}</a></li>
                <li><a class="ccsy" href="/explore/tree_map/import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/chn/show/2010/">{% trans "Imports From Origin" %}</a></li>
                <li><a class="cspy" href="/explore/tree_map/export/{{country_code}}/show/{% if product_classification == "sitc4" %}3330{% else %}2709{% endif %}/2010/">{% trans "Exports by Product" %}</a></li>
                <li><a class="cspy" href="/explore/tree_map/import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/show/{% if product_classification == "sitc4" %}3330{% else %}2709{% endif %}/2010/">{% trans "Imports by Product" %}</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h3><a href="#">Stacked Area Charts</a></h3>
            <div>
              <h4>{% trans "Country" %}</h4>
              <ul>
                <li><a class="casy" href="/explore/stacked/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Exports" %}</a></li>
                <li><a class="casy" href="/explore/stacked/import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Imports" %}</a></li>
                <li><a class="casy" href="/explore/stacked/net_export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Net Exports" %}</a></li>
                <li><a class="casy" href="/explore/stacked/net_import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Net Imports" %}</a></li>
              </ul>
              <h4>{% trans "Country (show trade partners)" %}</h4>
              <ul>
                <li><a class="csay" href="/explore/stacked/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/show/all/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Exports" %}</a></li>
                <li><a class="csay" href="/explore/stacked/import/usa/show/all/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Imports" %}</a></li>
              </ul>
              <h4>{% trans "Products" %}</h4>
              <ul>
                <li><a class="sapy" href="/explore/stacked/export/show/all/{%if product_classification == "sitc4"%}3330{% else %}2709{% endif %}/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Exporters" %}</a></li>
                <li><a class="sapy" href="/explore/stacked/import/show/all/{%if product_classification == "sitc4"%}3330{% else %}2709{% endif %}/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Importers" %}</a></li>
              </ul>
              <h4>{% trans "Bilateral" %}</h4>
              <ul>
                <li><a class="ccsy" href="/explore/stacked/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/chn/show/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Exports To Destination" %}</a></li>
                <li><a class="ccsy" href="/explore/stacked/import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/chn/show/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Imports From Origin" %}</a></li>
                <li><a class="cspy" href="/explore/stacked/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/show/3354/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Exports by Product" %}</a></li>
                <li><a class="cspy" href="/explore/stacked/import/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/show/3354/{%if product_classification == "sitc4"%}1965.2005.5{% else %}1995.2010.2{% endif %}/">{% trans "Imports by Product" %}</a></li>
              </ul>
            </div>
          </div>
          <div>
            <h3><a href="#">Product Space</a></h3>
            <ul>
              <li><a class="casy" href="/explore/product_space/export/{% if country_code != None%}{{country_code}}{%else %}usa{% endif %}/all/show/2010/">Product Space of {% trans "Exports" %}</a></li>
              <li><a class="disabled" href="#">Density Product Space</a></li>
            </ul>
          </div>
          <div>
            <h3><a href="#">Predictive Tools</a></h3>
            <ul>
              <li><a class="disabled" href="#">Density Bars</a></li>
              <li><a class="disabled" href="#">Stepping Stone</a></li>
            </ul>
          </div>
          <div>
            <h3><a href="#">Maps</a></h3>
            <ul>
              <li><a class="sapy" href="/explore/map/export/show/all/{%if product_classification == "sitc4"%}3330{% else %}2709{% endif %}/2010/">Exports</a></li>
              <li><a class="sapy" href="/explore/map/import/show/all/{%if product_classification == "sitc4"%}3330{% else %}2709{% endif %}/2010/">Imports</a></li>
              <li><a class="sapy" href="/explore/map/net_export/show/all/{%if product_classification == "sitc4"%}3330{% else %}2709{% endif %}/2010/">Net exports</a></li>
              <li><a class="sapy" href="/explore/map/net_import/show/all/{%if product_classification == "sitc4"%}3330{% else %}2709{% endif %}/2010/">Net imports</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- END app selection pane -->
      
      <!-- the Visualization -->
      <div id="content">

        <!-- ajax loading gif -->
        <div id="loader">
          <img src="/media/img/all/loader.gif" alt="loading" /><br />Loading...
        </div>
        
        <!-- the canvas for the visualization -->
        <div id="text_data">
        {% if data_as_text %}
          <table>
            <tr>
              {% for c in data_as_text.columns %}
              <th>{{c}}</th>
              {% endfor %}
            </tr>
            {% for d in data_as_text.data %}
            <tr class="{% cycle 'even' 'odd' %}">
              <td>{{forloop.counter}}</td>
              <td>{{d.year}}</td>
              <td>{{d.abbrv}}</td>
              <td>{{d.name}}</td>
              <td>${{d.val|floatformat:2|intcomma}}</td>
              <td>{{d.rca|floatformat:-2}}</td>
              <td>{{d.share|floatformat:-2}}%</td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
        </div>
        
        <!-- Container for the visualization -->
        <div id="dataviz"></div>
        
        <!-- Container for the key/legend -->
        <div class="key"></div>
        
        <!-- Container for the timeline -->
        <div id="timeline">
          <div class="slider" id="year"></div>
          {% if app_name != "stacked" %}
          <a class="prev" href="/explore/{{app_name}}/{{trade_flow}}/{% if country1.name_3char %}{{country1.name_3char|lower}}{% else %}{{country1}}{% endif %}/{% if country2.name_3char %}{{country2.name_3char|lower}}{% else %}{{country2}}{% endif %}/{% if product.code %}{{product.code}}{% else %}{{product}}{% endif %}/{% if year > years_available.0 %}{{year|add:-1}}{% else %}{{years_available.last}}{% endif %}/">&laquo; {% trans "Previous" %}</a>
            <button id="play">{% trans "Play" %}</button>
            <button id="stop">{% trans "Stop" %}</button>
          <a class="next" href="/explore/{{app_name}}/{{trade_flow}}/{% if country1.name_3char %}{{country1.name_3char|lower}}{% else %}{{country1}}{% endif %}/{% if country2.name_3char %}{{country2.name_3char|lower}}{% else %}{{country2}}{% endif %}/{% if product.code %}{{product.code}}{% else %}{{product}}{% endif %}/{% if year < years_available.last %}{{year|add:1}}{% else %}{{years_available.0}}{% endif %}/">{% trans "Next" %} &raquo;</a>
          {% else %}
          <div id="stacked_controls">
            <div>
              <p>Year Interval: </p>
              <div class="slider" id="interval"></div>
            </div>
            <div id="stacked_labels">
              <p>Labels:</p>
              <input type="radio" id="on" name="labels" checked="checked" /><label for="on">On</label>
              <input type="radio" id="off" name="labels" /><label for="off">Off</label>
            </div>
            <div id="stacked_layout">
              <p>Layout:</p>
              <input type="radio" id="value" name="layout" checked="checked" /><label for="value">value</label>
              <input type="radio" id="share" name="layout" /><label for="share">share</label>
            </div>
            <div id="stacked_order">
              <p>Ordering:</p>
              <input type="radio" id="community" name="order" checked="checked" /><label for="community">community</label>
              <input type="radio" id="name" name="order" /><label for="name">name</label>
              <input type="radio" id="val" name="order" /><label for="val">value</label>
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}

      </div> <!-- END content -->
      
      <!-- the right pane -->
      <div id="tool_pane">
        
        <h3 class="pane_title">{% trans "Controls" %}</h3>
        
        <!-- Trade Flow -->
        <div class="dropdown_container" id="trade_flow">
          <h3>{% trans "Trade Flow" %}</h3>
          <select data-url_pos="5">
            {% for tf in trade_flow_list %}
            {% if tf.0 == trade_flow %}
            <option value="{{tf.0}}" selected="selected">{{ tf.1 }}</option>
            {% else %}
            <option value="{{tf.0}}">{{ tf.1 }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <!-- Country List -->
        {% if country1_list  %}
        <div class="dropdown_container" id="country1">
          {% if country2_list %}
          <h3>{% trans "Origin Country" %}</h3>
          {% else %}
          <h3>{% trans "Country" %}</h3>
          {% endif %}
          <select data-url_pos="5">
            {% for c in country1_list %}
            {% if c.id == country1.id %}
            <option value="{{c.name_3char|lower}}" selected="selected">{{ c.name }}</option>
            {% else %}
            <option value="{{c.name_3char|lower}}">{{ c.name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        {% endif %}

        <!-- Country List -->
        {% if country2_list %}
        <div class="dropdown_container" id="country2">
          <h3>{% trans "Destination Country" %}</h3>
          <select data-url_pos="5" id="country2_select">
            {% for c in country2_list %}
            {% if c.id == country2.id %}
            <option value="{{c.name_3char|lower}}" selected="selected">{{ c.name }}</option>
            {% else %}
            <option value="{{c.name_3char|lower}}">{{ c.name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        {% endif %}
        
        <!-- Product List -->
        {% if product_list %}
        <div class="dropdown_container" id="product">
          <h3>{% trans "Product" %}</h3>
          <select data-url_pos="5">
            {% for p in product_list %}
            {% if p.id == product.id %}
            <option value="{{p.code}}" selected="selected">{{ p.name }}</option>
            {% else %}
            <option value="{{p.code}}">{{ p.name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        {% endif %}
        
        <!-- Year List -->
        {% if year2_list %}
        <div class="dropdown_container" id="year_start">
          <h3>{% trans "Start Year" %}</h3>
        {% else %}
        <div class="dropdown_container" id="year">
          <h3>{% trans "Year" %}</h3>
          {% endif %}
          <select data-url_pos="5" id="year1_select">
            {% for y in year1_list %}
            {% if y == year or y == year_start %}
            <option value="{{y}}" selected="selected">{{ y }}</option>
            {% else %}
            <option value="{{y}}">{{ y }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <!-- Year2 List -->
        {% if year2_list %}
        <div class="dropdown_container" id="year_end">
          <h3>{% trans "End Year" %}</h3>
          <select data-url_pos="5">
            {% for y in year2_list %}
            {% if y == year_end %}
            <option value="{{y}}" selected="selected">{{ y }}</option>
            {% else %}
            <option value="{{y}}">{{ y }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        {% endif %}
        
        <!-- Year interval List -->
        {% if year_interval_list %}
        <div class="dropdown_container" id="year_interval">
          <h3>{% trans "Year Interval" %}</h3>
          <select data-url_pos="5">
            {% for i in year_interval_list %}
            {% if i == year_interval %}
            <option value="{{i}}" selected="selected">{{ i }}</option>
            {% else %}
            <option value="{{i}}">{{ i }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        {% endif %}

        <button id="build">{% trans "Build Visualization" %} &raquo;</button>
        <div class="control_container" id="download">
          <h3>{% trans "Download" %}</h3>
          <a class="pdf" href="#"><img src="/media/img/app/download.png" /> PDF</a>
          <a class="svg" href="#"><img src="/media/img/app/download.png" /> SVG</a>
          <a class="png" href="#"><img src="/media/img/app/download.png" /> PNG</a>
          <a class="csv" href="#"><img src="/media/img/app/download.png" /> CSV</a>
        </div>
        <div class="control_container" id="view_as_text">
          <a class="text" href="#"><img src="/media/img/app/text.png" /> <span>{% trans "View as text" %}</span></a>
        </div>
        <div class="control_container">
          <h3>{% trans "Embed" %}</h3>
          <input type="text" class="embed_code" value='&lt;iframe width="560" height="315" src="http://atlas.media.mit.edu/embed/tree_map/import/usa/show/all/2010/" frameborder="0" &gt;&lt;/iframe&gt;'></input>
        </div>
        <div class="product_class">
          Product classification:
          <select>
            <option value="sitc4" {% if prod_class == "sitc4" %} selected="selected" {% endif %}>SITC4</option>
            <option value="hs4" {% if prod_class == "hs4" %} selected="selected" {% endif %}>HS4</option>
          </select>
        </div>
      </div>
      
    </div> <!-- END #main -->

    <footer>
      <p>
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Observatory of Economic complexity</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/" property="cc:attributionName" rel="cc:attributionURL">Alexander Simoes</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/about/permissions/" rel="cc:morePermissions">http://atlas.media.mit.edu/about/permissions/</a>.
        <br />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </p>
      <p>
        <img src="/media/img/all/logo_macro.png" alt="MIT MacroConnections Logo" />
        <img src="/media/img/all/LogoTrans.png" alt="Center for International Development Logo" />		
      </p>
    </footer>
    
    <form class="download" method="POST" action="/download/">
      {% csrf_token %}
      <input type="hidden" name="url" value="" />
      <input type="hidden" name="title" value="" />
      <input type="hidden" name="format" value="svg" />
      <input type="hidden" name="content" value="" />
    </form>
    <canvas style="display: none;" id="canvas" width="640px" height="500px"></canvas>
    
    <!--  Related -->
    <!-- <div id="related">
      <a id="prev" href="#">&laquo;</a>
      <a id="next" href="#">&raquo;</a>
      <a id="toggle" href="#">Related</a>
      <div>
        <p>
          Show related countries based on 
          <select>
            <option value="833">GNI per capita</option>
            <option value="804">GDP</option>
            <option value="1151">Population</option>
            <option value="0">Productive Structure</option>
            <option value="704">Exports of goods and services</option>
          </select>
        </p>
        <div class="related_item">
          <h4><img src="/media/img/icons/flag_wld.png">&nbsp;</h4>
          <iframe src="" width="180" height="140" frameborder="0"></iframe>
          <p class="value">&nbsp;</p>
          <p class="rank">&nbsp;</p>
        </div>
        <div class="related_item">
          <h4><img src="/media/img/icons/flag_wld.png">&nbsp;</h4>
          <iframe src="" width="180" height="140" frameborder="0"></iframe>
          <p class="value">&nbsp;</p>
          <p class="rank">&nbsp;</p>
        </div>
        <div class="related_item">
          <h4><img src="/media/img/icons/flag_wld.png">&nbsp;</h4>
          <iframe src="" width="180" height="140" frameborder="0"></iframe>
          <p class="value">&nbsp;</p>
          <p class="rank">&nbsp;</p>
        </div>
        <div class="related_item">
          <h4><img src="/media/img/icons/flag_wld.png">&nbsp;</h4>
          <iframe src="" width="180" height="140" frameborder="0"></iframe>
          <p class="value">&nbsp;</p>
          <p class="rank">&nbsp;</p>
        </div>
        <div class="related_item">
          <h4><img src="/media/img/icons/flag_wld.png">&nbsp;</h4>
          <iframe src="" width="180" height="140" frameborder="0"></iframe>
          <p class="value">&nbsp;</p>
          <p class="rank">&nbsp;</p>
        </div>
      </div>
    </div> -->
    
  </div> <!-- END #container -->

  <!-- The JavaScript -->
  <!-- Libraries -->
  <script src="/media/js/libs/jquery/jquery-1.7.1.min.js"></script>
  <script src="/media/js/libs/jquery-ui/jquery-ui.min.js"></script>
  <script src="/media/js/libs/tipsy/tipsy.jquery.js" ></script>
  <script src="/media/js/libs/chosen/chosen.jquery.min.js" ></script>
  <script src="/media/js/libs/d3/d3.v2.min.js"></script> 
  <!-- App -->
  <script src="/media/js/explore/general.js"></script>
  <script src="/media/js/explore/key.js"></script>
  <script src="/media/js/explore/timeline.js"></script>
  <script src="/media/js/explore/controls.js"></script>
  {% if app_name == "tree_map" %}<script src="/media/js/apps/tree_map.js"></script>{% endif %}
  {% if app_name == "stacked" %}<script src="/media/js/apps/stacked.js"></script>{% endif %}
  {% if app_name == "product_space" %}<script src="/media/js/apps/product_space.js"></script>{% endif %}
  {% if app_name == "map" %}<script src="/media/js/apps/map.js"></script>{% endif %}
  <script>
  // google analytics
  var _gaq=[['_setAccount','UA-22403682-3'],['_trackPageview']]; 
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  
  // variables from server
  var app,
    app_types = ["tree_map", "stacked", "product_space", "", "map"]
    warning = "{{warning}}",
    is_alert = "{{alert}}",
    api_uri = "{{api_uri}}",
    year =  "{{year}}",
    app_name = "{{app_name}}",
    years_available = {{years_available|safe}},
    trade_flow = "{{trade_flow}}",
    country1 = "{{country1}}",
    country2 = "{{country2}}",
    product = "{{product}}",
    item_type = "{{item_type}}",
    prod_class = "{{prod_class}}";
  
  // Use chosen plugin to make dropdowns look fancy
  $(".dropdown_container select").chosen()
  // language select dropdown
  $(".language_select select").chosen();
  $(".language_select .chzn-search").hide();
  $(".language_select select").chosen().change(function(){
    // set session data to new language
    var language = $(this).val();
    window.location = "/set_language/"+language+"/";
  });
  
  // set active link in top nav for current page
  var current_page = "explore";
  $("nav ul a").each(function(i, el){
    if($(el).text().toLowerCase() == current_page){
      $(el).addClass("current");
    }
  })
  
  // Accordion for app selection
  $(".accordion").accordion({
    collapsible: true,
    active: false,
    autoHeight: false,
    header: "> div > h3"
  });
  $(".accordion").accordion("option", "active", app_types.indexOf(app_name));
  
  // Allllllright, here goes. The meat and potatoes. The big kahuna...
  // whatever you wanna call it. This is the single most important function.
  // It triggers the data call to the server to fetch the data used in turn
  // to build the app. Look in general.js for more info.
  build_app(api_uri, "{{app_name}}", [640, 520]);
  
  </script>
  <script src="/media/js/apps/related.js"></script>
</body>
</html>
