{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>The Atlas of Economic Complexity</title>
	<meta name="description" content="Networks in Macro Economics">
	<meta name="author" content="Alexander Simoes">
	
	<link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico">
	
	<!-- Load non-standard fonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css' />
	
	<link rel="stylesheet" href="/media/css/normalize.css">
	<link rel="stylesheet" href="/media/css/style.css">
	<link rel="stylesheet" href="/media/css/home.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="home">
	<div id="container">
		<header>
			<div class="logo">
				<h1><a href="/" title="Home"><img src="/media/img/all/logo_observatory_sm.png" alt="The Observatory of Economic Complexity" /></a></h1>
			</div>
			<div class="nav">
				<ul>
					<li><a href="/explore">Explore</a></li>
					<li><a href="/book">Book</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/api">API</a></li>
				</ul>
				<p>
					Change Language:
					{% for lang in supported_langs %}
						{% if lang.0 == LANGUAGE_CODE %}
						<a href="/set_language/{{lang.0}}/" title="{{lang.2}}"><img class="selected_lang" src="/media/img/icons/flag_{{lang.1}}.png" alt="{{lang.2}}" /></a>
						{% else %}
						<a href="/set_language/{{lang.0}}/" title="{{lang.2}}"><img src="/media/img/icons/flag_{{lang.1}}.png" alt="{{lang.2}}" /></a>
						{% endif %}
					{% endfor %}
				</p>
			</div>
			<br class="clear">
		</header>
	
		<div id="main" role="main">
		
			<div id="content">
				<div class="didyouknow_container">
					<div class="didyouknow" style="display: block">
						<div class="text">
							<img class="pin" src="http://www.crossed-flag-pins.com/Friendship-Pins/Estonia/Flag-Pins-Estonia-Estonia.jpg" />
							<h2>Estonia</h2>
							<h3>Nick-named the Baltic tiger, Estonia's exports have rapidly grown over the past 20 years.</h3>
							<p>Learn More...</p>
							<ul>
								<li><a href="/explore/tree_map/export/est/all/show/2009/">Estonia's exports</a></li>
								<li><a href="/explore/tree_map/import/est/all/show/2009/">Estonia's imports</a></li>
								<li><a href="/explore/product_space/export/est/all/show/2009/">Estonia in the product space</a></li>
							</ul>
						</div>
						<div class="app">
							<h3>What does Estonia export?</h3>
							<iframe src="http://atlas.media.mit.edu/embed/product_space/export/pry/all/show/1990/" frameborder="0" width="600" height="480"></iframe>
						</div>
					</div>
					<div class="didyouknow">
						<div class="text">
							<img class="pin" src="http://www.crossed-flag-pins.com/Friendship-Pins/Bhutan/Flag-Pins-Bhutan-Bhutan.jpg" />
							<h2>Bhutan</h2>
							<h3>Did you know Bhutan's largest export is electric current?</h3>
							<p>Learn More...</p>
							<ul>
								<li><a href="/explore/tree_map/export/btn/ind/show/2009/">Bhutan's exports to India</a></li>
								<li><a href="/explore/tree_map/import/btn/ind/show/2009/">Bhutan's imports from India</a></li>
								<li><a href="/explore/product_space/export/btn/all/show/2009/">Bhutan's position in the product space</a></li>
								<li><a href="/explore/tree_map/export/show/all/3510/2009/">Exporters of electric current</a></li>
								<li><a href="/explore/tree_map/import/show/all/3510/2009/">Importers of electric current</a></li>
							</ul>
						</div>
						<div class="app">
							<h3>What does Bhutan export?</h3>
							<iframe src="http://atlas.media.mit.edu/embed/tree_map/export/btn/all/show/2009/" frameborder="0" width="600" height="480"></iframe>
						</div>
					</div>
					<div class="didyouknow">
						<div class="text">
							<img class="pin" src="http://www.crossed-flag-pins.com/Friendship-Pins/France/Flag-Pins-France-Turkey.jpg" />
							<h2>Turkish Cars</h2>
							<h3>Did you know that in 2009 Turkey was the 3rd largest source of imported cars in France?</h3>
							<p>Learn More...</p>
							<ul>
								<li><a href="/explore/stacked/import/fra/tur/show/1988.2008.2/">France's imports from Turkey over 20 years</a></li>
								<li><a href="/explore/tree_map/export/tur/all/show/2009/">Turkey's exports</a></li>
								<li><a href="/explore/product_space/export/tur/all/show/2009/">Turkey's position in the product space</a></li>
								<li><a href="/explore/tree_map/export/show/all/7810/2009/">Exporters of cars</a></li>
								<li><a href="/explore/tree_map/import/show/all/7810/2009/">Importers of cars</a></li>
							</ul>
						</div>
						<div class="app">
							<h3>From where does France import cars?</h3>
							<iframe src="http://atlas.media.mit.edu/embed/tree_map/import/fra/show/7810/2009/" frameborder="0" width="600" height="480"></iframe>
						</div>
					</div>
					<div class="didyouknow">
						<div class="text">
							<img class="pin" src="http://www.crossed-flag-pins.com/Friendship-Pins/Mexico/Flag-Pins-Mexico-Mexico.jpg" />
							<h2>Mexican TV</h2>
							<h3>Did you know the first US patent for a color TV was awarded to a Mexican inventor?</h3>
							<p>Learn More...</p>
							<ul>
								<li><a href="/app/stacked/import/fra/tur/show/1988.2008.2/">France's imports from Turkey over 20 years</a></li>
								<li><a href="/app/tree_map/export/tur/all/show/2009/">Turkey's exports</a></li>
								<li><a href="/app/product_space/export/tur/all/show/2009/">Turkey's position in the product space</a></li>
								<li><a href="/app/tree_map/export/show/all/7810/2009/">Exporters of cars</a></li>
								<li><a href="/app/tree_map/import/show/all/7810/2009/">Importers of cars</a></li>
							</ul>
						</div>
						<div class="app">
							<h3>What countries export color TVs?</h3>
							<iframe src="http://atlas.media.mit.edu/embed/tree_map/export/show/all/7611/2009/" frameborder="0" width="600" height="480"></iframe>
						</div>
					</div>
				</div>
				<div class="other_apps">
					<h3>Explore More Apps</h3>
					<div class="item">
						<a href="/explore/tree_map/export/usa/all/show/2009/"><img src="/media/img/home/teaser_tree_map.png"></a>
					</div>
					<div class="item">
						<a href="/explore/stacked/export/usa/all/show/1990.2008.2/"><img src="/media/img/home/teaser_stacked.png"></a>
					</div>
					<div class="item">
						<a href="/explore/map/export/show/all/3330/2009/"><img src="/media/img/home/teaser_map.png"></a>
					</div>
					<div class="item">
						<a href="/explore/product_space/export/usa/all/show/2009/"><img src="/media/img/home/teaser_product_space.png"></a>
					</div>
				</div>
			</div> <!-- END #content -->

		</div> <!-- END #main -->
	
		<footer>
			<p>
			<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Observatory of Economic complexity</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/" property="cc:attributionName" rel="cc:attributionURL">Alexander Simoes</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/about/permissions/" rel="cc:morePermissions">http://atlas.media.mit.edu/about/permissions/</a>.
			<br />
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
			</p>
		</footer>
	
	</div> <!-- END #container -->
	<script src="/media/js/libs/jquery/jquery-1.7.1.min.js"></script>
	<script>
	// Set transition timer for did-you-knows
	window.setInterval(
	    function() {
	        change_didyouknow();
	    },
	    10000
	);
	// Find current visible did-you-know and cross-fade with next did-you-know
	function change_didyouknow(){
		var number_of_dyks = $(".didyouknow").length
		var current_index = $(".didyouknow").index($(".didyouknow:visible"))
		var next_index = (current_index + 1) % (number_of_dyks)

		$(".didyouknow").eq(current_index).fadeOut(function(){
			$(".didyouknow").eq(next_index).fadeIn();
			// need to reload iframe (can't be loaded in hidden div)
			var iframe = $(".didyouknow").eq(next_index).find("iframe")
			iframe.replaceWith(iframe.clone())
		});
	}
	</script>
	
</body>
</html>