{% extends "template.html" %}

{% block page_title %}{% endblock %}
{% block heading_title %}{% endblock %}

{% block css %} 
<style>
#main #content .didyouknow_container{
	height: 415px;
}
.app_title {
  display: none;
}
#main {
  border: none;
}

#main #content {
  border-radius: 10px;
  margin: 10px 0 0 0;
  width: 998px;
}

#main #content .didyouknow_container{
  height: 450px;
}

#main #content .didyouknow{
  display: none;
}

#main #content .headline {
  background: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0;
  overflow: hidden;
  width: 100%;
}
#main #content .headline img.pin{
  float: left;
  margin: 0 25px 0 0;
  width: 80px;
}
#main #content .headline h2{
  font-size: 45px;
  font-weight: 100;
  float: left;
  margin: 0;
  width: 400px;
  text-transform: uppercase;
}

#main #content img.pin{
  float: left;
  margin: 0 10px 0 0;
  width: 80px;
}
#main #content h2{
  font-size: 50px;
  font-weight: 100;
  float: left;
  margin: 0;
  width: 260px;
  text-transform: uppercase;
}

#main #content .text{
  float: left;
  margin: 0 30px 0 0;
  width: 365px;
}
#main #content .text h3{
  line-height: 32px;
  margin: 20px 0 10px 0;
  font-size: 32px;
  font-weight: 100;
}
#main #content .text p{
  font-size: 22px;
}
#main #content .text ul{
  font-size: 18px;
  list-style: circle;
  line-height: 26px;
}
#main #content .app {
  margin: 10px 0 0 0;
}
#main #content .app h3{
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 0 0;
  text-align: center;
}
#main #content .other_apps h3{
  font-size: 28px;
  font-weight: normal;
  margin: 0px 0 10px 0;
}
#main #content .other_apps div{
  float: left;
  margin: 0 30px 0 0;
}
#main #content .other_apps div a{
  display: inline-block;
  border: solid 1px #ccc;
  padding: 10px;
}
#main #content .other_apps div a:hover{
  border: solid 1px #000;
}
#main #content .other_apps div img{
  width: 200px;
}
#main #content .other_apps div:last-child{
  margin: 0;
}
</style>
{% endblock %}

{% block content %}
<div id="content">
  <div class="didyouknow_container">
    
    <div class="didyouknow">
      <div class="text">
        <img class="pin" src="http://www.crossed-flag-pins.com/Friendship-Pins/Netherlands/Flag-Pins-Netherlands-Netherlands.jpg" />
        <h2 style="font-size: 38px;">Learn about The Netherlands &amp; Flowers</h2>
        <br style="clear:both"/><br />
        <p>Watch the video for a brief introduction of how The Observatory works.</p>
      </div>
      <div class="app">
        <iframe src="http://player.vimeo.com/video/40565955?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="600" height="443" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    
    <div class="didyouknow">
      <div class="text">
        <img class="pin" src="http://www.crossed-flag-pins.com/Friendship-Pins/Chile/Flag-Pins-Chile-Chile.jpg" />
        <h2 style="font-size: 38px;">Learn about Chile &amp; Wine</h2>
        <br style="clear:both"/><br />
        <p>Watch the video for a brief introduction of how The Observatory works.</p>
      </div>
      <div class="app">
        <iframe src="http://player.vimeo.com/video/40565954?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="600" height="443" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    
  </div>
  <div class="other_apps">
    <h3>Explore More Apps</h3>
    <div class="item">
      <a href="/explore/tree_map/export/{{default_country.name_3char|lower}}/all/show/2010/"><img src="/media/img/home/teaser_tree_map.png"></a>
    </div>
    <div class="item">
      <a href="/explore/stacked/export/{{default_country.name_3char|lower}}/all/show/1995.2010.2/"><img src="/media/img/home/teaser_stacked.png"></a>
    </div>
    <div class="item">
      <a href="/explore/map/export/show/all/3330/2010/"><img src="/media/img/home/teaser_map.png"></a>
    </div>
    <div class="item">
      <a href="/explore/product_space/export/{{default_country.name_3char|lower}}/all/show/2010/"><img src="/media/img/home/teaser_product_space.png"></a>
    </div>
  </div>
</div> <!-- END #content div -->
{% endblock %}


{% block js %}
<script>
  // Rotate featured video randomly
  var vid = Math.round(Math.random());
  $(".didyouknow").eq(vid).show();
  // Set explore URL to be the default country aka where the 
  // user's IP address says they are
  $("nav a").eq(0).attr("href", "/explore/tree_map/export/{{default_country.name_3char|lower}}/all/show/2010/")
</script>
{% endblock %}