<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>The Observatory of Economic Complexity :: {% block page_title %}{% endblock %}</title>
  <meta name="description" content="Networks in Macro Economics">
  <meta name="author" content="Alexander Simoes">

  <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico">

  <!-- Load non-standard fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="/media/css/normalize.css">
  <link rel="stylesheet" href="/media/css/style.css">	
  <link rel="stylesheet" href="/media/js/libs/chosen/chosen.css" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block css %}{% endblock %}
</head>
<body>
  <div id="container">
    <header>
      <div class="logo">
        <h1><a href="/" title="Home"><img src="/media/img/all/logo_observatory_sm.png" alt="The Observatory of Economic Complexity" /></a></h1>
      </div>  
      <nav>
        <ul>
          <li><a href="/explore">Explore</a></li>
          <li><a href="/country/usa">Profiles</a></li>
          <li><a href="/book">Book</a></li>
          <li><a href="/rankings">Rankings</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/api">API</a></li>
        </ul>
      </nav> 
    		<div class="language_select">
    		  <div class="text">
    			  Language:
    			</div>
    			<select>
    	          {% for lang in supported_langs %}
    				<option style="width: 70px; padding-right: 26px;" value="{{lang.0.code}}" {% if lang.0.code == LANGUAGE_CODE %} selected="selected" {% endif %}>{{lang.0.name_local}}</option>
    	          {% endfor %}
    			</select>
    		</div>
      <br class="clear">
    </header>

    <div id="main" role="main">
      <div class="app_title" id="title"><h2>{% block heading_title %}{% endblock %}</h2></div>

      <!-- main content -->
      {% block content %}{% endblock %}


    </div> <!-- END #main -->

    <footer>
      <p>
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Observatory of Economic complexity</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/" property="cc:attributionName" rel="cc:attributionURL">Alexander Simoes</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/about/permissions/" rel="cc:morePermissions">http://atlas.media.mit.edu/about/permissions/</a>.
        <br />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </p>
	    <p>
		    <img src="/media/img/all/logo_macro.png" alt="MIT MacroConnections Logo" />
		    <img src="/media/img/all/LogoTrans.png" alt="Center for International Development Logo" />		
	    </p>	
    </footer>

  </div> <!-- END #container -->

  <script src="/media/js/libs/jquery/jquery-1.7.1.min.js"></script>	
	<script src="/media/js/libs/chosen/chosen.jquery.min.js" ></script>
  <script>
	
	// language select dropdown
	$(".language_select select").chosen();
	$(".language_select .chzn-search").hide();
	$(".language_select select").chosen().change(function(){
		// set session data to new language
		var language = $(this).val();
		window.location = "/set_language/"+language+"/";
	});
	
  // google analytics
  var _gaq=[['_setAccount','UA-22403682-3'],['_trackPageview']]; 
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));

  // current nav styling
	$(function(){
		var current_page = document.location.pathname.split("/")[1];
		$("nav ul a").each(function(i, el){
			if($(el).text().toLowerCase() == current_page){
				$(el).addClass("current");
			}
		})
	})
	</script>
	{% block js %}{% endblock %}
	
</body>
</html>