{% extends "templates/site.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.profile.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.table.css" />
    <!-- load topojson library -->
    <script src="/static/js/libs/topojson.js"></script>
{% endblock %}

{% block title %}: {{ _('%(country)s (%(country_abbrv)s) Profile of Exports, Imports and Trade Partners', country=attr.get_name(), country_abbrv=attr.get_display_id()|upper) }}{% endblock %}
{% block description %}{{ _('List of major leading exports, imports and complexity economic indicator statistics of %(country)s.', country=attr.get_name()) }} {{ _('Economy of %(country)s.', country=attr.get_name()) }} {{ _('Principle trade partners of %(country)s.', country=attr.get_name()) }} {{ _('Goods and resources of %(country)s.', country=attr.get_name()) }}{% endblock %}

{% block body %}
<h2>{{ _('Learn More About Trade in <strong>%(country)s</strong>', country=attr.get_name(article=True)) }}</h2>

<div class="content">

  <div class="col1_5">
    <div class="dropdown_container" id="origin">
    </div>
    <div id="viz"></div>
  </div><div class="col2">
    <table class="striped">
      {% for b in builds %}
      {% set stats = b.top_stats(5) %}
      <tr>
        <th>{{ _('Top 5') }} {{ b.get_name()|safe }}</th>
        <td>
          {% for entry in stats.entries %}
          {% if loop.last %}and {% endif %}<a href="{{ entry.attr.get_profile_url() }}">{{ entry.attr.get_name() }}</a> ({{ entry.share|format_percent }}){% if not loop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% set top_prods = attr.get_top(10) %}
    {% if attr.get_attr_yo().eci_rank %}
      <p class="eci_value">
        {% autoescape false %}
        {{ _('%(country)s %(ranked)s %(rank_val)s with an Economic Complexity Index (ECI) of %(eci)s', country=attr.get_name(article=True), ranked='<a href="/rankings/country/">%s</a>' % (_('is ranked')), rank_val='<span class="rank">%s</span>' % (attr.get_attr_yo().eci_rank), eci=attr.get_attr_yo().eci) }}
        {% endautoescape %}
      </p>
    {% endif %}
    {% if top_prods %}
      <p class="eci_value">
        {{ _('%(country)s is the top exporter of', country=attr.get_name(article=True)) }}{% for yp in top_prods %} {% if loop.last and loop.length > 1 %}{{ _('and') }} {% endif %}<a href="{{ yp.product.get_profile_url() }}">{{ yp.product.get_name() }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
      </p>
    {% endif %}
  </div>

  <br />

  {% for b in builds %}
    {% set stats = b.top_stats(20) %}
    <div class="build">
      <h3>{{ b.get_question()|safe }}</h3>
      {% if not is_iOS %}
      <iframe id="iframe_viz" src="/explore/embed/{{ b.url() }}?controls=false" width="460" height="300" frameborder="0"></iframe>
      {% endif %}
      <div class="list">
        <table class="striped condensed">
        {% for entry in stats.entries %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entry.attr.get_abbrv()|upper }}</td>
            <td><img {% if entry.attr.classification %}style="background-color: {{ entry.attr.color }}"{% endif %} src="{{ entry.attr.get_icon() }}" /> <a href="{{ entry.attr.get_profile_url() }}">{{ entry.attr.get_name() }}</a></td>
            <td>{{ entry.value|format_currency }}</td>
            <td>{{ entry.share|format_percent }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <a class="button" href="/explore/{{ b.url() }}">{{ _('Explore') }} <i class="fa fa-chevron-right"></i></a>
    </div>
  {% endfor %}

</div>
{% endblock %}

{% block js %}
<script>

  // Add color to rankings
  var color = d3.scale.linear()
    .domain([0, 128])
    .interpolate(d3.interpolateRgb)
    .range(["#00cc00", "#cc0000"])

  d3.select("span.rank")
    .style("background-color", function(d, i){
      return color(parseInt(this.innerHTML));
    })

  d3.json("/attr/country/", function(raw_attrs){

    var focus_id = "{{ attr.id }}"
    focus_id = focus_id == "eublx" ? "eubel" : focus_id

    // set key 'nest' to their id
    var attrs = {}

    raw_attrs = raw_attrs.data.filter(function(d){

      attrs[d.id] = d3plus.util.copy(d)
      if( d.id !== focus_id ){
        attrs[d.id]["color"] = "#ccc"
      }
      d.style = "default"

      return d.id.length !== 2

    })

    var country_selector = d3plus.form()
      .alt("keywords")
      .color("color")
      .container("#origin")
      .data(raw_attrs)
      .focus(focus_id.substr(2),function(d){
        if (d !== focus_id.substr(2)) {
          window.location = "/profile/country/"+d+"/"
        }
      })
      .font({
        "secondary":{ "size": 14 },
        "family": "'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'",
        "size": 26,
        "weight": "lighter",
        "spacing": 1,
        "align": "left"
      })
      .icon("icon")
      .id("display_id")
      .order("name")
      .text("name")
      .type("drop")
      .width(280)
      .draw()

    d3.json("/static/json/country_coords.json", function(raw_coords){

      raw_coords["objects"]["TM_WORLD_BORDERS-0.3"]["geometries"].forEach(function(d){
        country = raw_attrs.filter(function(dd){
          return dd.id.substr(2) == d.id.toLowerCase()
        })
        if (country.length) {
          d.id = country[0].id
        }
      })

      // instantiate d3plus
      var visualization = d3plus.viz()
        .attrs(attrs)
        .container("#viz")
        .coords(raw_coords)
        .coords({
          "center": [10,0],
          "padding": 0,
          "mute": ["anata"]
        })
        .color("color")
        .focus(focus_id)
        .height(280)
        .messages(true)
        .text("name")
        .tooltip("value")
        .type("geo_map")
        .width(280)
        .zoom({
          "scroll": false,
          "pan": false,
          "click": false
        })
        .draw()
    })
  })
</script>
{% endblock %}
