{% extends "templates/site.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.profile.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.table.css" />
{% endblock %}

{% block title %}: {{ _('%(country)s (%(country_abbrv)s) Profile of Exports, Imports and Trade Partners', country=attr.get_name(), country_abbrv=attr.get_display_id()|upper) }}{% endblock %}
{% block description %}{{ _('List of major leading exports, imports and complexity economic indicator statistics of %(country)s.', country=attr.get_name()) }} {{ _('Economy of %(country)s.', country=attr.get_name()) }} {{ _('Principle trade partners of %(country)s.', country=attr.get_name()) }} {{ _('Goods and resources of %(country)s.', country=attr.get_name()) }}{% endblock %}

{% block body %}
<h2>{{ _('Learn More About Trade in %(country)s', country=attr.get_name()) }}</h2>

<div class="content">
    
  <div class="col1_5">
    <p class="country_name"><img src="{{ attr.get_icon() }}" alt="{{ attr.get_name() }} icon">{{ attr.get_name() }}</p>
    {% set top_prods = attr.get_top(10) %}
    {% if attr.get_attr_yo().eci_rank %}
      <p class="eci_value">
        {% autoescape false %}
        {{ _('%(country)s %(ranked)s %(rank_val)s with an Economic Complexity Index (ECI) of %(eci)s', country=attr.get_name(), ranked='<a href="/rankings/country/">%s</a>' % (_('is ranked')), rank_val='<span class="rank">%s</span>' % (attr.get_attr_yo().eci_rank), eci=attr.get_attr_yo().eci) }}
        {% endautoescape %}
      </p>
    {% endif %}
    {% if top_prods %}
      <p class="eci_value">
        {{ _('%(country)s is the top exporter of', country=attr.get_name()) }}{% for yp in top_prods %} {% if loop.last and loop.length > 1 %}{{ _('and') }} {% endif %}<a href="{{ yp.product.get_profile_url() }}">{{ yp.product.get_name() }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
      </p>
    {% endif %}
  </div><div class="col2">
    <table class="striped">
      {% for b in builds %}
      {% set stats = b.top_stats(5) %}
      <tr>
        <th>{{ _('Top 5') }} {{ b.get_name() }}</th>
        <td>
          {% for entry in stats.entries %}
          {% if loop.last %}and {% endif %}<a href="{{ entry.attr.get_profile_url() }}">{{ entry.attr.get_name() }}</a> ({{ entry.share|format_percent }}){% if not loop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
      
  <br />
    
  {% for b in builds %}
    {% set stats = b.top_stats(20) %}
    <div class="build">
      <h3>{{ b.get_question() }}</h3>
      <iframe id="iframe_viz" src="/explore/embed/{{ b.url() }}?controls=false" width="460" height="300" frameborder="0"></iframe>
      <div class="list">
        <table class="striped condensed">
        {% for entry in stats.entries %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entry.attr.get_abbrv()|upper }}</td>
            <td><a href="{{ entry.attr.get_profile_url() }}">{{ entry.attr.get_name() }}</a></td>
            <td>{{ entry.value|format_currency }}</td>
            <td>{{ entry.share|format_percent }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <a class="button" href="/explore/{{ b.url() }}">{{ _('View as Visualization') }} »</a>
    </div>
  {% endfor %}


</div> 
{% endblock %}


{% block js %}
<script>
  // Add color to rankings
  var color = d3.scale.linear()
    .domain([0, 128])
    .interpolate(d3.interpolateRgb)
    .range(["#00cc00", "#cc0000"])

  d3.select("span.rank")
    .style("background-color", function(d, i){
      return color(parseInt(this.innerHTML));
    })
</script>
{% endblock %}