{% extends "templates/nav.html" %}

{% set title = profile.title() %}
{% block title %} - {{ title }}{% endblock %}

{% block body %}

<header class="profile_header">
  {% set image = profile.attr.get_image() %}
  {% if image %}
  <img class="header" src="{{ image }}"></img>
  {% endif %}
  <img class="icon" src="{{ profile.attr.get_icon() }}">
  <h1>
    {{ title }}
    {% if profile.attr.image_author %}
    <sub class="author"><a href="{{ profile.attr.image_link }}" target="_blank">
      <i class="fa fa-camera"></i>{{ _("Photo by") }} {{ profile.attr.image_author }}
    </a></sub>
    {% endif %}
  </h1>
</header>

{% set stats = profile.stats() %}
<section id="stats">
  {% if g.page_sub_type == "product" %}
  <div class="stat">
    <sub>{{ _("Exports") }}</sub>
    <h3>{% if "exports" in stats %}${{ stats['exports']|num_format }}{% else %}&mdash;{% endif %}</h3>
  </div>
  <div class="stat">
    <sub>{{ _("Imports") }}</sub>
    <h3>{% if "imports" in stats %}${{ stats['imports']|num_format }}{% else %}&mdash;{% endif %}</h3>
  </div>
  <div class="stat">
    <sub>{{ _("Product Complexity") }}</sub>
    <h3>{% if "pci" in stats and stats['pci'] %}{{ stats['pci']|num_format }}{% else %}&mdash;{% endif %}</h3>
  </div>
  <div class="stat">
    <sub>{{ _("Top Exporter") }}</sub>
    <h3>{% if "top_exporter" in stats %}{{ stats['top_exporter'][2:]|upper }}{% else %}&mdash;{% endif %}</h3>
  </div>
  <div class="stat">
    <sub>{{ _("Top Importer") }}</sub>
    <h3>{% if "top_importer" in stats %}{{ stats['top_importer'][2:]|upper }}{% else %}&mdash;{% endif %}</h3>
  </div>
  {% else %}
  <div class="stat">
    <sub>{{ _("Exports") }}</sub>
    <h3>{% if "export_val" in stats %}${{ stats['export_val']['val']|num_format }}{% else %}&mdash;{% endif %}</h3>
    {% if "export_val" in stats %}
    <sub>Rank: {{ stats['export_val']['rank'] }} of {{ stats['export_val']['total'] }}</sub>
    {% endif %}
  </div>
  <div class="stat">
    <sub>{{ _("Imports") }}</sub>
    <h3>{% if "import_val" in stats %}${{ stats['import_val']['val']|num_format }}{% else %}&mdash;{% endif %}</h3>
    {% if "import_val" in stats %}
    <sub>Rank: {{ stats['import_val']['rank'] }} of {{ stats['import_val']['total'] }}</sub>
    {% endif %}
  </div>
  <div class="stat">
    <sub>{{ _("Economic Complexity") }}</sub>
    <h3>{% if "eci" in stats %}{{ stats['eci']['val']|num_format }}{% else %}&mdash;{% endif %}</h3>
    {% if "eci" in stats %}
    <sub>Rank: {{ stats['eci']['rank'] }} of {{ stats['eci']['total'] }}</sub>
    {% endif %}
  </div>
  <div class="stat">
    <sub>{{ _("Population") }}</sub>
    <h3>{% if "population" in stats %}{{ stats['population']['val']|num_format }}{% else %}&mdash;{% endif %}</h3>
    {% if "population" in stats %}
    <sub>Rank: {{ stats['population']['rank'] }} of {{ stats['population']['total'] }}</sub>
    {% endif %}
  </div>
  <div class="stat">
    <sub>{{ _("GDP") }}</sub>
    <h3>{% if "gdp" in stats %}{{ stats['gdp']['val']|num_format }}{% else %}&mdash;{% endif %}</h3>
    {% if "gdp" in stats %}
    <sub>Rank: {{ stats['gdp']['rank'] }} of {{ stats['gdp']['total'] }}</sub>
    {% endif %}
  </div>

  {% endif %}
</section>

<section>

  <aside>
    {% if g.page_sub_type == "product" %}
    <ul class="heirarchy">
      {% for attr in profile.heirarchy() %}
      <li class="depth{{ attr.id|length }}{% if attr.id == profile.attr.id %} active{% endif %}">
        {% if attr.id|length != 2 %}
        <a href="{{ attr.get_profile_url() }}">
          {{ attr.get_display_id() }}. {{ attr.get_attr_name() }}
        </a>
        {% else %}
        {{ attr.get_attr_name() }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div id="topojson"></div>
    {% endif %}
  </aside>

  <content>
    <h2>{% trans %}Introduction{% endtrans %}</h2>
    {% for p in profile.intro() %}
      <p>{{ p|safe }}</p>
    {% endfor %}
  </content>

</section>

<script>var build_data = [];</script>
{% for section in profile.sections() %}
<section>
  <aside></aside>
  <content>
    <h2>{{ section.title }}</h2>
    {% if section.subtitle %}
    <p>{{ section.subtitle|safe }}</p>
    {% endif %}
  <content>
</section>
{% for build in section.builds %}
<section>
  <aside>
    <h2>{{ build.title }}</h2>
    {% if build.subtitle %}
    <p>{{ build.subtitle|safe }}</p>
    {% endif %}
  </aside>

  <content>
    {% if build.iframe %}
    <iframe class="viz" data-url="{{ build.iframe }}"></iframe>
    {% else %}
    <div class="viz" data-title="{{ build.title }}"></div>
    <script>build_data.push({{ build.build.serialize()|safe }});</script>
    {% endif %}
  </content>

</section>
{% endfor %}
{% endfor %}

<section>
  {% set prev = profile.attr.prev() %}
  {% if prev %}
  {% set image = prev.get_image() %}
  <a href="{{ prev.get_profile_url() }}" class="profile_header profile_button"{% if not image %} style="background-color: {{ prev.color }};"{% endif %}>
    {% if image %}
    <img class="header" src="{{ image }}"></img>
    {% endif %}
    <img class="icon" src="{{ prev.get_icon() }}">
    <h1>{{ prev.get_name() }}<sub><i class="fa fa-arrow-left"></i>{{ _("Previous Profile") }}</sub></h1>
  </a>
  {% endif %}

  {% set next = profile.attr.next() %}
  {% if next %}
  {% set image = next.get_image() %}
  <a href="{{ next.get_profile_url() }}" class="profile_header profile_button"{% if not image %} style="background-color: {{ prev.color }};"{% endif %}>
    {% if image %}
    <img class="header" src="{{ image }}"></img>
    {% endif %}
    <h1>{{ next.get_name() }}<sub>{{ _("Next Profile") }}<i class="fa fa-arrow-right"></i></sub></h1>
    <img class="icon" src="{{ next.get_icon() }}">
  </a>
  {% endif %}
</section>

<script>

  var palette = "{{ profile.palette()|safe }}",
      color;

  if (palette.length) {
    palette = JSON.parse(palette.replace(/'/g, '"'));
    color = analyze_palette(palette);
    if (!color) color = palette[1];
  }
  else {
    color = d3plus.color.legible("{{ profile.attr.color }}");
  }

  // If it's a country page, create the map!
  var map = d3.select("#topojson");
  if (!map.empty()) {

    load("/static/json/country_coords.json", function(coords){

      var key = d3.keys(coords.objects)[0],
          id = "{{ profile.attr.id }}",
          width = map.node().parentNode.offsetWidth,
          height = width;

      if (!coords.objects[key].lookup) {
        coords.objects[key].lookup = coords.objects[key].geometries.reduce(function(obj, d){
          obj[d.id] = d;
          return obj;
        }, {});
        coords.objects[key].lookup.all = coords.objects[key].geometries;
      }

      coords.objects[key].geometries = [coords.objects[key].lookup[id]];

      var svg = map.append("svg")
        .attr("width", width)
        .attr("height", height);

      var projection = d3.geo.mercator().scale(1).translate([0, 0]),
          path = d3.geo.path().projection(projection),
          country = topojson.feature(coords, coords.objects[key]).features[0];

      // List of countries to only take largest land mass.
      if (["nausa"].indexOf(id) >= 0) {

        var areas = [], test = d3plus.util.copy(country);
        country.geometry.coordinates.forEach(function(c, i){
          test.geometry.coordinates = [c];
          areas.push(path.area(test))
        })

        var maxArea = d3.max(areas);
        country.geometry.coordinates = country.geometry.coordinates.filter(function(c, i){
          return areas[i] >= maxArea;
        });

      }
      else {

        // Logic for removing small/far away geometries.
        var test = d3plus.util.copy(country),
            areas = [],
            areaMax = 0,
            distances = [],
            center = path.centroid(country);

        country.geometry.coordinates = country.geometry.coordinates.filter(function(c){

          test.geometry.coordinates = [c];
          var area = path.area(test);
          if (area > 0) {
            areas.push(area);
            if (area > areaMax) {
              areaMax = area;
            }
            distances.push(d3plus.network.distance(path.centroid(test), center))
            return true;
          }
          else {
            return false;
          }

        });

        var distanceCutoff = d3.quantile(distances.reduce(function(arr, dist, i) {
          if (dist) arr.push(areas[i]/dist);
          return arr;
        }, []), 0.9);

        country.geometry.coordinates = country.geometry.coordinates.filter(function(c, i){
          return distances[i] === 0 || areas[i]/distances[i] >= distanceCutoff;
        });

      }

      var b = path.bounds(country),
          zoom = 0.75,
          s = zoom / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
          t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

      coords.objects[key].geometries = coords.objects[key].lookup.all;
      var countries = topojson.feature(coords, coords.objects[key]);

      projection
        .scale(s)
        .translate(t);

      svg.attr("opacity", 0).append("rect")
        .attr("opacity", 0.1)
        .attr("fill", color)
        .attr("width", "100%")
        .attr("height", "100%");

      svg.append("rect")
        .attr("fill", "none")
        .attr("stroke", color)
        .attr("width", "100%")
        .attr("height", "100%");

      svg.selectAll("path").data(countries.features)
        .enter().append("path")
        .attr("d", path)
        .attr("fill", color)
        .attr("stroke", color)
        .attr("fill-opacity", function(d){
          return d.id === id ? 1 : 0.25;
        })
        .attr("stroke-opacity", function(d){
          return d.id === id ? 1 : 0.25;
        });

      svg.transition().duration(1000).attr("opacity", 1);


    });

  }

  var builds = [];
  d3.selectAll(".viz").each(function(d, i){
    builds.push({
      "container": d3.select(this),
      "height": this.offsetHeight,
      "index": i,
      "loaded": false,
      "timer": false,
      "top": this.offsetTop
    })
  })

  function buildInView(b) {
    var top = window.scrollY, height = window.innerHeight;
    return top+height > b.top+100 && top+100 < b.top+b.height;
  }

  function buildScroll(ms) {
    if (ms === undefined) ms = 500;
    for (var i = 0; i < builds.length; i++) {
      var b = builds[i];
      if (!b.timer && !b.loaded) {
        if (buildInView(b)) {
          b.timer = setTimeout(function(build){
            clearTimeout(build.timer);
            build.timer = false;
            if (buildInView(build)) {
              buildLoad(build)
            }
          }, ms, b)

        }
      }
    }
  }

  function buildLoad(build) {
    var url = build.container.attr("data-url");
    if (url) {
      build.container.attr("src", url);
    }
    else {
      visualization(build_data[build.index], build.container);
    }
    build.loaded = true;
  }

  buildScroll(0);

  scrollFunctions.push(buildScroll);

  var classification = "{{ g.page_sub_type }}";
  if (classification === "product") classification = "hs92";
  d3.select("header").on("click", function(){
    search(classification);
  })

  // Demo Mode
  // setTimeout(function(){
  //   var s = 0;
  //   var scroller = setInterval(function(){
  //     window.scrollTo(0, s);
  //     s++;
  //     if (s === 4000) {
  //       clearInterval(scroller);
  //       window.location = "/en/profile/country/";
  //     };
  //   }, 25);
  // }, 7000);

</script>
{% endblock %}
