{% extends "templates/nav.html" %}

{% block body %}

<header>
  <img id="header" src="{{ profile.attr.get_image() }}"></img>
  <img id="icon" src="{{ profile.attr.get_icon() }}">
  <h1>{{ profile.title() }}</h1>
</header>

<section id="stats">
  <div class="stat">
    <sub>Exports</sub>
    <h3>$4.5B</h3>
  </div>
  <div class="stat">
    <sub>Imports</sub>
    <h3>$3.7T</h3>
  </div>
  <div class="stat">
    <sub>ECI</sub>
    <h3>1.34</h3>
  </div>
  <div class="stat">
    <sub>Population</sub>
    <h3>4.3M</h3>
  </div>
  <div class="stat">
    <sub>GDP</sub>
    <h3>$25k</h3>
  </div>
</section>

<section>

  <aside>
    <div class="viz"></div>
  </aside>

  <content>
    <h2>Introduction</h2>
    <p>
      Here's some paragraph text that explains some stuff. It will have numbers and figures related to the country.
    </p>
  </content>

</section>

<section>
  <aside>
    <h2>Trade Balance</h2>
    <p>
      Here's some paragraph text that explains some stuff.
    </p>
  </aside>

  <content>
    <div class="viz"></div>
  </content>

</section>

<script>
  var palette = JSON.parse("{{ profile.palette()|safe }}".replace(/'/g, '"')),
      color;
  for (var p = 0; p < palette.length; p++) {
    var c = d3.hsl(palette[p]);
    if (c.l > 0.5) {
      color = d3plus.color.legible(palette[p]);
      break;
    }
  }
  if (!color) color = palette[1];
</script>
{% endblock %}
