{% extends "templates/site.html" %}

{% block head %}
    {% if prev  %}
    <link rel="prev" href="{{ prev.get_profile_url() }}" />
    {% endif %}
    {% if next  %}
    <link rel="next" href="{{ next.get_profile_url() }}" />
    {% endif %}
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.profile.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.table.css" />
{% endblock %}

{% block title %}: {{ _('%(prod)s (%(prod_abbrv)s) Profile of Export Destinations and Import Origins', prod=attr.get_name(), prod_abbrv=attr.get_display_id()) }}{% endblock %}
{% block description %}{{ _('List of major leading origin and destination countries with economic indicator statistics of %(prod)s.', prod=attr.get_name()) }} {{ _('Principle trade partners that export %(prod)s.', prod=attr.get_name()) }} {{ _('Countries that import %(prod)s.', prod=attr.get_name()) }}{% endblock %}

{% block body %}
<div class="title">
  {% if prev %}
  <a class="prev" href="{{ prev.get_profile_url() }}">&laquo; {{ _('Previous') }} {{ _('Product') }}</a>
  {% endif %}
  <h2>{{ _('Learn More About Trade of <strong>%(prod)s</strong>', prod=attr.get_name()) }}</h2>
  {% if next %}
  <a class="next" href="{{ next.get_profile_url() }}">{{ _('Next') }} {{ _('Product') }} &raquo;</a>
  {% endif %}
</div>

<div class="content">

  <div class="col1_5">
    <div class="dropdown_container" id="product">
    </div>
    <div id="viz"></div>
  </div><div class="col2">
    <table class="striped">
      {% for b in builds %}
      {% set stats = b.top_stats(5) %}
      <tr>
        <th>{{ _('Top 5') }} {{ b.get_name()|safe }}</th>
        <td>
          {% for entry in stats.entries %}
          {% if loop.last %}and {% endif %}<a href="{{ entry.attr.get_profile_url() }}">{{ entry.attr.get_name() }}</a> ({{ entry.share|format_percent }}){% if not loop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% set top_countries = attr.get_top(10) %}
    {% if attr.get_yp().pci_rank %}
      <p class="eci_value">
        {% autoescape false %}
        {{ _('%(prod)s (%(classification)s: %(prod_abbrv)s) %(ranked)s %(rank_val)s with a Product Complexity Index (PCI) of %(pci)s', prod=attr.get_name(), classification=attr.classification|upper, prod_abbrv=attr.get_display_id(), ranked='<a href="/rankings/%s/">%s</a>' % (classification, _('is ranked')), rank_val='<span class="rank">%s</span>' % (attr.get_yp().pci_rank), pci=attr.get_yp().pci) }}
        {% endautoescape %}
      </p>
    {% endif %}
    {% if top_countries %}
      <p class="eci_value">
        {{ _('%(prod)s is the top export of', prod=attr.get_name()) }}{% for yo in top_countries %} {% if loop.last and loop.length > 1 %}{{ _('and') }} {% endif %}<a href="{{ yo.country.get_profile_url() }}">{{ yo.country.get_name() }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
      </p>
    {% endif %}
    {% if attr.get_keywords() %}
      <p class="keywords">
        <i class="fa fa-tags"></i> {{ attr.get_keywords() }}
      </p>
    {% endif %}
  </div>

  <br />

  {% for b in builds %}
    {% set stats = b.top_stats(20) %}
    <div class="build">
      <h3>{{ b.get_question()|safe }}</h3>
      {% if not is_iOS %}
      <iframe id="iframe_viz" src="/explore/embed/{{ b.url() }}?controls=false" width="460" height="300" frameborder="0"></iframe>
      {% endif %}
      <div class="list">
        <table class="striped condensed">
        {% for entry in stats.entries %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entry.attr.get_abbrv()|upper }}</td>
            <td><img src="{{ entry.attr.get_icon() }}" /> <a href="{{ entry.attr.get_profile_url() }}">{{ entry.attr.get_name() }}</a></td>
            <td>{{ entry.value|format_currency }}</td>
            <td>{{ entry.share|format_percent }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <a class="button" href="/explore/{{ b.url() }}">{{ _('Explore') }} <i class="fa fa-chevron-right"></i></a>
    </div>
  {% endfor %}

</div>
{% endblock %}

{% block js %}
<script>

  // Add color to rankings
  var color = d3.scale.linear()
    .domain([0, 1240])
    .interpolate(d3.interpolateRgb)
    .range(["#00cc00", "#cc0000"])

  d3.select("span.rank")
    .style("background-color", function(d, i){
      return color(parseInt(this.innerHTML));
    })

  d3.json("/attr/{{ attr.classification }}/", function(raw_attrs){

    var attrs = {}
      , focus_id = "{{ attr.id }}"

    // set key 'nest' to their id
    raw_attrs = raw_attrs.data.filter(function(d){
      d.style = "knockout"
      if("{{ attr.classification }}" == "hs"){
        d["icon"] = "/static/img/icons/hs/hs_"+d.id.substr(0, 2)+".png"
      }
      else {
        d["icon"] = "/static/img/icons/sitc/sitc_"+d.id.substr(0, 2)+".png"
      }
      attrs[d.id] = d
      return d.id.length !== 2
    })

    var product_selector = d3plus.form()
      .alt("keywords")
      .color("color")
      .container("#product")
      .data(raw_attrs)
      .focus(focus_id.substr(2),function(d){
        if (d !== focus_id.substr(2)) {
          window.location = "/profile/{{ attr.classification }}/"+d+"/"
        }
      })
      .font({
        "secondary":{ "size": 14 },
        "family": "'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'",
        "size": 26,
        "weight": "lighter",
        "spacing": 1,
        "align": "left"
      })
      .icon("icon")
      .id("display_id")
      .order("name")
      .text("name")
      .type("drop")
      .ui({"margin": 0})
      .width(280)
      .draw()

    d3.json("/static/json/network_{{ attr.classification }}.json", function(raw_network){

      var visualization = d3plus.viz()
          .attrs(attrs)
          .icon({"style":"knockout"})
          .color("color")
          .text("name")
          .container("#viz")
          .type("rings")
          .edges(raw_network.edges)
          .focus("{{ attr.id }}")
          .width(280)
          .height(280)
          .time("year")
          .draw()

    })
  })
</script>
{% endblock %}
