html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top; }

  blockquote, q {
    quotes: none; }

    blockquote:before, blockquote:after, q:before, q:after {
      content: '';
      content: none; }

      table {
        border-collapse: collapse;
        border-spacing: 0; }

        a {
          outline: 0; }
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'),
    url('./fonts/Lora-Regular.ttf') format('opentype'); }

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora Bold'), local('Lora-Bold'),
        url('./fonts/Lora-Bold.ttf') format('opentype'); }

    @font-face {
      font-family: 'Lora';
      font-style: italic;
      font-weight: 400;
      src: local('Lora Italic'), local('Lora-Italic'),
            url('./fonts/Lora-Italic.ttf') format('opentype'); }

      @font-face {
        font-family: 'Lora';
        font-style: italic;
        font-weight: 700;
        src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
                url('./fonts/Lora-BoldItalic.ttf') format('opentype'); }
body {
  background-color: #eee;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  body.open {
    overflow: hidden; }

h2 {
  font-size: 30px; }

  h3 {
    font-size: 20px; }

    h4 {
      color: #878787;
      font-family: "Lora", "Times", serif;
      font-size: 17px;
      font-weight: 400;
      margin: 2px 0 5px; }

      p {
        font-family: "Lora", "Times", serif;
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0 20px; }
        p:last-child {
          margin-bottom: 0; }
          p sup {
            display: inline-block;
            margin-left: 2px;
            margin-top: -5px; }

table {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: 20px;
  width: 100%; }
  table tr {
    border-bottom: 1px solid #ddd;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
    table tr:last-child {
      border-bottom: none; }
      table tr th, table tr td {
        font-size: 15px;
        line-height: 20px;
        padding: 10px; }
        table tr th {
          text-align: left; }

ol {
  font-family: "Lora", "Times", serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 35px;
  padding: 10px 0 20px; }
  ol li {
    padding: 5px 0; }

pre {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  background-color: #444;
  color: #eee;
  margin: 10px 0 20px;
  overflow-x: scroll;
  padding: 20px 0;
  width: 100%; }

  blockquote {
    font-family: "Lora", "Times", serif;
    font-style: italic;
    padding: 0px 30px;
    margin-bottom: 20px; }
    blockquote p {
      font-size: 13px;
      line-height: 15px;
      margin-top: 5px;
      text-align: right; }
#server_message {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #0085BF;
  color: white;
  font-size: 13px;
  position: fixed;
  left: 0;
  padding: 10px 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000; }
  #server_message .close_message {
    cursor: pointer;
    position: absolute;
    right: 11px;
    top: 11px; }

nav {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.1s;
  -moz-transition: left 0.1s;
  -o-transition: left 0.1s;
  transition: left 0.1s;
  background-color: #fff;
  color: #868686;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  text-align: center;
  top: 0;
  width: 250px;
  -webkit-transform: translateZ(0);
  z-index: 100; }
  @media all and (max-width: 1024px) {
    nav {
      left: -250px;   }
}
    nav.open {
      left: 0; }
      nav content {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        min-height: 100vh; }
        nav content #logo {
          display: block;
          height: 34px;
          margin: 30px auto;
          width: 104px; }
          nav content #logo img {
            height: 35px;
            width: 104px; }
        nav content #search_button {
          -webkit-transition: opacity 0.1s;
          -moz-transition: opacity 0.1s;
          -o-transition: opacity 0.1s;
          transition: opacity 0.1s;
          display: block;
          margin: 0 30px 15px;
          opacity: 0.75;
          padding: 6px 0;
          text-align: center; }
          nav content #search_button .fa-search {
            margin-right: 5px; }
            nav content #search_button:hover {
              cursor: pointer;
              opacity: 1; }
        nav content > ul {
          padding-left: 15px; }
          nav content ul {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: left; }
            nav content ul li {
              background-color: #fff;
              cursor: pointer;
              display: block;
              font-weight: 700;
              overflow-y: hidden;
              padding: 15px 30px; }
              nav content ul li a {
                color: #868686;
                display: block;
                text-decoration: none; }
                nav content ul li a.active {
                  color: black !important; }
              nav content ul li:hover, nav content ul li a:hover {
                color: black !important; }
                nav content ul li.clicker {
                  position: relative; }
                  nav content ul li.clicker:before {
                    -webkit-transition: transform 0.1s, margin-top 0.1s;
                    -moz-transition: transform 0.1s, margin-top 0.1s;
                    -o-transition: transform 0.1s, margin-top 0.1s;
                    transition: transform 0.1s, margin-top 0.1s;
                    content: "\f105";
                    display: block;
                    font-family: "FontAwesome";
                    font-size: 16px;
                    left: 18px;
                    margin-top: 0;
                    opacity: 0.5;
                    position: absolute;
                    top: 16px; }
                    nav content ul li.clicker.open:before {
                      -webkit-transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
                      margin-top: 1px; }
            nav content ul .accordion {
              overflow: hidden; }
              nav content ul .accordion li {
                font-weight: 400;
                padding: 10px 30px 10px 45px; }
                nav content ul .accordion li a {
                  color: #868686;
                  text-decoration: none; }
                  nav content ul .accordion li a:hover {
                    color: black; }
                nav content ul .accordion li:before {
                  left: 33px;
                  top: 11px; }
                  nav content ul .accordion li:first-child {
                    padding-top: 0px; }
                    nav content ul .accordion li:first-child:before {
                      top: 1px; }
              nav content ul .accordion .sub_menu {
                padding: 0 0 10px 55px; }
                nav content ul .accordion .sub_menu h5 {
                  color: #aaa;
                  font-weight: 400;
                  margin-bottom: 2px; }
                  nav content ul .accordion .sub_menu li {
                    font-size: 12px;
                    padding: 3px 5px; }
                    nav content ul .accordion .sub_menu li.active {
                      background-color: #aaa;
                      color: white;
                      position: relative; }
                      nav content ul .accordion .sub_menu li.active a {
                        color: white !important; }
  nav #nav_footer {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    font-size: 11px;
    font-weight: 700;
    margin: 20px auto; }
    nav #nav_footer a {
      color: #868686;
      text-decoration: none; }
      nav #nav_footer #mc {
        display: block; }
body.home #hamburger {
  color: #0085BF; }
  body.home #container {
    margin-top: 0; }
    body.home #container content {
      text-align: center; }
      body.home #container content #big_logo {
        max-width: 800px;
        width: 90%; }
        body.home #container content p {
          margin: 50px auto;
          max-width: 700px; }
          body.home #container content #macro, body.home #container content #d3plus {
            display: inline-block;
            text-align: left; }
            body.home #container content #macro .link,
            body.home #container content #d3plus .link {
              color: #333;
              display: inline-block;
              font-size: 13px;
              margin: 10px 20px 10px 0;
              width: 130px; }
              body.home #container content #macro .link:hover,
              body.home #container content #d3plus .link:hover {
                border-bottom: 0; }
                body.home #container content #macro .link:hover img,
                body.home #container content #d3plus .link:hover img {
                  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
              body.home #container content #macro .link img,
              body.home #container content #d3plus .link img {
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                display: block;
                margin-bottom: 10px; }
#search {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 2000; }
  #search.visible {
    opacity: 1; }
    #search #search_close {
      -webkit-transition: opacity 0.1s;
      -moz-transition: opacity 0.1s;
      -o-transition: opacity 0.1s;
      transition: opacity 0.1s;
      color: #0085BF;
      font-size: 40px;
      font-weight: 100;
      opacity: 0.8;
      position: absolute;
      right: 30px;
      text-align: center;
      top: 20px;
      width: 40px; }
      #search #search_close:hover {
        border: 0;
        cursor: pointer;
        opacity: 1; }
  #search #search_div {
    height: 15vh;
    margin: 5vh auto;
    position: relative;
    text-align: center; }
    #search #search_div i {
      color: #0085BF;
      font-size: 3vh;
      left: 1vh;
      position: absolute;
      top: 1vh; }
      #search #search_div #search_input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #0085BF;
        display: inline-block;
        font-size: 3vh;
        height: 5vh;
        margin-bottom: 5px;
        padding-left: 5vh;
        width: auto; }
        #search #search_div #search_input:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          outline: none; }
  #search #search_results {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    overflow: scroll;
    height: 75vh;
    width: 90%; }
    #search #search_results h1 {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      #search #search_results .result {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        margin: 25px;
        height: 150px;
        min-width: 250px;
        max-width: 500px;
        overflow: hidden;
        position: relative;
        text-align: left;
        z-index: 0; }
        #search #search_results .result .background {
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1; }
          #search #search_results .result .icon {
            margin: 0 15px;
            max-height: 40px;
            max-width: 40px;
            min-height: 40px;
            min-width: 40px;
            z-index: 2;
            -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); }
            #search #search_results .result h1 {
              color: white;
              font-size: 22px;
              margin-right: 15px;
              text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
              z-index: 2; }
              #search #search_results .result:hover {
                -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                border-bottom: none; }
    #search #search_results .search_group {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0 10px;
      text-align: center; }
      #search #search_results .search_group .result {
        margin: 25px auto; }
#container {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-transition: margin-left 0.1s;
  -moz-transition: margin-left 0.1s;
  -o-transition: margin-left 0.1s;
  transition: margin-left 0.1s;
  margin-left: 250px;
  margin-top: 150px; }
  @media all and (max-width: 1024px) {
    #container {
      margin-left: 0;   }
}
    #container a {
      -webkit-transition: border-bottom 0.1s;
      -moz-transition: border-bottom 0.1s;
      -o-transition: border-bottom 0.1s;
      transition: border-bottom 0.1s;
      color: #0085BF;
      text-decoration: none; }
      #container a:hover {
        border-bottom: 1px solid #0085BF; }
  #container #content {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #container #content header {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      height: 150px;
      left: 250px;
      padding: 0 50px;
      position: fixed;
      right: 0;
      top: 0; }
      @media all and (max-width: 1024px) {
        #container #content header {
          left: 0;   }
}
        @media all and (max-width: 768px) {
          #container #content header {
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;   }
}
          #container #content header h1 {
            color: #fff;
            font-size: 50px;
            position: relative;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
            width: 100%; }
            @media all and (max-width: 768px) {
              #container #content header h1 {
                font-size: 35px;
                text-align: center;   }
}
      #container #content header .header {
        -webkit-transition: -webkit-filter 1s;
        left: 50%;
        top: 50%;
        -webkit-filter: blur(50px) contrast(1.1) brightness(0); }
    #container #content section {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      #container #content section h4 {
        margin: 10px 0; }
        #container #content section aside {
          margin: 50px 0 0 50px;
          width: 250px; }
          #container #content section aside img {
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
            width: 100%; }
            #container #content section aside #topojson {
              display: block;
              height: 250px;
              margin-top: 10px;
              width: 100%; }
              @media all and (max-width: 768px) {
                #container #content section aside {
                  margin: 20px 20px 0 20px;
                  width: auto;   }
}
      #container #content section content {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: 50px 50px 0 50px; }
        @media all and (max-width: 768px) {
          #container #content section content {
            margin: 20px 20px 0 20px;   }
}
          #container #content section content ul {
            margin: 20px 0; }
            #container #content section content ul li {
              margin-left: 30px;
              padding: 5px 0; }
        #container #content section content .viz {
          display: block;
          height: 450px;
          margin-top: 10px;
          width: 100%; }
  #container footer {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-transition: margin-left 0.1s;
    -moz-transition: margin-left 0.1s;
    -o-transition: margin-left 0.1s;
    transition: margin-left 0.1s;
    font-family: "Lora", "Times", serif;
    font-size: 11px;
    line-height: 18px;
    padding: 20px 50px;
    margin-top: 20px;
    text-align: center; }
    @media all and (max-width: 768px) {
      #container footer {
        padding: 20px;   }
}
      #container footer div {
        margin: 0 auto;
        max-width: 650px; }
        #container footer ul {
          margin-top: 10px;
          text-align: center; }
          #container footer ul li {
            display: inline-block;
            margin: 1px 5px; }
#hamburger {
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  color: #fff;
  cursor: pointer;
  font-size: 19px;
  height: 20px;
  left: 7px;
  margin: 10px;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 20px;
  z-index: 8; }
  @media all and (max-width: 1024px) {
    #hamburger {
      opacity: 0.75;
      visibility: visible;   }
}
    #hamburger:hover {
      opacity: 1; }

#mask {
  background-color: #000;
  bottom: 0;
  cursor: pointer;
  display: none;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10; }
  @media all and (max-width: 1024px) {
    #mask.open {
      display: block;   }
}
#container #content .profile_header {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
  height: 150px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  z-index: 5; }
  #container #content .profile_header .header {
    position: absolute;
    z-index: -1; }
    #container #content .profile_header .icon {
      -webkit-box-flex: none;
      -moz-box-flex: none;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
      height: 80px;
      margin: 0 20px 0 0;
      width: 80px;
      -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5)); }
      @media all and (max-width: 768px) {
        #container #content .profile_header .icon {
          margin: 0;   }
}
  #container #content .profile_header:hover {
    cursor: pointer; }
    #container #content .profile_header:hover .author {
      opacity: 1; }
  #container #content .profile_header h1 {
    color: #fff;
    position: relative;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    width: 100%; }
    #container #content .profile_header h1 i {
      opacity: 0.5; }
    #container #content .profile_header h1 sub {
      color: white;
      display: block;
      font-size: 11px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
      #container #content .profile_header h1 sub.author {
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        bottom: -15px;
        opacity: 0;
        position: absolute; }
        @media all and (max-width: 768px) {
          #container #content .profile_header h1 sub.author {
            position: static;   }
}
      #container #content .profile_header h1 sub i {
        display: inline-block;
        margin: 2px 5px 0; }
        #container #content .profile_header h1 sub a {
          color: white; }
          #container #content .profile_header h1 sub a:hover {
            border-color: transparent; }
#container #content section p img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin: 10px 0 0 0;
  width: 100%; }
  #container #content section .profile_button {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: black;
    margin-top: 50px; }
    #container #content section .profile_button .header {
      height: 110%;
      margin-left: -5px;
      margin-top: -5px;
      position: absolute;
      width: 110%;
      z-index: -1;
      -webkit-filter: blur(3px) contrast(1.1) brightness(0.8); }
      #container #content section .profile_button .icon {
        margin: 0 25px; }
        #container #content section .profile_button h1 {
          font-size: 25px; }
          #container #content section .profile_button:first-child {
            margin-right: 1px; }
            #container #content section .profile_button:last-child {
              margin-left: 1px;
              text-align: right; }
#container #content section#stats {
  margin-bottom: -35px;
  padding: 6px 0 7px; }
  @media all and (max-width: 768px) {
    #container #content section {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;   }
      #container #content section#stats {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;   }
}
#container #content section .stat {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  margin: 0;
  max-width: 150px;
  padding: 0 10px;
  text-align: center; }
  #container #content section .stat:last-child {
    border-right: none; }
    #container #content section .stat h3 {
      font-size: 20px;
      font-weight: 200; }
      @media all and (max-width: 768px) {
        #container #content section .stat h3 {
          font-size: 16px;   }
}
  #container #content section .stat sub {
    font-size: 14px;
    font-weight: 200; }
    @media all and (max-width: 768px) {
      #container #content section .stat sub {
        font-size: 11px;   }
}

ul.heirarchy {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  list-style-type: none; }
  ul.heirarchy li {
    padding: 3px 0; }
    ul.heirarchy .active {
      font-weight: 700; }
      ul.heirarchy .depth2 {
        font-weight: 700;
        list-style-type: none; }
        ul.heirarchy .depth6 {
          margin-left: 10px; }
          ul.heirarchy .depth8 {
            margin-left: 20px; }
body.explore #container {
  margin-top: 0; }
  body.explore #hamburger {
    color: #0085BF; }

@-webkit-keyframes blink {
  0% {
    background-color: #0085BF;   }
    50% {
      background-color: #00a9f2;   }
      100% {
        background-color: #0085BF;   }
}

#explorer {
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  -o-transition: padding 0.5s;
  transition: padding 0.5s;
  padding: 20px 50px 10px;
  position: relative;
  text-align: center; }
  #explorer h1 {
    -webkit-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
    padding: 0 100px; }
    #explorer #collapse {
      -webkit-transition: transform 0.5s, opacity 0.1s;
      -moz-transition: transform 0.5s, opacity 0.1s;
      -o-transition: transform 0.5s, opacity 0.1s;
      transition: transform 0.5s, opacity 0.1s;
      cursor: pointer;
      font-size: 19px;
      height: 19px;
      margin: 10px;
      opacity: 0.75;
      position: absolute;
      right: 4px;
      text-align: center;
      top: 0;
      width: 16px; }
      #explorer #collapse:hover {
        border-bottom: none;
        opacity: 1; }
  #explorer #prev, #explorer #next {
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
    font-size: 12px;
    position: absolute;
    top: 34px; }
    #explorer #prev {
      left: 50px; }
      #explorer #next {
        right: 50px; }
        #explorer #changers {
          display: block;
          margin-top: 10px; }
          #explorer #changers .dropdown_container {
            display: inline-block; }
            #explorer #changers #build {
              -webkit-transition: background-color 0.5s;
              -moz-transition: background-color 0.5s;
              -o-transition: background-color 0.5s;
              transition: background-color 0.5s;
              border: none;
              background-color: #cccccc;
              color: white;
              cursor: pointer;
              font-size: 12px;
              height: 25px;
              margin: 6px 0;
              padding: 5;
              position: relative; }
              #explorer #changers #build.active {
                -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
                -webkit-animation: 2s blink infinite;
                -moz-animation: 2s blink infinite;
                background-color: #0085BF; }
  #explorer.small {
    padding: 10px 0 5px; }
    #explorer.small h1 {
      font-size: 16px; }
      #explorer.small #next, #explorer.small #prev {
        top: 14px; }
        #explorer.small #collapse {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
          #explorer.small #changers {
            display: none; }

iframe.viz {
  margin: 5px 15px 0; }

  .d3plus_tooltip_html h3 {
    font-size: 24px;
    margin: 0 0 10px 0; }

    .d3plus_tooltip_html a.related:before {
      background-image: url("http://dataviva.info/static/img/icons/app/app_tree_map_black.png");
      font-size: 12px;
      line-height: 27px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 80%;
      content: "";
      display: block;
      height: 100%;
      left: 0px;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 0px;
      width: 38px; }

      .d3plus_tooltip_html a.related {
        display: block;
        margin: 10px 0 0 0;
        padding: 6px 24px 6px 40px;
        color: #888;
        display: block;
        opacity: 0.9;
        position: relative;
        text-align: left;
        text-decoration: none;
        font-size: 18px;
        line-height: 28px;
        margin: 0px 0px 6px 0px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); }

        .d3plus_tooltip_html a.related:hover {
          opacity: 1; }

          .d3plus_tooltip_html a.related:after, .d3plus_tooltip_html a.profile:after {
            bottom: 8px;
            content: "\f105";
            display: block;
            font-family: FontAwesome;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            position: absolute;
            right: 12px;
            text-decoration: inherit; }

            .d3plus_tooltip_html hr {
              margin: 20px 40px;
              padding: 0;
              border: solid #ccc 1px;
              height: 1px;
              display: block; }

              .d3plus_tooltip_html a.profile {
                display: block;
                margin: 10px 0 0 0;
                color: #888;
                display: block;
                opacity: 0.9;
                padding: 6px;
                position: relative;
                text-align: left;
                text-decoration: none;
                font-size: 18px;
                line-height: 29px;
                margin: 0px 0px 6px 0px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
                background-color: #330000; }

                .d3plus_tooltip_html a.profile img {
                  width: 30px;
                  margin: 0 10px 0 0; }
body.rankings #container {
  margin-top: 0; }
  body.rankings #container content {
    margin-top: 10px !important; }
    body.rankings #container content .Rank {
      font-weight: bold;
      text-align: center;
      width: 40px; }
      body.rankings #container content .Delta {
        text-align: center;
        width: 50px; }
        body.rankings #container content .Delta .fa {
          font-size: 13px; }
          body.rankings #container content .Delta .fa-arrow-up {
            color: #00cc00; }
            body.rankings #container content .Delta .fa-arrow-down {
              color: #cc0000; }
    body.rankings #container content .ID {
      width: 50px; }
      body.rankings #container content .Country img,
      body.rankings #container content .Product img {
        margin-right: 5px;
        width: 20px; }
    body.rankings #container content .ECI, body.rankings #container content .PCI {
      width: 50px; }
body.rankings #hamburger {
  color: #0085BF; }
  body.rankings .download {
    background-color: white;
    border: 1px solid #c3c3c3;
    color: #444 !important;
    display: inline-block;
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding: 6px; }
    body.rankings .download:hover {
      border-color: #c3c3c3; }
      body.rankings .download i {
        margin-right: 2px;
        margin-top: 1px; }
body.rankings .change_dataset {
  margin-bottom: 15px; }
  body.rankings .change_dataset .active {
    color: #333 !important;
    display: inline-block;
    font-weight: bold;
    margin-top: -1px; }
    body.rankings .change_dataset .active:hover {
      border-color: #333 !important; }
.member {
  margin: 30px 0 40px;
  min-height: 150px;
  padding-left: 180px;
  padding-top: 0;
  position: relative; }
  .member:before {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    background-color: #0085BF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 138px;
    content: "";
    display: block;
    height: 150px;
    margin-left: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px; }
    @media all and (max-width: 500px) {
      .member {
        padding-left: 0;
        padding-top: 180px;   }
        .member:before {
          margin-left: -75px;
          left: 50%;   }
}
  .member h3 a {
    -webkit-transition: text-shadow 0.1s;
    -moz-transition: text-shadow 0.1s;
    -o-transition: text-shadow 0.1s;
    transition: text-shadow 0.1s;
    font-size: 24px;
    margin-left: 5px; }
    .member h3 a:hover {
      border: 0 !important;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }

#past {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  #past .member {
    margin: 30px 0 0;
    max-width: 50%;
    min-height: 100px;
    padding-left: 130px;
    padding-right: 15px; }
    #past .member:before {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background-size: 88px;
      height: 100px;
      left: 15px;
      width: 100px; }
      @media all and (max-width: 768px) and (max-width: 500px) {
        #past .member {
          max-width: 100%;
          padding-left: 115px;
          padding-right: 0;
          padding-top: 0;   }
          #past .member:before {
            left: 0;
            margin-left: 0;   }
}

#alexander_simoes:before {
  background-image: url("/static/img/about/alexander_simoes.png"); }

#dave_landry:before {
  background-image: url("/static/img/about/dave_landry.png"); }

#cesar_hidalgo:before {
  background-image: url("/static/img/about/cesar_hidalgo.png"); }

#eric_franco:before {
  background-image: url("/static/img/about/eric_franco.png"); }

#crystal_noel:before {
  background-image: url("/static/img/about/crystal_noel.png"); }

#ali_almossawi:before {
  background-image: url("/static/img/about/ali_almossawi.png"); }

#sarah_chung:before {
  background-image: url("/static/img/about/sarah_chung.png"); }
.book {
  margin-left: 10%;
  width: 80% !important; }
code {
  background-color: #f9f2f4;
  color: #c7254e;
  display: inline-block;
  font-size: 12px;
  margin-top: -2px;
  padding: 2px 4px;
  white-space: nowrap; }

  td.code {
    width: 120px; }
#share a.share_button {
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  color: #0085BF;
  display: inline-block;
  margin: 10px 20px 0 0;
  opacity: 0.8;
  text-align: center;
  width: 20px; }
  #share a.share_button:hover {
    opacity: 1; }
#share i {
  display: inline-block;
  font-size: 20px; }

#short {
  display: none; }

  .btn-close {
    color: #aaaaaa;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 2px; }
    .btn-close:hover {
      color: #919191; }

.modal#download .modal-body {
  text-align: center; }
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }
  .modal .modal-dialog {
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    top: -100%;
    width: 360px;
    z-index: 11;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
    .modal.active:before {
      display: block; }
      .modal.active .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        top: 20%; }

.modal-header {
  padding: 10px 20px 0 20px; }
  .modal-header h2 {
    color: #0085BF; }

.modal-body {
  padding: 10px 20px 20px 20px; }
  .modal-body h3 {
    font-size: 16px;
    margin: 10px 0 5px 0; }
    .modal-body h3:first-child {
      margin: 0; }
  .modal-body input {
    border: solid 1px #ececec;
    color: #888;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 5px 0;
    overflow: hidden;
    padding: 3px;
    width: 100%; }
    .modal-body input:focus {
      color: #444;
      outline: 0; }
  .modal-body .download_button {
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
    color: black;
    display: inline-block;
    font-size: 20px;
    margin: 20px 20px 10px 16px;
    opacity: 0.8;
    text-decoration: none; }
    .modal-body .download_button:hover {
      opacity: 1; }
