div#cover {
  background-image: url("/static/img/atlas/atlas_cover.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #444;
  float: left;
  margin-bottom: 40px;
  margin-right: 50px;
  margin-top: 20px;
  height: 408px;
  width: 350px;
}

blockquote {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 80px 40px;
}
blockquote p {
  margin-top: 5px;
  text-align: right;
}

div#license {
  color: #888;
  display: block;
  font-size: 10px;
  margin: 10px auto;
  width: 300px;
}

div#license img {
  display: block;
  margin: 10px auto;
}
