p {
  line-height: 150%;
}
section a {
  color: #0088cc !important;
  text-decoration: underline !important;
}
hr {
  margin: 20px 0 80px 0;
}
ol {
  list-style: decimal !important;
  list-style-position:inside;
}
li.L0, .li.L1, .li.L2, .li.L3, li.L5, .li.L6, .li.L7, .li.L8 { 
  list-style-type: decimal !important 
}
ol.linenums {
margin: 0 0 0 33px;
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8 !important;
}
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}


section {
  margin: 0 0 60px 0;
}
section h3 {
  margin: 20px 0 5px 0;
}
.content input {
  width: 300px;
}





/*!
 * Bootstrap v3.0.3 (http://getbootstrap.com)
 * Copyright 2013 Twitter,
.Inc.
 * Licensed under http://www.apache.org/licenses/LICENSE-2.0
 */

table {
  border-collapse: collapse;
  border-spacing: 0
}
pre, .blockquote {
  border: 1px solid #999;
  page-break-inside: avoid
}
thead {
  display: table-header-group
}
tr, img {
  page-break-inside: avoid
}
img {
  max-width: 100%!important
}
.table td,
.table th {
/*  background-color: #fff!important*/
}
.table {
  border-collapse: collapse!important
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd!important
}


code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll
}

table {
  max-width: 100%;
  background-color: transparent
}
th {
  text-align: left
}
.table {
  width: 100%;
  margin-bottom: 20px
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd
}
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd
}
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
  border-top: 0
}
.table>tbody+tbody {
  border-top: 2px solid #ddd
}
.table .table {
  background-color: #fff
}
.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
  padding: 5px
}
.table-bordered {
  border: 1px solid #ddd
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 1px solid #ddd
}
.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
  border-bottom-width: 2px
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
]background-color: #f5f5f5
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none
}
table td[class*="col-"],
.able th[class*="col-"] {
display: table-cell;
float: none
}
.table>thead>tr>.active,
.table>tbody>tr>.active,
.table>tfoot>tr>.active,
.table>thead>.active>td,
.table>tbody>.active>td,
.table>tfoot>.active>td,
.table>thead>.active>th,
.table>tbody>.active>th,
.table>tfoot>.active>th {
background-color: #f5f5f5
}
.table-hover>tbody>tr>.active:hover,
.table-hover>tbody>.active:hover>td,
.table-hover>tbody>.active:hover>th {
background-color: #e8e8e8
}
.table>thead>tr>.success,
.table>tbody>tr>.success,
.table>tfoot>tr>.success,
.table>thead>.success>td,
.table>tbody>.success>td,
.table>tfoot>.success>td,
.table>thead>.success>th,
.table>tbody>.success>th,
.table>tfoot>.success>th {
background-color: #dff0d8
}
.table-hover>tbody>tr>.success:hover,
.table-hover>tbody>.success:hover>td,
.table-hover>tbody>.success:hover>th {
background-color: #d0e9c6
}
.table>thead>tr>.danger,
.table>tbody>tr>.danger,
.table>tfoot>tr>.danger,
.table>thead>.danger>td,
.table>tbody>.danger>td,
.table>tfoot>.danger>td,
.table>thead>.danger>th,
.table>tbody>.danger>th,
.table>tfoot>.danger>th {
background-color: #f2dede
}
.table-hover>tbody>tr>.danger:hover,
.table-hover>tbody>.danger:hover>td,
.table-hover>tbody>.danger:hover>th {
background-color: #ebcccc
}
.table>thead>tr>.warning,
.table>tbody>tr>.warning,
.table>tfoot>tr>.warning,
.table>thead>.warning>td,
.table>tbody>.warning>td,
.table>tfoot>.warning>td,
.table>thead>.warning>th,
.table>tbody>.warning>th,
.table>tfoot>.warning>th {
background-color: #fcf8e3
}
.table-hover>tbody>tr>.warning:hover,
.table-hover>tbody>.warning:hover>td,
.table-hover>tbody>.warning:hover>th {
background-color: #faf2cc
}

.table-responsive>.table {
margin-bottom: 0
}
.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
white-space: nowrap
}
.table-responsive>.table-bordered {
border: 0
}
.table-responsive>.table-bordered>thead>tr>th:first-child,
.table-responsive>.table-bordered>tbody>tr>th:first-child,
.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.table-responsive>.table-bordered>thead>tr>td:first-child,
.table-responsive>.table-bordered>tbody>tr>td:first-child,
.table-responsive>.table-bordered>tfoot>tr>td:first-child {
border-left: 0
}
.table-responsive>.table-bordered>thead>tr>th:last-child,
.table-responsive>.table-bordered>tbody>tr>th:last-child,
.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.table-responsive>.table-bordered>thead>tr>td:last-child,
.table-responsive>.table-bordered>tbody>tr>td:last-child,
.table-responsive>.table-bordered>tfoot>tr>td:last-child {
border-right: 0
}
.table-responsive>.table-bordered>tbody>tr:last-child>th,
.table-responsive>.table-bordered>tfoot>tr:last-child>th,
.table-responsive>.table-bordered>tbody>tr:last-child>td,
.table-responsive>.table-bordered>tfoot>tr:last-child>td {
border-bottom: 0
}


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}