.col1, .col2, .col3, .col4 {
  display: inline-block;
  margin: 0px;
  padding: 10px;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.col1 {
  width: 180px;
}

.col2 {
  width: 580px;
}

.col3 {
  width: 680px;
}

.col4 {
  width: 770px;
}