body.profile .content {
  text-align: center;
}

.content .build {
  display: inline-block;
  margin: 10px 10px 30px 10px;
  min-height: 200px;
  width: 460px;
}

p.country_name {
  font-size: 28px;
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  line-height: 30px;
  margin: 10px;
  padding-left: 60px;
  padding-top: 10px;
  position: relative;
}

p.country_name img {
  left: 0px;
  margin: 0px 10px 0 0;
  position: absolute;
  top: 0px;
  vertical-align: top;
  width: 50px;
}

p.eci_value {
  font-size: 15px;
  line-height: 20px;
  margin: 10px;
}

span.rank {
  display: inline-block;
  font-size: 14px;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 14px;
  min-width: 14px;
  padding: 2px;
  text-align: center;
}








table img{
  width: 15px;
}
div#community_treemap{
  float: left;
}
div#headline_info {
  float: right; 
  width: 420px;
}
div#headline_info p span{
  font-size: 20px;
}
div#headline_info img {
  width: 20px;
}
div#data_text {
  float: right;      
  height: 400px;
  overflow-y: scroll;
  width: 420px;
}

.desc { color:#6b6b6b;}
.desc a {color:#0092dd;}

.content .build .list {
  border: solid #bbb 1px;
  height: 300px;
  overflow-y: scroll;
}

#quick_glance {
  overflow: hidden;
  width: 100%;
}