body.explore #sidebar {
  margin-top: 26px;
}

body.explore .content .col3 {
  padding: 10px 0px 0px 0px;
  width: 800px;
}


/* Title formatting */
.title {
  overflow: hidden;
  position: relative;
}

.title a.prev,
.title a.next {
  bottom: 12px;
  color: #666;
  display: inline-block;
  letter-spacing: 1px;
  padding: 3px;
  position: absolute;
}
.title h2 {
  margin: 0px 150px 10px;
}

.title a.prev {
  text-align: left;
  left: 5px;
}

.title a.next {
  text-align: right;
  right: 5px;
}

/* change product classification */
.product_class select {
  width: 52px
}
.explore .pane_title{
  background: url('/static/img/explore/containers_trans.png') no-repeat;
  background-position: -43px -104px;
  margin: 0;
  text-align: center;
  padding: 10px !important;
}


/*
 * Center of the page, app canvas
 */  
.explore .content #dataviz {
  height: 380px;
  position: relative;
}

/* key */
.explore .content .key {
  padding: 3px;
  text-align: center;
}
.explore .content .key img {
  width: 15px;
}
.explore .content .key#hs4 img {
  width: 25px;
}
.explore .content .key#hs4 a {
  padding: 2px 10px 2px 0;
}
.explore .content .key a {
  cursor: pointer;
  margin: 1px;
}
.explore .content .key a.country {
/*  border-radius: 2px;*/
  color: #fff;
  display: inline-block;
  margin: 3px 2px;
  padding: 2px;
  text-decoration: none;
}

.explore #no_data {
  display: none;
  left: 250px;
  height: 0px;
  position: relative;
  top: 40px;
  width: 600px;
  z-index: 99999;
}
.explore #no_data h3 {
  display: inline;
  font-size: 36px;
  margin: 0;
}
.explore #no_data p {
  display: inline;
  text-align: left;
}  
