#main #content .didyouknow_container{
	height: 415px;
}
.app_title {
  display: none;
}
#main {
  border: none;
}

#main #content {
/*  border-radius: 10px;*/
  margin: 10px 0 0 0;
  width: 998px;
}

#main #content .didyouknow_container{
  height: 450px;
}

#main #content .didyouknow{
  display: none;
}

#main #content .headline {
  background: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0;
  overflow: hidden;
  width: 100%;
}
#main #content .headline img.pin{
  float: left;
  margin: 0 25px 0 0;
  width: 80px;
}
#main #content .headline h2{
  font-size: 45px;
  font-weight: 100;
  float: left;
  margin: 0;
  width: 400px;
  text-transform: uppercase;
}

#main #content img.pin{
  float: left;
  margin: 0 10px 0 0;
  width: 80px;
}
#main #content h2{
  font-size: 50px;
  font-weight: 100;
  float: left;
  margin: 0;
  width: 260px;
  text-transform: uppercase;
}

#main #content .text{
  float: left;
  margin: 0 30px 0 0;
  width: 365px;
}
#main #content .text h3{
  line-height: 32px;
  margin: 20px 0 10px 0;
  font-size: 32px;
  font-weight: 100;
}
#main #content .text p{
  font-size: 22px;
}
#main #content .text ul{
  font-size: 18px;
  list-style: circle;
  line-height: 26px;
}
#main #content .app {
  margin: 10px 0 0 0;
}
#main #content h3{
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 0 0;
/*  text-align: center;*/
}
#main #content .other_apps h3{
  font-size: 28px;
  font-weight: normal;
  margin: 0px 0 10px 0;
}
#main #content .other_apps div{
  float: left;
  margin: 0 30px 0 0;
}
#main #content .other_apps div a{
  display: inline-block;
  border: solid 1px #ccc;
  padding: 10px;
}
#main #content .other_apps div a:hover{
  border: solid 1px #000;
}
#main #content .other_apps div img{
  width: 200px;
}
#main #content .other_apps div:last-child{
  margin: 0;
}

#search {
  padding: 110px 0 140px 0;
  text-align: center;
}
#search h3 {
  margin: 20px 0 !important;
}

input {
/*  width: 100%;*/
  width: 600px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
/*  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;*/
  outline: none;
  margin: 0 0 5px 0;
}

.tt-dropdown-menu {
  width: 626px;
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
/*  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
*/  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  text-align: left;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion p {
  font-size: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}