table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}
thead {
  display: table-header-group
}
tr, img {
  page-break-inside: avoid
}
table.bordered th,
table.bordered td {
  border: 1px solid #ddd !important;
}



th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
table th,
table td {
  padding: 8px;
  line-height: 19px;
  vertical-align: top;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

table tbody tr:last-child {
  border: 0px;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
table tbody th {
  min-width: 100px;
}
table.condensed th,
table.condensed td {
  padding: 5px;
}
table.striped tbody tr:nth-child(even)>td,
table.striped tbody tr:nth-child(even)>th {
  background-color: #f7f7f7;
}
table.hover tbody tr:hover>td,
table.hover tbody tr:hover>th {
  background-color: #f5f5f5;
}
