
/* Title formatting */
.title {
  overflow: hidden;
  position: relative;
}

.title a.prev,
.title a.next {
  bottom: 12px;
  color: #666;
  display: inline-block;
  letter-spacing: 1px;
  padding: 3px;
  position: absolute;
}
.title h2 {
  margin: 0px 150px 10px;
}

.title a.prev {
  text-align: left;
  left: 5px;
}

.title a.next {
  text-align: right;
  right: 5px;
}

#sidebar h3 {
  display: inline-block;
  margin: 8px 5px 0px 0px;
}

.change_year {
  display: inline-block;
  margin: 10px 0px;
}

table {
  font-size: 14px;
  width: 100%;
}
table thead th{
  background-color: #f0f0f0;
  color: #888;
  font-weight: lighter;
  text-align: left;
}
table thead th a{
  font-weight: normal;
  color: #666;
}
table tbody tr td {
  padding: 10px;
  position: relative;
}
table thead tr th:nth-child(1),
table tbody tr td:nth-child(1) {
  text-align: center;
  padding: 8px;
  width: 30px;
}
table thead tr th:nth-child(2),
table tbody tr td:nth-child(2) {
  text-align: left;
  width: 50px;
}
table thead tr th:nth-child(3),
table tbody tr td:nth-child(3) {
  text-align: center;
  width: 30px;
}
table thead tr th:nth-child(4),
table tbody tr td:nth-child(4) {
  width: 400px;
}
table tbody tr td:nth-child(4) {
  padding-left: 30px;
  position: relative;
}
table thead tr th:nth-child(5),
table tbody tr td:nth-child(5) {
  width: 80px;
}
table thead tr th:nth-child(6),
table tbody tr td:nth-child(6) {
  width: 50px;
}
table tbody tr td a {
  display: inline-block;
  margin: 3px 0 0 3px;
  vertical-align: top;
}
table tbody tr td span {
  color: white;
  display: block;
  padding: 2px;
  text-align: center;
}
table tbody tr td img.icon {
  height: 25px;
  width: 25px;
}
.fa-arrow-up {
  color: #00cc00;
}
.fa-arrow-down {
  color: #cc0000;
}