div.member {
  margin-bottom: 20px;
  min-height: 100px;
  padding-left: 120px;
  position: relative;
}

div.member:before {
  background-position: center;
  background-size: 100%;
  content: "";
  display: block;
  height: 100px;
  left: 10px;
  position: absolute;
  top: 0px;
  -webkit-transition: background-image .1s;
          transition: background-image .1s;
  width: 100px;
  vertical-align: top;
}

div.member i {
  margin: 5px 1px;
}

div#alexander_simoes:before {
  background-image: url("/static/img/about/team/alexander_simoes_bw.png");
}
div#alexander_simoes:hover:before {
  background-image: url("/static/img/about/team/alexander_simoes_color.png");
}

div#cesar_hidalgo:before {
  background-image: url("/static/img/about/team/cesar_hidalgo_bw.png");
}
div#cesar_hidalgo:hover:before {
  background-image: url("/static/img/about/team/cesar_hidalgo_color.png");
}

div#dave_landry:before {
  background-image: url("/static/img/about/team/dave_landry_bw.png");
}
div#dave_landry:hover:before {
  background-image: url("/static/img/about/team/dave_landry_color.png");
}

div#eric_franco:before {
  background-image: url("/static/img/about/team/eric_franco_bw.png");
}
div#eric_franco:hover:before {
  background-image: url("/static/img/about/team/eric_franco_color.png");
}

div#crystal_noel:before {
  background-image: url("/static/img/about/team/crystal_noel_bw.png");
}
div#crystal_noel:hover:before {
  background-image: url("/static/img/about/team/crystal_noel_color.png");
}

div#ali_almossawi:before {
  background-image: url("/static/img/about/team/ali_almossawi_bw.png");
}
div#ali_almossawi:hover:before {
  background-image: url("/static/img/about/team/ali_almossawi_color.png");
}

div#sarah_chung:before {
  background-image: url("/static/img/about/team/sarah_chung_bw.png");
}
div#sarah_chung:hover:before {
  background-image: url("/static/img/about/team/sarah_chung_color.png");
}

/************/
/* Overview */
/************/
div.data_sources {
  overflow: auto;
}
div.data_sources div {
  border: solid 1px #888;
  display: inline-block;
  float: left;
  padding: 10px;
  width: 250px;
}
div.data_sources div#hs {
  margin: 0 0 0 30px;
}
div.data_sources h4 {
  margin: 0 0 5px 0;
}

/***********/
/* Updates */
/***********/
#updates h2 {
  margin: 10px 0px;
  width: 100%;
}

#updates article {
  border-bottom: solid 1px #ccc;
  margin: 10px 0px;
  padding-bottom: 20px;
}

#updates article:last-child {
  border-bottom: none
}

#updates article .date {
  margin: -10px 0px 10px;
  text-align: center;
}

#updates ul {
  list-style-type: circle;
  margin-top: 10px;
  padding-left: 25px;
}

#updates li {
  margin: 4px 0px;
}
/*#updates article {
  line-height: 1.5em;
  border-bottom: solid 1px;
  padding: 25px 0;
}
#updates article:first-child {
  padding-top: 10px;
}
#updates article:last-child {
  border-bottom: none;
}
#updates article h2.title {
  font-size: 26px;
  margin: 0 0 5px 0;
  text-align: left;
}
#updates article time {
  display: inline-block;
  margin: 0 0 20px 0;
}
#updates article h2 {
  text-align: left;
  font-size: 16px;
  margin: 15px 0 4px 0;
}
#updates article p {
  line-height: 1.5em;
}
#updates article ul {
  padding: 0 0 0 20px;
}*/
