#sidebar > ul > li > ul > ul > li.active > a:after {
  color: rgba(0,0,0,0.5);
  content: "\f054";
  display: block;
  font-family: FontAwesome;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  right: 5px;
  top: 5px;
}

#sidebar li.icon > a {
  padding-left: 30px;
  position: relative;
}

li.icon > a:before {
  background-position: 50%;
  background-size: 100%;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 13px;
  left: 4px;
  line-height: 13px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 6px;
  -webkit-transition: backgorund-image 0.3s, opacity 0.3s, color 0.3s;
          transition: backgorund-image 0.3s, opacity 0.3s, color 0.3s;
  width: 13px;
}

a.icon {
  padding-left: 15px;
  position: relative;
}

a.icon:before {
  background-position: 50%;
  background-size: 100%;
  content: "";
  color: #888;
  display: block;
  font-family: FontAwesome;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 10px;
  left: 0px;
  line-height: 10px;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 0px;
  -webkit-transition: backgorund-image 0.3s, opacity 0.3s, color 0.3s;
          transition: backgorund-image 0.3s, opacity 0.3s, color 0.3s;
  width: 10px;
}

a.pdf.icon:before {
  background-image: url("/static/img/icons/file/file_pdf_black.png");
}

a.csv.icon:before {
  background-image: url("/static/img/icons/file/file_csv_black.png");
}

a.svg.icon:before {
  background-image: url("/static/img/icons/file/file_svg_black.png");
}

a.png.icon:before {
  background-image: url("/static/img/icons/file/file_png_black.png");
}

a.text.icon:before {
  content: "\f00b";
}

a.app.icon:before {
  content: "\f009";
}

a.fullscreen.icon:before {
  content: "\f08e";
}

li.icon > a:before {
  color: black;
  opacity: 0.5;
}

li.icon.active > a:before {
  color: white;
  opacity: 1;
}

li.pdf.icon > a,
li.download.icon > a {
  height: auto !important;
}

li.pdf.icon > a:before,
li.download.icon > a:before {
  height: 26px;
  left: 0px;
  padding: 0px;
  top: 50%;
  margin-top: -7px;
  width: 26px;
}

li.pdf.icon > a:before {
  content: "\f0f6";
  font-size: 24px;
}

li.download.icon > a:before {
  content: "\f0c7";
  font-size: 20px;
}

li#team.icon > a:before {
  content: "\f0c0";
}

li#data.icon > a:before {
  content: "\f00b";
}

li#api.icon > a:before {
  content: "\f121";
}

li#permissions.icon > a:before {
  content: "\f13e";
}

li#updates.icon > a:before {
  content: "\f09b";
}

li#translations.icon > a:before {
  content: "\f024";
}

li#faqs.icon > a:before {
  content: "\f128";
}

li#tree_map.icon > a:before {
  background-image: url("/static/img/icons/app/app_tree_map_black.png");
}
li#tree_map.icon.active > a:before {
  background-image: url("/static/img/icons/app/app_tree_map.png");
}

li#stacked.icon > a:before {
  background-image: url("/static/img/icons/app/app_stacked_black.png");
}
li#stacked.icon.active > a:before {
  background-image: url("/static/img/icons/app/app_stacked.png");
}

li#network.icon > a:before {
  background-image: url("/static/img/icons/app/app_network_black.png");
}
li#network.icon.active > a:before {
  background-image: url("/static/img/icons/app/app_network.png");
}

li#rings.icon > a:before {
  background-image: url("/static/img/icons/app/app_rings_black.png");
}
li#rings.icon.active > a:before {
  background-image: url("/static/img/icons/app/app_rings.png");
}

li#geo_map.icon > a:before {
  background-image: url("/static/img/icons/app/app_geo_map_black.png");
}
li#geo_map.icon.active > a:before {
  background-image: url("/static/img/icons/app/app_geo_map.png");
}

li#compare.icon > a:before {
  background-image: url("/static/img/icons/app/app_compare_black.png");
}
li#compare.icon.active > a:before {
  background-image: url("/static/img/icons/app/app_compare.png");
}

li#scatter.icon > a:before {
  background-image: url("/static/img/icons/app/app_scatter_black.png");
}
li#scatter.icon.active > a:before {
  background-image: url("/static/img/icons/app/app_scatter.png");
}