{% extends "templates/about.html" %}

{% block about_title %}:: Data ({{ data_type|upper }}){% endblock %}

{% block about_content %}
  <table class="table table-bordered table-condensed table-striped">
    
    <thead>
      <tr>
    
        <th>&nbsp;</th>
        {% for h in headers %}
        <th>{{ h }}</th>
        {% endfor %}
    
      </tr>
    </thead>
    
    <tbody>
      
      {% for item in items %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item.get_name() }}</td>
        <td>{{ item.id }}</td>
      </tr>
      {% endfor %}
  
    </tbody>

  </table>
{% endblock %}