{% extends "templates/site.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.about.css" />
{% endblock %}

{% block body %}
<div class="content">
  
  <div id="sidebar" class="col1">
    
    <nav role="navigation">
      <ul>
        <li><a href="/about/team/">Team</a></li>
        <li><a href="/about/overview/" class="active">Overview</a></li>
        <li><a href="/about/data/">Data</a></li>
        <li><a href="/about/permissions/">Permissions</a></li>
        <li><a href="/about/updates/">Updates</a></li>
        <li><a href="/about/faqs/">FAQs</a></li>
      </ul>
    </nav>
    
  </div>

  <div class="col2">
    <h3>What is it?</h3>
    <p>The Observatory of Economic Complexity is a tool that allows users to quickly compose a visual narrative about countries and the products they exchange. </p>
    <h3>Apps</h3>
    <p>Each of the different visualizations allow for different views of the same data. The tree maps show the shares of trade that a country of product make up while the stacked area charts show this same data over time. The product space is a unique view of the network of relatedness of products that countries trade. The layout remains fixed while the countries export basket is overlayed with a thick black border on the products they were exporting in the given year.</p>
    <h3>Data</h3>
    <p>The observatory provides access to bilateral trade data for roughly 200 countries, 50 years and over 2000 different products between the SITC (standard international trade classification) revision 2 classification at the 4 digit resolution and the HS (harmonized system) classification at the 4 digit resolution. The source of the data we are using is:</p>
    <div class="data_sources">
      <div id="sitc">
        <h4>SITC</h4>
        <p>
          1962 - 2000<br />
          <a href="http://cid.econ.ucdavis.edu/">The Center for International Data from Robert Feenstra</a>
        </p>
        <p>
          2001 - 2010<br />
          <a href="http://comtrade.un.org/">UN COMTRADE</a>
        </p>
      </div>
      <div id="hs">
        <h4>HS</h4>
        <p>
          1995 - 2011<br />
          <a href="http://www.cepii.fr/CEPII/en/bdd_modele/presentation.asp">BACI: International Trade Database at the Product-Level</a>
        </p>
      </div>
    </div>
    <h3>Re-using and Contributing</h3>
    <p>The Observatory website is an open source platform built as part of the lead developer, Alexander Simoes' Master's Thesis at the MIT Media Lab. In being an open source project and leveraging the many technologies also available for fair use we welcome any and all collaborators to the project. Feel free to fork the site at: <a href="https://github.com/alexandersimoes/oec" title="Fork me on github">github.com/alexandersimoes/atlas_economic_complexity</a></p>
    <p>We also provide an <a href="/api">API</a> for the casual user interested in embedding their own Observatory app on any webpage.</p>
  </div> 
</div>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}