{% extends "templates/about.html" %}

{% block about_title %}:: Frequently Asked Questions (FAQs){% endblock %}

{% block about_content %}
  <h3>Translations</h3>
  <p>The goal of the OEC is to become an online resource for global trade. As 
    such we would like to attract as many international visitors to the site as 
    possible. The goal of translating the site is two-fold, part 1 being to 
    "translate" the official esoteric HS and SITC product classification names 
    and part 2 being to translate these cleaned up names from english to the 
    other 15 languages supported by the site.<p>
  <h3>How to Help</h3>
  <p>Are you a bilingual speaker with some free time on your hands? If so, then
    you can help us improve our translations on the site. Have we mentioned 
    that the site and all of its data are open source? By lending a hand, you 
    can help to create a global resource for others wishing to work 
    with international trade data.</p>
  <h3>Instructions</h3>
  <p>Below you'll see headers for each language supported by the site with 
    links to a Google Spreadsheet that holds the relevant translations. For 
    each of the products listed in the spreadsheet there are "Name", 
    "Description", "Keyword", "Gender", "Plural" and "Article" columns. 
    Right-click on the cell you wish to edit and click Insert Comment.
    <dl>
      <dt>Name</dt>
        <dd>The short name which will appear in all of the visualizations 
          (please keep this short as space is at a premium in all data 
          visualizations)</dd>
      <dt>Description</dt>
        <dd>This is the longer definition of the product used to give a more
          in-dpeth description of how this product differs from another that
          might be similar.</dd>
      <dt>Keywords</dt>
        <dd>These are synonyms that could be used for better search results 
          e.g. "auto, vehicle, truck" for the product "Cars". Please enter
          these as a comma separated list.</dd>
      <dt>Gender</dt>
        <dd>If the name supplied takes a gender in the language you are 
          contributing. Please use "m" for masculine and "f" for feminine.</dd>
      <dt>Plural</dt>
        <dd>Whether or not the name supplied is plural. Please use 1 to 
          indicate yes and 0 or empty cell to indicate no.</dd>
      <dt>Article</dt>
        <dd>Whether or not the name supplied requires an article i.e. "the". 
          Please use 1 to indicate yes and 0 or empty cell to indicate no.</dd>
    </dl>
  </p>
  <h3 id="ar">Arabic</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=1588586677">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=82159825">SITC Products</a></li>
  </ul>
  <h3 id="de">German</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=530064643">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=1586143831">SITC Products</a></li>
  </ul>
  <h3 id="el">Greek</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=983179787">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=1486300701">SITC Products</a></li>
  </ul>
  <h3 id="es">Spanish</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=1944583101">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=1166478575">SITC Products</a></li>
  </ul>
  <h3 id="fr">French</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=1905672748">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=564122962">SITC Products</a></li>
  </ul>
  <h3 id="he">Hebrew</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=2128588905">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=126221055">SITC Products</a></li>
  </ul>
  <h3 id="hi">Hindi</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=743517428">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=1150209283">SITC Products</a></li>
  </ul>
  <h3 id="it">Italian</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=88825508">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=233912049">SITC Products</a></li>
  </ul>
  <h3 id="ja">Japanese</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=232303061">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=1722573768">SITC Products</a></li>
  </ul>
  <h3 id="ko">Korean</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=1935639514">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=2145648743">SITC Products</a></li>
  </ul>
  <h3 id="nl">Dutch</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=1662472861">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=1901813015">SITC Products</a></li>
  </ul>
  <h3 id="ru">Russian</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=857066651">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=842832137">SITC Products</a></li>
  </ul>
  <h3 id="pt">Portuguese</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=622515059">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=596935311">SITC Products</a></li>
  </ul>
  <h3 id="tr">Turkish</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=207686126">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=859190494">SITC Products</a></li>
  </ul>
  <h3 id="zh_cn">Chinese (Simplified)</h3>
  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1mPG5zgQmeh3vRsGQrIOq8hPONXNRGW1OC449ExAqMVs/edit#gid=1365752192">HS Products</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1blDK7Vw9hv1UqxaYs5gqveCCLi0Tq8mKABzl8DP0g6Q/edit#gid=826330770">SITC Products</a></li>
  </ul>
{% endblock %}